[2021-02-11 18:56] danirus commented on #279
This happens when I pretend to fix something before I have breakfast.
Thank you again @manisar2.

[2021-02-11 19:19] manisar2 commented on #279
NP!

[2021-02-11 20:56] ogurec-ogurec commented on #210
please tell, is it possible to make all comments to the object (Post, for example) show already in ascending order from the most popular (from most pluses to the smallest)? @danirus

[2021-02-11 21:32] ogurec-ogurec commented on #206
I understand correctly that after setting the COMMENTS_XTD_DEFAULT_FOLLOW_UP = True setting, the Notify about subsequent comments checkbox should be enabled?
After updating the setting, the checkmark is still unchecked :(

[2021-02-12 08:06] drholera commented on #206
You should use the `COMMENTS_XTD_DEFAULT_FOLLOWUP ` setting, without the underscore.

[2021-02-12 08:10] danirus commented on #206
Sorry about that.
We forgot to modify the [docs](https://django-comments-xtd.readthedocs.io/en/latest/settings.html) to mention the new setting.

[2021-02-12 08:57] drholera commented on #206
Hello @danirus
Added #283, could you please check if it's enough or we need to add some additional info?

[2021-02-12 11:32] #206 closed

[2021-02-12 13:40] danirus commented on #210
With version 2.8 is not possible. With v3.0 it is, but it's not ready yet, you could play with it in the branch rel-3.0.0.
There is a new `CommentReaction` model that is better for aggregation (as described [here](https://docs.djangoproject.com/en/3.1/topics/db/aggregation/)). With v3.0 it's possible to do something like this:

    from django.db.models import Q
    from django_comments_xtd.models

[2021-02-12 19:58] ogurec-ogurec commented on #206
Thanks!, added setting to setting.py
`COMMENTS_XTD_DEFAULT_FOLLOWUP = True`
But all the same, the checkmark in the comments is inactive (

[2021-02-12 20:02] ogurec-ogurec commented on #210
Thanks, we'll wait :)
Good luck with your affairs! @danirus

[2021-02-12 20:10] ogurec-ogurec opened #284 "Double click on the button (send comment)"
The situation is this: If you fill out a comment and very quickly click on the "Submit" button (for example, by double clicking), then the comment is published twice - duplicated. Maybe three.This applies to comments and answers. Perhaps this already needs to be implemented on the user side (double-click protection), but I can't help but mention it.

![image](https://user-images.githubusercontent.

[2021-02-13 07:50] danirus commented on #206
Can you run your project's shell command and run this code?

    '2.8.3'

    django_comments_xtd.forms.XtdCommentForm

What do they return? If the version is older than [2.8.3](https://github.com/danirus/django-comments-xtd/releases/tag/2.8.3), the setting was not implemented yet. It's only available as of 2.8.3. If on the other hand the form is a class other than `django_comments_xtd.forms.XtdCo

[2021-02-13 07:51] danirus commented on #206
@ogurec-ogurec, this questions would better be in Discussions.

[2021-02-22 01:59] manisar2 commented on #200
If someone needs the code for implementing what has been asked in this thread, here it is.

It is a simple modification of the default `email` function present in the CommentModerator class. Be sure to have the `comment_notification_email.html` template ready in your comments app's template folder. Note that I'm not using the translation module which was used in the original `email` function (for

[2021-02-22 12:57] danirus commented on #204
Sorry for the late reply, @ogurec-ogurec. The code is in `static/django_comments_xtd/js/src/comment.jsx`.
Look for `reply_form`. It's an object with the form component and a boolean `is_visible`. The problem is that the info alert indicating that a comment confirmation has been sent is part of the component. So if you set `is_visible` to `false` to hide the form, you will also hide that info alert

[2021-02-22 15:39] danirus commented on #266
Sorry for the late reply @ogurec-ogurec,
In the `reply.html` you get the `comment` as a context object. From that object you can get the name with `comment.user.get_full_name()` or if it is not a registered user with `comment.user_name`.

[2021-02-28 10:02] danirus commented on #271
I finally reproduced the error. The management command `initialize_nested_count` does inspect the user model, but only explicitly. `user` is an attribute of the model tree of which `XtdComment` is part of. The problem is indeed as you mention, that the user model, whatever it is, is not yet reflected in the DB as defined in code, at the moment the migration 0008 tries to run. Thank you again for t

[2021-02-28 14:55] danirus commented on #271
The fix has been merged in master. The solution consist of not running the management command in association with the migration 0008. Django developers who want to use the nested_count attribute can run the command manually. I have added a new section in [the documentation](https://django-comments-xtd.readthedocs.io/en/latest/management.html) to explain the `initialize_nested_count`.

[2021-02-28 14:55] #271 closed

[2021-02-28 15:29] danirus commented on #284
Thanks for the report @ogurec-ogurec. Can be fix in the frontend, disabling the send button since it's been clicked and until there is a response.

[2021-02-28 15:33] danirus opened #291 "The frontend must be aware of COMMENTS_XTD_DEFAULT_FOLLOWUP"
The frontend side must be aware of the `COMMENTS_XTD_DEFAULT_FOLLOWUP` setting. The forms displayed using the JavaScript plugin must initialize the followup checkbox with the value given in that setting.

[2021-03-02 14:09] danirus opened #292 "JavaScript files are not added to the bundle"
Fix the GitHub Action pipeline that builds the package so that the frontend files are added to the bundle.

[2021-03-20 11:04] #291 closed

[2021-03-20 11:34] #284 closed

[2021-03-30 13:04] odescopi opened #300 "django comments xtd"
hello dan i have successfully run the tutorial project but still i get the same error..the comment freezes after sending..with a console error..internal server error..below
![tutorerror](https://user-images.githubusercontent.com/51009927/112993111-b3b51400-911d-11eb-8c4e-cf1c76fac50a.PNG)
 is a screenshot.

[2021-04-11 14:07] woesoe opened #304 "Nested comments not indenting"
I've been trying to get nested comments to work on my Wagtail/Puput blog. The comments are registered in django-admin as nested:

![django-admin_nested_comments](https://user-images.githubusercontent.com/37574641/114307199-de6c7880-9ade-11eb-9548-ede8b8fb9e40.PNG)

But the nested comments don't indent to the right, but just show up straight below the original comment:

![nested_comments_not_indent

[2021-04-11 16:19] danirus commented on #304
In v2 of django-comments-txtd the indentation depends on loading `bootstrap.css`. It's not very well documented. Only if you go through the tutorial or install the demo/comp project you could see that:

    <link href="{% static 'django_comments_xtd/css/bootstrap.min.css' %}" rel="stylesheet">

The future v3 (i'm working on it but I can't put a release date yet) will not depend on any frontend CSS

[2021-04-11 21:24] woesoe commented on #304
Hi danirus, thank you for your comment.

Adding `django_comments_xtd/css/bootstrap.min.css` indeed does the trick when it comes to showing the indentation etc. But since Puput already uses a bootstrap css file, webpages on my blog that show the comments section are completely changed when I load the new django-comments-xtd bootstrap file.

I'm still looking for a good way to specifically change th

[2021-04-11 21:44] woesoe commented on #304
Nvm, I've decided I'm going to try to use the `django_comments_xtd/css/bootstrap.min.css`, since it's a newer version of bootstrap anyway and I can actually get pretty good results with it if load it before the `puput.css` file is loaded in `base.html`.

Thanks again!

[2021-04-11 21:44] #304 closed

[2021-05-16 09:31] danirus opened #311 "Comments attribute `nested_count` is not correctly updated"
When a comments thread has multiple branches with level > 2 the `nested_count` attribute is not correctly updated.

[2021-05-17 05:12] #311 closed

[2021-06-01 12:46] ebernardino01 commented on #160
May I know when will the feature be available? Planning to integrate this with our app and eventually the comments will increase as the application gets more users.

[2021-06-02 06:05] danirus commented on #160
It won't be available in v2 but for v3. It is already in branch rel-3.0.0. But it's not backwards compatible, and it doesn't have a JavaScript interface yet.

It's not backwards compatible because it doesn't use the comment tree anymore. There is a new `render_xtdcomment_list` template tag that mirrors the `render_comment_list` from django-comments adding what is needed to display comment threads,

[2021-06-11 10:17] ShayestehHS opened #314 "Comment tree"
Hello and thanks for your API 😅
I have a problem to comments
Reply to comments are not look as tree
They look like these:
- comment
- reply to comment
I want to look like these:
- comment
- -reply to comment
_______________________________________
I don't  know that what is the problem
{% render_xtdcomment_tree for blog %} => this code used in html
[
![Untitled](https://user-images.githubuserconte

[2021-06-15 10:22] danirus commented on #314
Hi @ShayestehHS, sorry for the late answer.
It looks like you are not adding the .css file. I failed to mention it in the tutorial.
Check your templates to see if you have this:

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

[2021-06-15 17:16] ShayestehHS commented on #314
NO😢😔😔

[2021-06-16 14:01] dest81 opened #316 "API validationerror response in CommentCreate view"
[Here](https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/api/views.py#L39) we use `iterkeys` and code returns only name of the field which hasn't passed validation.
Also I think we should return full dictionary with field name and error message like it's done in the django-rest-framework:
[code]
But this could be breaking change for someone.

[2021-06-17 09:35] danirus commented on #316
I do agree. I think I did it so to ease the reading of `non_field_errors` in the ReactJS plugin. I expected only one of such errors, the "User not authenticated" (a bit stupid decision in retrospective). But there is no actual problem reading the dictionary instead of a string in the plugin.

The only concern I see, as you pointed out, is that it breaks backward compatibility.

It can be fixed in

[2021-06-17 09:45] danirus commented on #314
One question, what it is `blog` in `{% render_xtdcomment_tree for blog %}`?

With the information that you posted here it's difficult to say anything other than it certainly looks like it is missing the bootstrap CSS file. Can you post the output of the console of your browser?

Also, did you go through the complete [tutorial](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html)?

[2021-06-17 10:37] ShayestehHS commented on #314
I am really really really sorry because of taking your time
You are right
Problem solved after add cdn of bootstrap
I should update my bootstrap 😔🤦‍♂️🤦‍♂️🤦‍♂️

On Thu, Jun 17, 2021 at 2:15 PM Daniel Rus Morales ***@***.***>
wrote:

[2021-06-17 10:48] danirus commented on #314
My pleasure ;-)

[2021-06-17 10:48] #314 closed

[2021-06-20 17:05] abiatarfestus opened #318 "1064 SQL syntax error"
Hi Danirus! I'm trying to implement django-comments-xtd on my blog for the first time. Almost everything seems to be well, except that I'm getting this error when posting (authenticated user) or confirming (anonymous user) comments:
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'ORDER BY `django_comme

[2021-06-21 07:07] dest81 commented on #316
Hi Danirus,
Yes, send me please (or write here) instructions how to setup rel-3.0.0

[2021-06-24 05:34] danirus commented on #316
Clone the repository and checkout the `rel-3.0.0` branch. Create a virtualenv.
Run `make deps` to install the dependencies of django-comments-xtd and dependencies for development.
Then cd into the `demo` directory, and create a `.env_local` file with these settings (you can pick the values from the `settings.py` module in the `example/comp` directory):

    export DJANGO_SETTINGS_MODULE=project.se

[2021-06-26 07:19] danirus commented on #316
Just pushed changes in rel-3.0.0 to configure the tests.
There was an issue with the pytest.ini and the conftest.py module.

[2021-06-26 23:25] abiatarfestus opened #319 "XtdComment fields not updating with correct values"
Hi Danirus! I'm trying to implement django-comments-xtd on my blog for the first time. Almost everything seems to be well, but I'm experiencing a problem with how comments are associated with one another. I noticed that my comments were not threaded (indented) when rendered on the page, although I was able to post replies. I checked the database and all comments had the following values: 'thread_i

[2021-06-27 19:38] abiatarfestus commented on #318
Resolved it by downgrading Django from 3.2 to 3.1

[2021-06-28 05:28] danirus commented on #319
Hi @abiatarfestus,
Check if you are not loading the `bootstrap.min.css` file in your `base.html` template.
You need [this line](https://github.com/danirus/django-comments-xtd/blob/master/example/comp/templates/base.html#L11) in your templates.

[2021-06-28 19:58] abiatarfestus commented on #319
Thank you. I was loading the same file in the project already but version 5. I'm now loading the one you referred to, and it fixed the problem although it has broken/changed the styling in the rest of the project, which was based on v5.

[2021-06-28 22:42] abiatarfestus commented on #258
I'm also experiencing this issue in production when logged in. Has the cause been found? In development it works fine, but on production it displays "Sorry, your comment was rejected" and logs: Forbidden: /comments/api/comment/. In the console it points to a the following portion of jquery-3.3.1.min.js:2:

`try{s.send(t.hasContent&&t.data||null)}catch(e){if(n)throw e}},abort:function(){n&&n()}}}),

[2021-07-01 22:32] abiatarfestus commented on #258
When I inspected the page, if found the followowing error to be the cause of the 403 response error: "CSRF Failed: CSRF token missing or incorrect".

[2021-07-02 19:19] abiatarfestus commented on #258
After a couple of unsuccessful attempts, I can report that I managed to get around this error by switching off CSRF_USE_SESSIONS, which was previously set to True in my settings.

[2021-07-10 13:05] sabyasachi opened #320 "Is there a way to disable Gravatar?"
Thanks for the great project! 🙂

I'm trying to disable the Gravatar image. Is there a way to do it?

I could not find any setting option, so, I tried removing the following line from the the template `comment_tree.html`:

[code]

But then the inner comments lose the indentation.

[2021-07-13 06:31] danirus commented on #320
Hi @sabyasachi, there is a setting called [COMMENTS_XTD_API_GET_USER_AVATAR](https://django-comments-xtd.readthedocs.io/en/latest/settings.html#comments-xtd-api-get-user-avatar) that allows you to customize how to obtain the avatar. But there is no setting to disable the avatar. In v3 the app works as you want it by default, no avatar. But v3 is still under development. Slow development...

If you

[2021-07-16 19:33] dest81 commented on #316
Hi @danirus,
Sorry, was busy at work, currently on vacation, will have a look in it in two weeks. Hope it's not too late.

[2021-07-17 13:49] danirus commented on #316
It's never too late... :-)

[2021-07-19 09:40] sabyasachi commented on #320
Thank you @danirus for your reply!

I tried removing line 412 from `static/django_comments_xtd/js/src/comment.jsx`. It removes the Gravatar, but it also loses the indentation of inner comments.

After removing line#412:

<img width="623" alt="after-removing-gravatar" src="https://user-images.githubusercontent.com/245364/126106436-854de1ce-20b5-4448-a2cd-25762f01796c.png">

Before removing line#412

[2021-08-07 04:47] sabyasachi commented on #320
Here is what I did:

To fix the indentation, add one `ml-5` class [in this line](https://github.com/danirus/django-comments-xtd/blob/12cf2e8dbdd359f2058f84e576bc4d8b9755c3e4/django_comments_xtd/templates/django_comments_xtd/comment_tree.html#L6). But, this class should be added only for replies (should not be added for the first level comments.).

[code]

Then I made the following change [in the r

[2021-08-07 04:52] sabyasachi opened #322 "Using with other Bootstrap CSS themes"
`django-comments-xtd` is using a modified version of Bootswatch Lumen theme.

Have people been using `django-comments-xtd` with other Bootstrap CSS themes, etc? If yes, what are your recommendations for avoiding accidental overrides and conflicts?

[2021-08-12 14:02] jdbit opened #323 "How to get a parent comment in the followup email template?"
Hi,
is there a method to get a parent comment text (if a user replied to some comment) in the followup email notification template?

[2021-08-12 17:09] danirus commented on #323
No, django-comments-xtd does not provide anything in particular. But you can implement a simple_tag like the following in your `templatetags` directory:

    @register.simple_tag(takes_context=True)
    def get_parent_comment(context):
        return XtdComment.objects.get(pk=context['comment'].parent_id)

And use it in the `email_followup_comment.txt` template:

    {% load your_templatetags_modu

[2021-08-14 10:51] jdbit commented on #323
Thanks! I'll use the template tag then.

[2021-08-14 10:51] #323 closed

[2021-08-26 05:21] danirus opened #326 "Improve queryset when sending follow-up notifications"
As commented by @enzedonline [here](https://github.com/danirus/django-comments-xtd/discussions/325), the queryset used in the function `notify_comment_followers` could be improve using `DISTINCT` and falling back to the current query when the database does not support it, as is the case with sqlite.

[2021-08-26 05:27] #326 closed, assigned to nobody

[2021-09-08 15:30] ManHand1996 opened #331 "JavaScript plugin: browser console: Uncaught ReferenceError: django is not defined"
**Following the [document](https://django-comments-xtd.readthedocs.io/en/latest/javascript.html#install-frontend-packages) I build up the frontend packages but using my project (using render tag 'render_comment_list',comment is work, but i don't want the page redirect to another page when reply or post comments)**

[code]
I so confused why in this repo, the webpack external module 'django'  was fo

[2021-09-09 03:42] ManHand1996 commented on #331
My bad , forgot add 'javascript-catalog' script in template
` <script
            type="text/javascript"
            src="{% url 'javascript-catalog' %}"></script>`

[2021-09-09 03:42] #331 closed

[2021-09-13 02:08] tian-yan commented on #238
@uhexos  I am having the same issue and planning to abandoning the package, do you have any good alternatives to share ?

[2021-09-15 17:40] ironworld commented on #318
Hi Guys!

This error occurs on MySQL 8.0.25. To my case, the exception is launched after call function `def publish_or_unpublish_nested_comments(comment, are_public=False):`, on line `s.update(is_public=are_public)`.

What I did to avoid this problem, I'm executing the update only if `qs` variable is valid:

`def publish_or_unpublish_nested_comments(comment, are_public=False):
    qs = get_model()

[2021-09-22 05:23] #318 closed

[2021-09-22 06:40] danirus commented on #318
Thank you all for helping with this issue, and for your patience :-)
It's been merged in 2.9.3 and released already.

[2021-09-22 06:54] Khoding opened #333 "Found another issue with #318"
#318 #332 Found another issue while trying the update

It seems that modifying from the admin site still breaks, just adding if qs: before the second qs.update works for comments with a nested count of 1, but will break for anything above that. (error is still the same)

this is what works for nested count of 0 or 1, will break if it's higher:
[code]

Sadly this goes beyond my knowledge, so I'll h

[2021-09-23 06:18] danirus commented on #333
Hi @Khoding, thanks for bringing it up.

At the moment of the failure the MySQLdb `connections.py` module is trying to run this SQL query:

    b' ORDER BY `django_comments_xtd_xtdcomment`.`thread_id` ASC, `django_comments_xtd_xtdcomment`.`order` ASC'

Which obviously is wrong (it starts with `ORDER`).
I will try to get some time to investigate where is the rest of the SQL query.
For the time bein

[2021-09-23 08:13] PetrDlouhy opened #334 "Comments don't show up when loaded over JavaScript"
I have followed up the tutorial at: https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#javascript-plugin
I created the page almost exact as in the example, but I am still not able to see the comments on the page. It looks like this:
![Snímek obrazovky_2021-09-23_10-09-50](https://user-images.githubusercontent.com/156755/134474123-723b61fe-601c-4f01-ad40-c49f21c079bd.png)
(no commen

[2021-09-23 08:24] PetrDlouhy opened #335 "Document how to (re)load JavaScript commentbox after page load"
I would like to place the commentbox on modal dialog, so that new comments will show with new modal show for appropriate item.
I am a bit confused from the documentation how to achieve that.

I don't see any clear JS call where I can put new `window.comments_props` or what to call after I change them.

[2021-09-23 08:55] PetrDlouhy commented on #334
I was able to figure out, what is the problem. I have set `DEFAULT_PAGINATION_CLASS`
[code]

If I comment it out, but I am still getting following error:
[code]

So I need to investigate more.

[2021-09-23 09:04] danirus commented on #334
Hi @PetrDlouhy, the plugin version has to match the version you have installed of django-comments-xtd.
If you installed django-comments-xtd 2.9.3 (which is available since yesterday), then verify that your template is loading that version of the plugin:

    <script src="{% static 'django_comments_xtd/js/vendor~plugin-2.9.3.js' %}"></script>
    <script src="{% static 'django_comments_xtd/js/plugi

[2021-09-23 09:22] PetrDlouhy commented on #334
@danirus That was not the problem. Now I figured out the second error. I had also `'djangorestframework_camel_case2.parser.CamelCaseJSONParser'` in ` DEFAULT_PARSER_CLASSES` and `DEFAULT_RENDERER_CLASSES` set in `REST_FRAMEWORK` settings.

Now it works perfectly.
I will just have to figure out how to use these classes on my API and not on comments API.

I am thinking how to prevent other users fro

[2021-09-23 18:31] danirus commented on #333
I believe I have found a little more about this issue in the Django Bug Tracker, [here](https://code.djangoproject.com/ticket/32645).

[2021-09-23 19:00] Khoding commented on #333
Interesting, but I'm not sure that's the reason as I'm using Django 3.2.7 and still having the problem. According to [the release notes](https://docs.djangoproject.com/en/3.2/releases/3.2.1/#bugfixes), it was fixed in version 3.2.1.
But it seems to be a similar problem, I'll retry with some versions between 3.2.1 and 3.2.7 tomorrow, maybe it was reintroduced at some point.

[2021-09-24 07:26] danirus commented on #333
The problems happens using the `order_by` in the method `get_queryset` of the `XtdCommentManager`. That code in the `get_queryset` was meant to accelerate reading the comments, but it doesn't do any favor when running updates on fields not related with the `User` or the `ContentType` models.

This issue does not happen with PostgreSQL. It happens with MySQL/MariaDB in Django 3.2 (I only tested in

[2021-09-24 07:47] Khoding commented on #333
Nice, good job finding the issue, and thanks for the help.

[2021-09-24 11:59] PetrDlouhy opened #337 "Installation from repository with pip installs older version"
I am trying to install the project with:
[code]

But it ends up installing older versions of PyPI packages: `django-comments-xtd-2.3.1`, `Django-2.2.24` and old DRF.

This is really veird behavior - seems like it has `django-comments-xtd` dependency on itself. I am trying to figure out what is really happening.
One problem, that I found is the old version `2.3.1` set in header of `pyproject.toml`

[2021-09-26 07:37] #333 closed

[2021-09-28 09:20] jdbit opened #340 "Follow-up email notifications to object authors"
Hi,
I added comments to an object (post) created by a user. Is there a way to send follow-up notifications about new comments to the user who created this post? Probably I can do this through signals, but just curious if it has been already implemented in django-comments-xtd.

[2021-09-28 10:09] danirus commented on #340
Hi @jdbit, I am afraid not, it's not implemented.

I would do it connecting to `comment_was_posted`, and I would verify that the email address of the user that posted the object is not among the email addresses of the users that already have sent comments, to avoid sending more than one email to the same email address.

 It would be a nice feature addition.

[2021-09-28 10:24] jdbit commented on #340
I'll do it through signals then. Thank you!

[2021-09-28 10:24] #340 closed

[2021-09-29 05:21] danirus commented on #337
Yes, the pyproject.toml file is outdated.
Another developer kindly added it and I forgot to update it since then.

[2021-09-29 06:57] danirus commented on #335
The ReactJS plugin will be gone with v3. I will replace it with a vanilla JavaScript implementation.

The reason is that Django applications are for the backend. And so, adding opinionated frontend code was a wrong decision (like using Twitter-Bootstrap). If the application provides an API, frontend code can access the backend functionality, and that should be enough. Also, using twitter-bootstrap

[2021-09-29 07:09] danirus commented on #322
Yes, that's correct. It's outdated.
However the evolution of the app goes towards no frontend dependencies.
In the next major version of the application there will be no use of Twitter-bootstrap or any other CSS or JS frontend framework (see #161).

[2021-09-29 07:40] PetrDlouhy commented on #337
I don't think, that the outdated pyproject.toml is the only problem. I had to erase it completely, because otherwise PIP would install the current PyPI version of `django-comments-xtd`, but I wanted to install from repository with my changes.
I don't know, why PIP does that, but it is very confusing.

[2021-09-29 07:47] PetrDlouhy commented on #335
What I want to do:
- I have [gallery of 3D assets](https://www.blenderkit.com/asset-gallery?query=category_subtree:model%20order:-created).
- After user clicks on each asset, it will open modal detail with large thumbnail, asset description and in the future also comments.
- I want to reload the comments for each asset without need of reloading the whole page.

I did achieve that with the code in

[2021-09-29 09:13] PetrDlouhy commented on #179
@pranavgore09 @danirus I have tested switching ID into PK, and it worked after I made two small fixes (#342).
The only condition is, that the UUID field has to be true PK:
[code]

[2021-09-30 18:27] danirus commented on #337
26d1d9f05c443446cdb001169865424189996f49 resolves this issue.

[2021-10-21 05:11] tian-yan opened #349 "How to order comment list by num of `likedit`"
I want to order comment list of an article by num of `likedit` in descending manner.
I tried **[Query Expression](https://docs.djangoproject.com/en/3.2/ref/models/expressions/#some-examples)**,

but failed with error **`Exception Value: | Cannot resolve keyword 'likedit_users' into field`**.
It seems that the only way out is adding an extra `field` (num_of_likes for example) to the `Comment` model

[2021-10-21 06:26] tian-yan commented on #349
Thank you for your prompt reply and efforts on the project. I will upgrade to v3.0.0 and give it a try.

[2021-10-31 08:10] ogurec-ogurec commented on #204
Hello, Danirus. @danirus

I am trying now to make the form hide after the response is submitted. Please tell me how I can do this. Tried changing is_visible = false but doesn't work :(

[2021-10-31 09:25] ogurec-ogurec opened #352 "resize avatars in responses"
Can you please tell me how you can change the size of the avatars in the answers?

That is, the main comment is a large avatar, and in the responses - a little less:

![image](https://user-images.githubusercontent.com/66796268/139575977-a152d0ad-d4fd-4d88-97c2-6358332df6f7.png)

[2021-10-31 14:34] danirus commented on #352
I wish I could. But as it's distributed, the package doesn't change the size depending on the thread level.
If you are using the JavaScript React plugin, take a look at the code that renders the avatar for each comment, [here](https://github.com/danirus/django-comments-xtd/blob/11b761342973075a38cefe44c8d2fba346d132be/django_comments_xtd/static/django_comments_xtd/js/src/comment.jsx#L413). As you

[2021-10-31 14:58] danirus commented on #204
I would apply the following changes:

    diff --git a/django_comments_xtd/static/django_comments_xtd/js/src/comment.jsx b/django_comments_xtd/static/django_comments_xtd/js/src/comment.jsx
    index 5a0d64b..534d85a 100644
    --- a/django_comments_xtd/static/django_comments_xtd/js/src/comment.jsx
    +++ b/django_comments_xtd/static/django_comments_xtd/js/src/comment.jsx
    @@ -207,7 +207,14 @@

[2021-11-01 20:02] ogurec-ogurec commented on #204
@danirus big thanks.

[2021-11-01 20:09] ogurec-ogurec commented on #352
@danirus I am using [your Javascript plagin](https://django-comments-xtd.readthedocs.io/en/latest/javascript.html), and I thought it would be great to reduce the size of the replies, as this will visually highlight the main comment under which the discussion is going. Unfortunately, I'm not good at Javascript, so I don't know how to do it and wrote a question here. :)

[2021-11-01 20:15] ogurec-ogurec commented on #352
In other words, how can you access exactly the answers, and not the main comment. Maybe one solution is to add a separate _class_ to the response images.

[2021-11-05 04:01] tian-yan opened #353 "`id` to replace `pk` for `is_new = self.pk is None` in XtdComment.save()"
I have an existing post with existing comments already.  When I revise the post and save again,
I found that existing comments were treated as new comments due to the **`self.pk`** in below source code,
#### [django_comments_xtd / models.py](https://github.com/danirus/django-comments-xtd/blob/11b761342973075a38cefe44c8d2fba346d132be/django_comments_xtd/models.py#L73)
[code]
#### PDB Debug Output f

[2021-11-05 04:22] danirus commented on #353
Just to be clear, your "post" is a model you have created, like would be an Article or a Story, and then you have comments to that "post". Editing those objects doesn't trigger anything in django-comments-xtd. If it does you must have custom code doing that.

I would suggest you to clone this repository and setup the demo/comp project to have another Django project to compare with. Setting up the

[2021-11-05 05:14] tian-yan commented on #353
thanks for the reply. I did customize the `django-comments-xtd` package a bit in my deployment. I will inspect my customized code to find out.

[2021-11-05 05:14] #353 closed

[2021-11-07 18:17] ogurec-ogurec commented on #204
@danirus, I added the following code to my `comment.jsx` file, вместо строки `make_form_invisible(submit_status)`:
[code]
but nothing happens. Also tried adding this function to `commentform.jsx` file function `handle_submit_response`, similarly nothing happens. Need help

[2021-11-15 01:49] tian-yan commented on #162
Hi, just curious, is this new feature still in progress or already committed ? thanks

[2021-11-16 19:48] ogurec-ogurec commented on #204
hello, the first option turned out (_comment.jsx_), thanks. Trying to implement the second option (_commentform.jsx_) the `handle_submit_response function`:

[code]

But somehow it doesn't work out.

[2021-11-16 20:07] ogurec-ogurec commented on #352
Maybe can check that the comment is a child and assign a different class to it?

[2021-11-18 10:44] SamuelJennings opened #357 "API support for model primary key not named id"
Hi,

Just started using this app and I think it's great so far! I really want to switch to the API backend but doing so requires a primary key field named id. I know this is pretty standard for most django models but unfortunately not for me.

Trying to load comments through the API at the moment gives the following error:
[code]

The problem occurs in lines 87-92 of api/frontend.py:

[code]

Unle

[2021-12-05 12:36] simonjoeca opened #358 ""dislike" a comment not working properly, caused by a small error in dislike.html"
Issue: "dislike" a comment not working properly, such as comments/dislike/2/, it asks to fill the next form, which I happen to have one, on the same page as well.

Cause: in django_comments_xtd/dislike.html, the `<form>` missing a matching `</form>`, so it process everything till the next `</form>`

Solution: Just add the matching `</form>` in django_comments_xtd/dislike.html

[2021-12-05 20:43] danirus commented on #358
Thanks @simonjoeca. You found it and provided the solution, that's almost it.
It would simply be perfect if you could send a PR to fix it.
Please, let me know. Otherwise I'll do it.

[2021-12-14 10:35] #358 closed

[2021-12-18 16:45] sabyasachi opened #361 "Ability to delete own comment"
Creating a separate ticket as discussed in https://github.com/danirus/django-comments-xtd/issues/162.

Users should be able to delete their own comments.

Any workaround till then?

[2021-12-19 07:57] danirus commented on #361
Thanks @sabyasachi.

An initial description of the user story could be:
 1. Enable comment deletion by setting `COMMENTS_XTD_ALLOW_COMMENT_DELETION = True`.
 1. Add a "Delete" link in the footer of the comment.
 1. Create a `remove.html` and `removed.html` templates. They will be used when not using the JavaScript plugin.
 1. The comment object will not be remove from the DB, as that would break t

[2022-01-25 09:28] yuis-ice commented on #238
umm I have the same problem.

[2022-01-25 12:02] danirus commented on #238
Hi, the code in the branch [rel-3.0.0](https://github.com/danirus/django-comments-xtd/tree/rel-3.0.0) is 99,9% ready. It does not use Bootstrap nor any other framework. This new version 3.0 does not use the `render_xtdcomments_tree` but rather a `render_xtdcomment_list`, so it is not backward compatible. There are two example sites in the `demos/` that you can use to test it. The new version does

[2022-01-30 16:48] Braintelligence opened #363 "How to get timestamp from latest comment of a specific object"
Hello everyone,

I've tried to figure out how to actually get comments for a specific object in a view for a long time now.

It looks like all relevant examples are only for the DTL.

How would I go about fetching comments for a specific object and then get the timestamp from that object?

I imagined it would be something like `XtdComment.objects.filter(...)` but I don't know how to filter for my

[2022-01-30 17:41] danirus commented on #363
Hi @Braintelligence, you first get the comments posted to that object (it requires the `content_type` and the `primary_key`), and with those you do the query. Let's say you have an `object` from a Django model called `Quote` that have comments, to list their comments in the `object_comments` variable you would use the filter (as you mentioned), and to get the latest posted comment in the `last_com

[2022-01-30 18:10] Braintelligence commented on #363
Thank you very much; sorry I figured some of this out already thanks to your comment here https://github.com/danirus/django-comments-xtd/issues/193#issuecomment-672658623

Should have posted as soon as I found out but I was still missing a few puzzle pieces and wanted to post a complete solution; you've beat me to it 😄 👍

[2022-01-30 18:10] #363 closed

[2022-02-15 15:33] Tartali opened #367 "Paginator"
Hello, how can I use the paginator in the comments? I didn't see this in the documentation.

[2022-02-17 11:00] danirus commented on #210
Just for the record, to get the 5 comments with more "**Like**" reactions posted to a given `content_type=16` (it corresponds to `content_type.app_label="stories"`, `content_type.model="story"`) , using the demo project `demos/project-stories` (set it up following instruction in its [README.md](https://github.com/danirus/django-comments-xtd/tree/rel-3.0.0/demos/project-stories) file), as it is alr

[2022-02-23 02:09] callmeUmer commented on #361
@danirus Is this issue still open ? if yes, I can definitely work on this.

[2022-02-23 06:34] danirus commented on #361
Sounds good @callmeUmer. I assign it to you.
Feel free to reach out here or by email (it is in my commits).

[2022-04-07 09:12] minusf opened #370 "any chance of a release with django-contrib-comments 2.2.0 ?"
2.2.0 has fixed some important validation issues:

https://github.com/django/django-contrib-comments/commit/4da9d1f85bd02b701d644e5f7fc689350c28dc68

[2022-04-07 09:20] danirus commented on #370
Yes, @minusf.
I will do a release.
Thanks for the reminder.

[2022-04-07 09:48] danirus commented on #370
Fixed with c5bb7a9.
Release 2.9.6 is already pushed to PyPI.

[2022-04-07 09:48] #370 closed

[2022-04-25 08:40] danirus commented on #337
This was fixed more than six months ago... If it happens again, please, don't hesitate to reopen.

[2022-04-25 08:40] #337 closed

[2022-04-29 10:23] danirus commented on #367
Hi Tartali, sorry for the late reply.

The paginator is implemented in a different branch. But I decided not to merge it here but rather fork the project from that branch in a new repository [django-comments-ink](https://github.com/comments-ink/django-comments-ink).

It's still under development, and doesn't have docs yet, but maybe you can use the [README.md](https://github.com/comments-ink/djang

[2022-07-15 14:19] engrimran7 opened #375 "Did anyone tested with Django 4.0 and python 3.10.5"
Hi All please confirm if anyone has tested Django Comments Xtd with django 4.0 and python 3.10

[2022-07-16 16:44] danirus commented on #375
I did some months ago. But the master branch doesn't have the changes yet.
I will update it.

[2022-07-18 09:22] danirus commented on #375
I double checked today, and it works without problem with Django 4.
Only the battery of tests is not configured yet to run in Django with Python 3.10. I have checked and they pass.

So yes, you can use django-comments-xtd with Django 4.

[2022-08-03 15:33] hejazizo opened #376 "Custom templates are not loaded when using Javascript Plugin"
Hey,

Without javascript plugin everything looks fine and I'm able to have my custom templates.

When I load it though and add the line `<div id="comments"></div>`, the templates are gone and it loads it with the default templates which I can't find even in the django-comments-xtd library installation directory.

Has anyone had this experience? Does javascript plugin only comes with no template su

[2022-08-06 16:09] danirus commented on #376
Hi @hejazizo, Yes, that's the expected behaviour with this particular JavaScript plugin, because it's written using ReactJS and it takes "advantage" of the JSX syntax, but it comes at the expense of not using the Django templates. I like how easy it is to write code the ReactJS framework, but I would also like if the JavaScript plugin used the Django templates.

I have been working for quite some

[2022-09-16 22:33] JanMalte opened #377 "content_object is missing in followup notification"
For any reasons the `content_object` is commented out in the followup notification email context.

[code]
https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/views.py#L287:L291

This leads to an empty field in the email and an incomplete comment URL

[code]
https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/templates/django_comments_xtd/email_

[2022-09-17 22:21] JanMalte commented on #375
Checks for django 4.0 and 4.1 going to be added by #380
As soon as this is merged, adding python 3.9 and 3.10 could be added as well.

[2022-09-17 22:30] JanMalte commented on #167
As far as I understand this is the `COMMENTS_XTD_CONFIRM_EMAIL` setting, right?
So this is already/now implemented and the issue could be closed.

https://django-comments-xtd.readthedocs.io/en/latest/settings.html#comments-xtd-confirm-email

[2022-09-18 09:11] #377 closed

[2022-09-18 13:47] JanMalte commented on #375
Python 3.10 is tested now. This issue can be closed.

[2022-09-19 05:51] danirus commented on #167
Hi @JanMalte, the scenario above is different than the one of `COMMENTS_XTD_CONFIRM_EMAIL`.

Comment confirmation by email is enabled with that setting. But still someone could fill the comment form with spam, provide your email address and click on send. You would receive the comment confirmation email with the spam.

To eliminate such possibility I propose to invert the process: the application

[2022-09-19 08:32] JanMalte commented on #167
Ok, thanks for the clarification.

The generated link should only be valid for a specific period (24h) I think. Would you agree?

[2022-10-26 08:46] aliceni81 opened #389 "Support Django Rest Framework 3.14.0"
After I upgrade django from 4.0 to 4.1, an error occurs
**ValueError: The file 'rest_framework/css/bootstrap-theme.min.css.map' could not be found with <django.contrib.staticfiles.storage.ManifestStaticFilesStorage object at 0x7fe2279385e0>.**

The latest version of django rest framework is 3.14.0 supporting django 4.1(https://www.django-rest-framework.org/community/release-notes/#314x-series), ho

[2022-10-26 12:40] #389 closed

[2022-10-26 12:45] danirus commented on #389
Thanks for telling :-)

[2022-10-26 16:17] aliceni81 commented on #389
@danirus Thanks a lot for your quick handling.