[2012-10-20 03:34] pjbrow opened #2 "The Live demos seem to be down."

[2012-10-20 03:35] #2 closed, assigned to nobody

[2012-11-08 17:00] coolchevy opened #3 "XtdComment has no field named 'parent'"
git clone git://github.com/danirus/django-comments-xtd.git
cp -rf django-comments-xtd/django_comments_xtd ../pathtomyapp/
add to INSTALL_APPS
./manage.py syncdb

http://domain/admin/django_comments_xtd/xtdcomment/add/

[code]

any help?

[2012-11-08 17:26] #3 closed, assigned to nobody

[2012-12-13 23:26] alej0varas opened #4 "django-markup is not optional if comments_xtd tags are loaded"
I got this because I added {% load comments_xtd %} to one of my templates

[code]

[2012-12-16 19:30] #4 closed, assigned to nobody

[2013-03-19 00:51] qqliu opened #6 "__init__() got an unexpected keyword argument 'verify_exists'"
I got this error while running the Multiple demo in my virtualenv, all the other demos ran perfectly:

Unhandled exception in thread started by <bound method Command.inner_run of <django.core.management.commands.runserver.Command object at 0x1016d6290>>
Traceback (most recent call last):
  File "/Users/qliu/django-comments/trial3/venv/lib/python2.7/site-packages/django/core/management/commands/run

[2013-03-19 07:42] #6 closed, assigned to danirus

[2013-04-09 13:46] bartTC opened #8 "Document that COMMENTS_APP setting is required during initial configuration"
The [configuration docs](https://django-comments-xtd.readthedocs.org/en/latest/tutorial.html#installation) miss that you have to set `settings.COMMENTS_APP`. It's documented as 'optional' in the configuration docs but the settings docs mark it as required.

[2013-04-09 17:14] #8 closed, assigned to nobody

[2013-09-10 08:09] lopesandre opened #10 "How to remove email follow ups?"
Hi,

I've been using django-comments-xtd and it looks very nice.

I only do not figure out how to disable e-mail follow ups after a user subscribe to receive e-mail notifications.

There is a way?

Best Regards,

[2013-11-11 17:58] barsch opened #11 "New release for Django 1.6.x"
Hi,

Could you please release a new version using master - release 1.2a1 won't run under Django 1.6 - master works.

Thanks,
Robert

[2013-11-12 18:43] #11 closed, assigned to nobody

[2013-11-22 16:53] barsch opened #12 "django-comments-xtd is not respecting EMAIL_SUBJECT_PREFIX"
Hi,

would be cool if django-comments-xtd would respect the EMAIL_SUBJECT_PREFIX settings (https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-EMAIL_SUBJECT_PREFIX)

Additionally an option to disable sending of HTML content at all would be very appreciate.

Thanks + cheers,
Robert

[2014-01-17 09:49] mayuroks opened #14 "How to customize comment form ??"
Currently while post a comment you need to post name,email,website and your comment. Is there annyway I can exclude email and the website ?

[2014-01-17 10:12] #14 closed, assigned to nobody

[2014-03-02 18:22] mkai opened #17 "Cannot install in pip >= 1.4 due to versioning scheme"
pip >= 1.4 thinks that "1.2f1" is a pre-release and will only let me install if I specify the "--pre" option.

[code]

See here:
http://stackoverflow.com/questions/18230956/could-not-find-a-version-that-satisfies-the-requirement-pytz/18319230#18319230

[2014-03-02 22:08] #17 closed, assigned to nobody

[2014-03-04 11:24] #10 closed, assigned to nobody

[2014-03-22 08:42] wolfhechel opened #18 "django.contrib.comments is deprecated, should depend on django-contrib-comments"
Since django.contrib.comments has been deprecated and will be removed before Django 1.8 now might be a good idea to merge over to django "excontrib" comments instead.

I have just recently started using comments xtd however so I don't know if there's another plan for this? If not I'd be happy to write together a pull request for this.

[2014-04-28 20:40] deronsizemore opened #20 "Adding the "reply" link?"
I've been looking through the docs and I can't seem to find much on adding a "reply" link to each comment so threaded comments can be used. I'm sorry if this is obvious, but I'm not seeing it. Can anyone point me in the right direction? Seems I've got everything else working, just want to mess around with threads.

[2014-07-14 19:05] sahandsepanta opened #21 "Localization in form.py"
Hello contributors,
I'm trying to run your code under Django 1.6 and Python 3.3.4. One issue that I see is that in forms.py you put some fields in small letters so it won't get translated in view. I can name a few :
<code>
self.fields['email'] = forms.EmailField(
            label=_("Email"), help_text=_("Required for comment verification"),
            widget=forms.TextInput(attrs={'placeholder':

[2014-09-22 05:29] jbl2024 opened #23 "Cannot send HTML email when COMMENTS_XTD_THREADED_EMAILS is True"
When COMMENTS_XTD_THREADED_EMAILS is True, the html part of the email is discarded.

in utils.py:

[code]

the parameters are inverted between fail_silently & self.html

[2015-01-02 18:34] kim07 commented on #20
thanks helped me a lot

[2015-01-02 18:34] kim07 commented on #18
thanks helped me a lot

[2015-03-11 08:53] okaysimon opened #24 "How to customize xtd-comments framework?"
How to customize xtd-comments framework? For example, create a custom xtd-comment Model that adds on the “title” field.

I have tried following the steps in "Customizing the comments framework" of django-comments official manual, but it didn't work. https://docs.djangoproject.com/en/1.7/ref/contrib/comments/custom/

And I also tried writing a new model and form which is as same as XtdCommnet and X

[2015-03-26 03:53] bashu opened #25 "Give back the maintainer right"
Hi,

This repository seems to lack maintenance, I propose myself as a new maintainer.

Could you give me the right to push in your repository or just transfer it on my account in github?

Thank you

[2015-04-02 19:11] bufke commented on #25
+1 would love to see a Django 1.8 release.

[2015-04-05 08:50] danirus commented on #25
I will do it eventually. I'm sorry for the long delay. Work and parenthood are on top of this code in my priority list. However I have it planned before Summer. In the meanwhile anyone are free to fork and implement a more modern approach. I will kindly point out there if I see it as a compatible evolution.

[2015-04-20 19:42] bufke commented on #18
Any updates? I'm already using the pull request version. I'd be happy to help maintain and do a pypi release if need be.

[2015-04-21 12:22] wolfhechel commented on #18
Very sorry for the lack of progress here, I'm not using comments-xtd after moving to disqus so I haven't had any time to support this.

@bufke You're more then welcome to take over the PR for this as I'm certain I'm not going to find any open time slot for myself to do this. I know the fix is small and all but I have tons of these minor things I need to fix, and this has been my lowest priority fo

[2015-04-21 13:33] danirus commented on #18
Django 1.8, released the 1st of April, does not come any longer with `django.contrib.comments`. If you are already using 1.8 you must install [django-contrib-comments](http://django-contrib-comments.readthedocs.org/en/latest/) as a replacement. For previous versions you don't need to.

I'm sorry, I didn't have much time to keep django-comments-xtd updated. It's not lack of interest, I use it in ma

[2015-04-21 14:46] bufke commented on #18
What's left to do @wolfhechel just support for previous versions. django-contrib-comments claims 1.5 support.

@danirus I'd be happy to help review and merge pull requests and do pypi releases if you'd like. Totally understand. I'm using this for a work project.

[2015-04-22 07:01] wolfhechel commented on #18
As we've discussed before the one thing that needs to be done is to have conditional checks wether it should be using the contrib module or the separate django-contrib-comments.

I was considering letting it lookup the INSTALLED_APPS to see which is installed,
but considering we're now already in Django 1.8 I think it should probably just try to default on django-contrib-comments and fallback to d

[2015-04-22 08:04] wolfhechel commented on #18
Also, you might want to collaborate with @agilosoftware on this since they've also [forked](https://github.com/agilosoftware/django-comments-xtd/commit/d948a61f3b21f83655f6604423f3f400a4b84c22) my PR to apply a Django 1.8 fix for the changes in the transaction API.

[2015-04-22 08:58] sterago commented on #18
yes, I can confirm our fork is working with Django 1.8 without problems (nor warnings) so far

[2015-04-28 13:43] danirus commented on #18
I'm working on this issue as of right now. Hope to have it fixed within the week. The tricky part is not to make it work just for Django 1.8 but for Django 1.4.20 (the LTS), 1.7.7, and 1.8, under Python 2.7 and Python 3.4 (only Django 1.7.7 and above).

If you are in a hurry and only need this fixed for Django 1.8, I suggest you to clone this repository and merge @wolfhechel's pull request. Otherw

[2015-05-06 18:07] wgoedeck opened #26 "Demo errors"
After installing django_comments_xtd from github and running, I get the error:
django_comments_xtd.XtdComment.comment_ptr: (fields.E300) Field defines a relation with model 'Comment', which is either not installed, or is abstract.

I don't see any problem with either my code nor the django_comments_xtd code, such as a ForeignKey error where one app needs to link to another app, e.g.:
comment_ptr =

[2015-05-06 18:32] danirus commented on #26
Did you install [django-contrib-comments](https://github.com/django/django-contrib-comments) or are you using a version of Django that still comes with `django.contrib.comments`?

Can you import your django-contrib-comments app in the `python manage.py shell` ran inside your demo project directory? (either `import django.contrib.comments` or `import django_comments` must work).

[2015-05-07 02:08] wgoedeck commented on #26
Thanks for your reply. I do have django-contrib-comments installed - I have tried it for a website I was developing - it is deprecated, though. I had first tried to build simple-threads from startproject, then create app with Py-Dev, but then received the "django_comments_xtd.XtdComment.comment_ptr: (fields.E300) Field defines a relation with model 'Comment', which is either not installed, or is a

[2015-05-19 17:21] #25 closed

[2015-07-07 11:06] garrish27 commented on #18
<html>
<body>
<ul>
<li>
<a href="http://www.ismart4u.com/catagory/books/">Text Books</a>
</li>
<li>
<a href="http://www.ismart4u.com/catagory/education/">Games</a>
</li>
<li>
<a href="http://www.ismart4u.com/catagory/islamic_apps/">Electronic Gadgets</a>
</li>
<li>
<a href="http://www.myiqraapps.com/">Islamic Apps</a>
</li>
<li>
<a href="http://www.iqra.com.hk/">Islamic Devices</a>
</li>
</ul>
</b

[2015-07-08 12:30] danirus commented on #18
Fixed with 4a05931944dd5b1f0c506fccc9d301a4b6cce8f4

[2015-07-08 12:30] #18 closed

[2015-08-14 15:22] cadu-leite opened #27 "PyPi Package is different?"
I have django-comment installed

    $pip freeze
    ...
    django-comments-xtd==1.2
    django-contrib-comments==1.6.1
    ...

I've inatalled comments-xtd using PyPi.

    $sudo pip install django-comments-xtd==1.2

But I got an  _import error_ trying to start my app. (trace back above)

seems the pypi package diffs from the repository,
althought the last package is equal to the last commit .

[2015-08-14 15:46] cadu-leite commented on #27
after install from github, the error has no more .

$>pip install -e git+git@github.com:danirus/django-comments-xtd.git#egg=django-comments-xtd

[2015-12-07 19:22] bufke opened #30 "Django 1.9"
We get a rather unhelpful traceback

[code]

Reproduced with a brand new django 1.9 project and adding comments xtd. I think 1.9 doesn't allow you to access models at startup.

[2015-12-09 07:51] danirus commented on #30
Hi @bufke, thanks for telling.
I will look into it soon.

[2015-12-24 10:44] danirus commented on #30
Sorry for the delay @bufke,
Fixed in https://github.com/danirus/django-comments-xtd/commit/c94afb0511d305d5c5d3b908afcde66eec960eaa.

[2015-12-24 10:44] #30 closed

[2016-02-09 05:31] danirus commented on #27
Thank you for reporting it, @cadu-leite. I'm sorry I didn't reply earlier.
The current package available in PyPI, which is the v1.5.1, should work without problems in Django versions from 1.4 to v1.9.

For the following major release the code in master won't work in versions of Django older than v1.8. Bare in mind this if you don't update Django very often. In such a case it would be better to sti

[2016-02-15 14:26] #27 closed

[2016-02-15 14:43] danirus commented on #26
Hi @wgoedeck, sorry for the long delay.

I just updated the package in PyPI and in Github. To play with the demos you need the source code from GitHub (I don't distribute the demos with the PyPI package). As an extension of what I wrote [here](http://django-comments-xtd.readthedocs.org/en/latest/example.html) you would probably prefer to create a virtualenv to test the project in an isolated pytho

[2016-02-16 04:54] #23 closed

[2016-02-17 06:51] danirus commented on #24
Hi @okaysimon, yes, you can do it in the same way as you would do it with the Django Comments Frakework, but there are a few details I didn't mention in the docs. You must have `COMMENTS_APP='django_comments_xtd`, and then use `COMMENTS_XTD_FORM_CLASS` and `COMMENTS_XTD_MODEL` to refer to your classes. Also, in your form class, be sure that the method get_comment_model returns TmpXtdComment, so th

[2016-02-17 09:56] danirus commented on #20
Hi @deronsizemore, I hope you get it working. Sorry for vanishing.
I do agree, that having the reply page apart doesn't look good.
I will start soon writing a jQuery plugin to handle comment interaction with Ajax. I'll do it in the develop branch, just in case you want to follow up or give feedback.

[2016-02-17 10:05] danirus commented on #21
Sorry for vanishing @sahandsepanta.
You can submit a Pull Request. You must first clone the repository, then make your changes in your copy, test that everything works and send a pull request so that I can see your changes. I'll be glad to review them.

[2016-02-17 10:06] #12 closed

[2016-02-18 13:21] #20 closed

[2016-02-18 13:21] #21 closed

[2016-02-18 13:36] danirus commented on #24
There is a new demo project that showcase how to extend the app. It's within the ``custom_comments`` directory inside ``django_comments_xtd/demos``. I hope it's useful for you.
I updated the documentation to cover it in [Customizing django-comments-xtd](http://pythonhosted.org/django-comments-xtd/extending.html).

[2016-02-18 13:36] #24 closed

[2016-02-18 13:36] #26 closed

[2016-02-18 14:23] deronsizemore commented on #20
Sounds good. Thanks!

[2016-02-27 17:22] mohibJV opened #32 "Urls.py"
Shouldnt this line url(r'', include(django_**comments_urls**)) be url(r'', include(django_**comments.urls**)),

[2016-02-27 17:36] #32 closed

[2016-02-27 17:36] mohibJV commented on #32
my bad didnt see the import line at the top

[2016-03-29 12:48] JanMalte opened #33 "comment.content_object is None on comment_will_be_saved signal"
The value of the GeneriRelation `comment.content_object` is always `None`, on the comment app signals.

This only happens if `django-comments-xtd` is in `INSTALLED_APPS`. Removing it will result in the correct related object instance.

[2016-03-29 12:58] danirus commented on #33
Hi @JanMalte, could you tell me the steps to reproduce the error. I have fixed a number of bugs in the version under development (branch develop) but I don't get to remember this one. Let me know the details and I will be glad to look into it.

[2016-03-30 08:28] JanMalte commented on #33
Here some snippets of my code

[code]

[code]

[code]

[2016-04-01 08:36] danirus commented on #33
At the time the signal `comment_was_posted` is triggered, django-comments-xtd sends the comment embedded in a URL to the user by email. The comment didn't hit the DB yet, it's merely a dictionary. That's why there's no content_object in the comment.

You could catch the proper comment object once the user has confirmed the comment, that happens right after the user clicks on the link received by e

[2016-04-01 19:26] JanMalte commented on #33
My goal is, to catch the creation of a comment to take further actions.
Maybe I would have to connect to the pre_save signal of a comment instead.

I thought the described workflow doesn't apply for the stated setting, as there is no email confirmation?
`COMMENTS_XTD_CONFIRM_EMAIL = False`

[2016-04-02 06:53] danirus commented on #33
There's no confirmation email if `COMMENTS_XTD_CONFIRM_EMAIL = False`, but still, the comment object coming to the receivers of `comment_was_posted` is still a `TmpXtdComment`. If you need to change content or look at content, you can do it in that object as you would do it in the `XtdComment`. It has all the attributes of a `Comment` and those you could have added with your own model: `comment.co

[2016-04-02 07:01] danirus commented on #33
I close the issue, as it's not a bug but a design decision.
I leave the conversation open.

[2016-04-02 07:01] #33 closed

[2016-05-27 18:21] Naddiseo opened #34 "Force moderation of a comment"
I think I may be missing something obvious, but I can't seem to get a comment to be created with `is_public = False`,  and from what I can tell, the `_create_comment` function causes this by always setting the `is_public` to `True`.

Is connecting to the `pre_save` signal the best way to accomplish this?

[2016-05-28 19:01] danirus commented on #34
You are right, there's a bug when you moderate a comment. I fixed it a few months ago in the `develop` branch but didn't do the commit until a few minutes ago. The `develop` branch is unusable yet, so I'll port the fix to the master branch to make it available as soon as possible.

It doesn't have an easy solution. If `is_public` is `False`, follow-up notifications on this comment don't have to be

[2016-06-23 01:37] zmrenwu opened #35 "Why inherit models.Comment rather than modes.AbstractComment"
It may be more appropriate.

[2016-06-23 01:37] zmrenwu opened #36 "Why inherit models.Comment rather than models.AbstractComment"
It may be more appropriate.

[2016-07-13 19:15] ppershing opened #37 "Add option to set email from address"
Right now django-comments-xtd uses ```settings.DEFAULT_FROM_EMAIL```. It would be nice if this is somehow customizable.

[2016-07-14 08:16] danirus commented on #37
I'll do it.
It will be available in the next release, which I hope it will be ready before the end of the month.

[2016-07-14 08:17] danirus commented on #35
Duplicate of #36.

[2016-07-14 08:17] #35 closed

[2016-07-14 09:03] danirus commented on #36
`AbstractComment` is not the last class in the inheritance path, the last class is `Comment`. If `XtdComment` inherits from `AbstractComment`, changes in the `Comment` class wouldn't be reflected in `XtdComment`.

[2016-07-23 09:50] #36 closed

[2016-07-23 09:52] #34 closed

[2016-08-26 14:00] honzahosek opened #40 "Way to take email address from User model"
Is there a way to ask name and email only from anonymous user? If we already have confirmed email we should not ask for it again. I did not find easy way to make request.user accessible from the form or use different form for logged in users.

[2016-09-12 15:03] zmrenwu opened #41 "Make comment model manager API consistent with django-contrib-comments"
In django-comments-xtd, `XtdComment` reimpliments the model manager that inherit from `models.Manager`. It have only one API: `for_app_models`. This is not consistent with django-contrib-comments model manager API which contains two API:  `in_moderation` and `for_model`. So it's hard to plugin the app to some project which using some django-contrib-comments API. That what I get in trouble. I have

[2016-10-12 13:23] danirus commented on #41
@zmrenwu, thank you for your report. It's been resolved and fixed.

[2016-10-12 13:23] #41 closed

[2016-10-12 13:28] danirus commented on #40
Hi @honzahosek, sorry for the long delay. Too busy with other projects.
I'll document the case you propose, hopefully before the end of month.

[2016-10-13 09:01] danirus commented on #37
@ppershing, sorry for the long delay...
You can now use ``COMMENTS_XTD_FROM_EMAIL`` instead of ``DEFAULT_FROM_EMAIL``. It will default to the latter in case you don't define any value in your settings module.

[2016-10-13 09:01] #37 closed

[2016-10-17 21:50] Higgins2718 opened #43 "Comments not being sent correctly"
My comments are not being sent correctly. I suspect the problem is in the action URL.
Here is my 'form.html':
   `
           {% load i18n %}
           {% load comments %}

      <form action="{% comment_form_target %}" method="post">{% csrf_token %}
      {% if next %}
    <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
  <fieldset>
    <div><input type="hidden" name=

[2016-10-17 22:58] #43 closed

[2016-10-17 22:58] Higgins2718 commented on #43
Fixed. My fault.

[2016-10-19 10:12] danirus commented on #40
Did you try to enclose the `name`, `email` and `url` form fields in a `{% if not user.authenticated %}...{% endif %}` condition, in the `form.html` template?

That way, if the user is authenticated, they won't be presented to the user. When those fields are empty but the user is authenticated django-contrib-comments fills them up with the name and email of the user active in the request.

[2016-11-05 17:36] asgaines opened #44 "Migrating old django_comments to django_comments_xtd data"
Hello! I'm loving this project so far. It has thus far been very easy to switch to the valuable extensions provided by this project. However, I'm struggling with migrating my old comment data (from `django_comments`) to the new format. Am I missing a command or method which would make this simple?

[2017-01-24 14:49] KhanMaytok opened #45 "'OrderedDict' object has no attribute 'move_to_end'"
I'm with Python 2.7.13. I try to replicate the Tutorial, but when I create the form.py I have an error in this line:

     self.fields.move_to_end('comment', last=False)

The error is `'OrderedDict' object has no attribute 'move_to_end'` I read the error is at Python 2.6, but I have Python 2.7. I don't understand the error...

[2017-01-24 21:16] asgaines commented on #45
Yes, I remember the tutorial having a number of issues myself. It is not updated sufficiently to be in keeping with the code in this repo.

[2017-01-25 07:38] danirus commented on #45
Indeed, `move_to_end` was added in Python 3, so if you are using Python 2.7 that piece of the tutorial doesn't work. Python 2.7 is going to be around for quite sometime so I understand your complain when I focused only in Python 3.

The `move_to_end` in the tutorial is not mandatory, it's just to move the `comment` field to the first position of the form. You could rearrange the position of the `c

[2017-01-25 07:47] danirus commented on #44
I'm sorry @asgaines I missed your question. That would be indeed a good addition.
I guess you already resolved it. Nevertheless it's worth adding a command to help with it.
Thank you for your report.

[2017-01-25 16:00] KhanMaytok commented on #45
Yes, I only comment this line and works. Many thanks, problem done

[2017-01-25 16:00] #45 closed

[2017-01-30 13:42] KhanMaytok opened #47 "tree_from_queryset with no ordered querySet"
I'm building a _Hot comments_ filter and it requires to build  a tree with and unordered queryset.

¿Are there a method to build it without an ordered queryset?

[2017-01-30 17:58] danirus commented on #47
I quite not follow you, could you explain it a little bit further?

[2017-02-21 11:57] #40 closed

[2017-02-21 11:57] #47 closed

[2017-02-21 14:38] barsch opened #48 "Changing COMMENTS_XTD_LIST_ORDER results into django complaining about missing migration"
[code]

any change in the Meta class will result into a new migration once you run ```python manage.py makemigrations``` - the ordering should be changed in ```XtdCommentManager.get_queryset``` instead

Django==1.10.5
django-comments-xtd==1.6.5

[2017-02-21 14:44] barsch opened #49 "Please add select_related to XtdCommentManager.get_queryset to reduce number of queries"
I use the following monkey patch to speed up things on my page (reduce the number of queries) - would be nice if this could be added directly into master - but fine with me if not

[code]

PS: here you could als add the order settings mentioned in #48

[2017-02-21 15:16] danirus commented on #48
Hi @barsch, thank you for the catch.

[2017-02-21 15:20] danirus commented on #49
Yes @barsch, I like it very much. I'm fixing #48 and pushing it to master in 1.6.6.
Thanks for the fix and the enhancement.

[2017-02-21 15:22] #48 closed

[2017-02-21 15:26] #49 closed

[2017-03-05 22:06] Wladislav opened #50 "templates bug"
Good day!
django-comments-xtd/django_comments_xtd/templates/django_comments_xtd/reply.html
Need add {% block content %}

[2017-03-14 20:04] Naddiseo opened #51 "Comment confirmation url can generate invalid url"
The url generated for confirming comments can exceed the 4096 character limit even if the comment itself is a single character. This is due to what data gets pickled in the url generation process.

I've tracked down the issue to [the `XtdCommentForm.get_comment_create_data`](https://github.com/danirus/django-comments-xtd/blob/e6b8cf1657ec04a0025c2b0b8c9f184612a419fd/django_comments_xtd/forms.py#L5

[2017-03-14 20:08] lgellert commented on #51
Ran into this too.  TmpXtdComment is not stored anywhere in the database, the comment only lives on the encoded URL. I wound up creating a temp table to store the anonymous comment data with a unique id for the token and passed that in the email.

[2017-03-15 12:00] danirus commented on #51
Thanks @Naddiseo and @lgellert for the comment.
It surprises me that this bug has been there unnoticed for such a long time.

Looking into your PR, @Naddiseo, I would leave the `views.py` module as it is, and rather fix the `TmpXtdComment`, removing `__reduce__` and adding both `__getstate__` (to delete attribute `content_object`) and `__setstate__` (to reestablish `content_object` out of the `con

[2017-03-16 03:57] #51 closed

[2017-03-31 08:25] danirus commented on #50
Hi @Wladislav, the `reply.html` template is just a boilerplate template, it's not meant to be used right away. If you need it inside a `{% block content %}` you must override it by including your customized `reply.html` template in your Django project template's directory.

If you use a `TEMPLATES` settings like this:

    TEMPLATES = [
        {
            'BACKEND': 'django.template.backends.dj

[2017-04-02 12:38] NogerbekNurzhan opened #54 "Associate comments with an already authorized user."
**Thanks for this project!**

I have little question. I successfully added this app to my project and use `{% render_comment_form for object %}` in template. Is shows me fields like "Name", "Email", "Url" and "Comment".

Question: Is it possible to show only "Сomment" field and associate these comments with an already authorized user. What I need to customize? I am little bit comfused.

[2017-04-03 12:44] danirus commented on #54
Hi @NogerbekNurzhan. Yes, it's possible.
In the templates directory in your project, create a `comments` directory and copy in there the `form.html` file you use to render your comments form. Then edit it, and wrap the fields you don't want to show when the user is authenticated within an if-endif clause, like the following:

    {% if not request.user.is_authenticated %}
    <div class="form-grou

[2017-04-05 06:05] NogerbekNurzhan commented on #54
Thanks!

[2017-04-05 06:05] #54 closed

[2017-04-13 07:09] #50 closed

[2017-04-28 06:37] ZaibiMughal opened #56 "Want to exclude Title and URL fields from comment form. How to do this?"
Hey i have been working on your pakcage for the last 4-5 days. Actually i am new to django and i am not getting it how to remove the fields from the form. Can you please help me out!

[2017-04-28 06:44] danirus commented on #56
Hi @ZaibiMughal,
Have you read the [tutorial](http://django-comments-xtd.readthedocs.io/en/latest/tutorial.html)?

[2017-04-28 06:49] ZaibiMughal commented on #56
Yes i have,. But unable to find the right solution. May be i am not getting it all :(

[2017-04-28 07:05] danirus commented on #56
There's no `title` field in the comment form.
The `url` is optional, so you can override the template and get rid of it.

If you are new to Django, follow the [tutorial](https://docs.djangoproject.com/en/1.11/intro/). It is very well documented. Also there are good books about Python and Django that you can read to develop your confidence. Be patient and enjoy the reading.

[2017-04-28 07:24] ZaibiMughal commented on #56
OK thanks alot! i will follow the tutorial right now!

[2017-04-28 07:24] #56 closed

[2017-04-30 18:58] ZaibiMughal opened #57 "object don't have get_absolute_url method"
I have implemented the commenting package into my template. Everything is working fine except when i press the send buttin it goes to a page and shows this (see Screenshot) http://prntscr.com/f2mjbl, but when I goes back to my commenting page and refresh it then the comment is there. I want to redirect to the same page when i click on send button. Please help me i have a project to complete asap.

[2017-04-30 19:01] ZaibiMughal commented on #57
This was the first error that i got. Then i implemented the reverse function then the error that i got is in my first message!

[2017-05-02 10:15] danirus commented on #57
The object's model to which you are posting comments requires the method `get_absolute_url`. See the `Article` model [in the simple example project](https://github.com/danirus/django-comments-xtd/blob/master/example/simple/articles/models.py). Your Album model has to implement such method too. Read about it [in the official Django documentation](https://docs.djangoproject.com/en/1.11/ref/models/in

[2017-05-03 03:08] #57 closed

[2017-05-05 11:21] Alexeyisme opened #58 "Missing staticfiles?"
After installing `pip install django-comments-xtd==1.7.1` django_comments_xtd folder doesn't have any static in it.

Pythonanywhere error log:
`ValueError: Missing staticfiles manifest entry for 'django_comments_xtd/css/bootstrap.min.css'`

Not sure it's an issue. Maybe I have to set the staticfiles somehow.

It works in DEBUG = True mode without styling.

[2017-05-05 13:34] danirus commented on #58
Thanks for telling @Alexeyisme.
I just uploaded a new version (1.7.2) to include the missing static directory.

[2017-05-05 15:03] Alexeyisme commented on #58
Thank you! Works just great!

[2017-05-05 15:03] #58 closed

[2017-05-14 10:48] ZaibiMughal opened #59 "When i click on send button. It shows me the preview page every time."

[2017-05-14 10:48] ZaibiMughal opened #60 "When i click on send button. It shows me the preview page every time."
When i click on send button. It shows me the preview page every time. And the comment is not being sent. Please help me asap

[2017-05-22 22:47] ppershing opened #61 "Make {{contact}} template variable configurable"
Right now it uses `COMMENTS_XTD_FROM_EMAIL` variable. This does not suit me well because in my scenario I would like to send comments from "noreply@" address (to avoid all kinds of automated responses filling my inbox) but have a fallback "info/report incident" address in the text so people who really want to complain/contact me have a chance.
I presume the new settings name could be `COMMENTS_XTD

[2017-06-06 15:17] danirus commented on #61
Hi @ppershing, why don't you overwrite the value of `COMMENTS_XTD_FROM_EMAIL` in your settings module to be of `noreply@` form?

[2017-06-06 23:01] ppershing commented on #61
I did exactly that. But this leaves noreply@ as the official "support" email in the text which is of course bad.

-----Original Message-----
From: "Daniel Rus Morales" <notifications@github.com>
Sent: ‎06/‎06/‎2017 11:17
To: "danirus/django-comments-xtd" <django-comments-xtd@noreply.github.com>
Cc: "Peter Peresini" <ppershing+github@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [

[2017-06-08 06:10] danirus commented on #61
I see your point.
I'll change it in the upcoming 2.0 release.
Thanks for the report.

[2017-06-10 04:49] danirus commented on #61
There's a new setting [COMMENTS_XTD_CONTACT_EMAIL](http://django-comments-xtd.readthedocs.io/en/latest/settings.html#comments-xtd-contact-email) for this purpose.
Implemented in b0cc5b439fc006102141f800545a80041a2e6cd5.

[2017-06-10 04:49] #61 closed

[2017-06-10 04:49] #59 closed

[2017-06-10 04:49] #60 closed

[2017-06-10 04:54] danirus commented on #44
@asgaines, a new command **populate_xtdcomments** provides this feature. It's been implemented in b0cc5b439fc006102141f800545a80041a2e6cd5 and released with v2. Check out [this page](http://django-comments-xtd.readthedocs.io/en/latest/migrating.html) in the documentation. Thanks for your report.

[2017-06-10 04:54] #44 closed

[2017-06-27 05:50] engineervix opened #62 "TypeError: <django.utils.functional.__proxy__ object at ...> is not JSON serializable"
The above exception is thrown when sending emails using [Sparkpost's Django Email Backend](https://python-sparkpost.readthedocs.io/en/latest/django/backend.html). From the traceback, all errors point to the [django-comments-xtd/django_comments_xtd/views.py](https://raw.githubusercontent.com/danirus/django-comments-xtd/master/django_comments_xtd/views.py) and have everything to do with [translation

[2017-07-18 20:09] zbyte64 opened #64 "DRF Requires CommentCreate view to define a queryset"
Looks like a permission check is done automatically and so a queryset needs to be defined:

[code]

DRF == 3.6.3
xtd == 2.0.3
django==1.10.6

[2017-07-18 22:47] trDjango opened #65 "CSRF verification failed. Request canceled."
When I click on the send and write comment, I get 403 forbidden warning.what should I do?("POST /comments/post/ HTTP/1.1" 403 2514)

[2017-07-19 15:43] danirus commented on #64
Could you post the complete stack? Including django-comments-xtd modules.

[2017-07-19 15:45] danirus commented on #65
Are you using django-comments-xtd? Did you follow the tutorial? Are you using the JavaScript plugin or the backend alone?

[2017-07-19 18:17] danirus commented on #62
Would you be so kind as to post the steps to reproduce the error?

[2017-07-19 21:51] trDjango commented on #65
Hi danirus, my settings are like this;
settings.py file for django_comments_xtd;
[code]

urls.py for django_comments_xtd;
`urlpatterns = [url(r'^comments/', include('django_comments_xtd.urls')),]`

template for django_comments_xtd;
[code]

I get an error when I click on the submit button.
I only included the settings I made for django_comments_xtd.Thank you very much for your help.

[2017-07-20 09:45] bgelineau opened #66 "Size of the JS bundles"
Hi, I've noticed while installing the latest version that the package size on pypi has jumped. That's due to all the JS bundles being bigger since the 2.0.3 release, especially the vendor file going from 1Mo to 2.8Mo. I don't know the reason, as I'm unable to reproduce the issue on my computer. 3Mo is big for a production environment, could you fix the problem?

Besides, would it be possible for y

[2017-07-20 09:52] bgelineau opened #67 "Missing .mo files for French"
Hi, the pypi package lacks the *.mo files for French (the Spanish ones are there). As they are not tracked by git, could you make a new release with the compiled French translations? Thanks.

[2017-07-20 10:02] danirus commented on #66
Sorry for this. I'll fix it within minutes.

[2017-07-20 10:04] danirus commented on #67
I didn't have the compile step. Sorry for the mistake.
I'll fix it right away.

[2017-07-20 10:12] danirus commented on #67
Fixed in ece8125.

[2017-07-20 10:13] danirus commented on #66
Fixed in ece8125.

[2017-07-22 18:01] #66 closed

[2017-07-22 18:01] #67 closed

[2017-07-29 11:45] #62 closed

[2017-07-29 11:45] #64 closed

[2017-07-29 11:45] #65 closed

[2017-08-01 00:34] cpkthompson opened #68 "Comments not deleting when object is deleted"
When render comment form and render comment tree are bound to an object, say a blog post, comments don't delete when the blog post is deleted so what happens is that when a new blog posts that has the same id/pk is created, old comments re-surface and are bound this new object.

[2017-08-01 06:45] danirus commented on #68
You have to do that in your project. Link a receiver function to the post_delete signal and delete the comments that are attached to the instance received.

[2017-08-01 14:39] danirus commented on #64
I can't reproduce this bug.
Just uploaded a Docker image to run the demo project.
https://hub.docker.com/r/danirus/django-comments-xtd-demo/
Feel free to reopen the bug if still persists, and include steps to reproduce it.

[2017-08-01 16:03] cpkthompson commented on #68
Created new app '**Discussion**'

**In settings:**

COMMENTS_XTD_MODEL = 'discussion.models.Discussion'

**In models:**
from django.db.models.signals import post_delete
from django.dispatch import receiver
from .models import Discussion

@receiver(post_delete, sender=BlogPost)
def comment_delete(instance, **kwargs):
    Discussion.objects.filter(object_pk=instance.pk).delete()

[2017-08-01 16:03] #68 closed

[2017-08-04 20:40] tony opened #69 "Support for passing in site via request.site (CurrentSiteMiddleware)"
https://github.com/django/django/blob/7724879b524711d61b7491a4a9c104d9cff2e1e3/django/contrib/sites/middleware.py#L12

I think this may have intended to be implemented: https://github.com/danirus/django-comments-xtd/blob/b0cc5b439fc006102141f800545a80041a2e6cd5/django_comments_xtd/forms.py#L51

White the ``site_id`` didn't end up being used inside the function, I think the intention may have been

[2017-08-07 06:30] danirus commented on #69
Thanks @tony, indeed, it's a bug.
I'll fix it later today.

[2017-08-08 21:47] danirus commented on #69
Fixed in 9046664935ef61d8c22c9d6b4dec1246e12f0ca9.

[2017-08-08 21:47] #69 closed

[2017-08-11 18:42] alexcwatt opened #70 "Dynamically associate CommentBox with different comments"
I am working on integrating this project with a one-page app that associates comments with multiple resources, one at a time. As far as I can tell, I cannot easily change the comments associated with the `#comments` div. However, I think it would be a useful feature for this library and is one I'd like to implement.

As I don't have much experience with React, I'm wondering what the best way to go

[2017-08-13 15:12] danirus commented on #70
The `#comments` div is just the hook upon which the React component is mounted. It's passed in the `index.js`. Just change it to specify yours, but the list of comments rendered belong to one and only one object, and that's reflected when you post new comments.

Look at the `templatetags/comments_xtd.py`module, the `get_commentbox_props` passes a `form` object to the React component to define the

[2017-08-13 17:51] alexcwatt commented on #70
Thanks @danirus. I understand that part pretty well. The problem is that I want to have multiple sets of comments on the same page: when a user clicks on a particular tab, I want to reload the comments section with a different set of comments. The difficulty is that merely changing the global comment property to which the object was initially bound does not cause the comments to reload. Does that

[2017-08-17 06:40] danirus commented on #70
Alex, the code doesn't support changing dynamically (through JavaScript) the object to which the comments are attached. That's happens in the templatetag `get_commentbox_props` (sorry, I just realised, it's undocumented), which takes only one argument, the object itself to which we sent the comments.

[2017-08-18 02:52] alexcwatt commented on #70
Okay, thank you for looking into this. Originally I was going to look at adding this but have decided for now to roll my own commenting system, as I needed to change some other things anyway. This library is awesome though!

[2017-08-18 02:52] #70 closed

[2017-08-18 09:41] danirus commented on #70
Thanks @alexcwatt. Good luck and happy coding!

[2017-08-18 19:12] tahirawan4 commented on #65
Any updates on above?

[2017-08-18 21:06] danirus commented on #65
I don't know, it could be many things. Did you follow the tutorial first? If so, what are the differences with your project? That may throw some light on the issue. One thing that looks bad is the iteration in the template:

    {% for form in profile %}
        {% render_comment_form for form %}
    {% endfor %}

What is that? A custom formset? If there's more than one instance there are more tha

[2017-08-21 14:47] babus opened #71 "Migration file missing for alter field on `xtdcomment.followup`"
I'm on 2.0.5 and everytime I run the makemigrations for my apps this migration gets added. Guess a migration file missed to be commited? I tried upgrading to the latest 2.0.6 but still this is happening.

- Alter field followup on xtdcomment

[2017-08-21 16:30] danirus commented on #71
I'm sorry you got errors, I'm on holiday at the moment and don't have my
laptop with me. I'll give you an answer beginning of September.

On Mon 21. Aug 2017 at 16:47, Babu <notifications@github.com> wrote:

--
Daniel Rus Morales - http://danir.us
Independent Software Engineer

[2017-08-21 16:51] babus commented on #71
Thanks for the reply! It's not actually an error which would require an immediate fix. It's just a migration file not committed or the `xtdcomment` model has unintended changes at it's `followup` field.

[2017-09-04 07:57] evilplanet opened #72 "COMMENTS_XTD_APP_MODEL_OPTIONS"
Hello!

Somehow I'm not able to get flagging and feedback to work. I have a different project layout wherein my app labels also contain the project name as below:

[code]

In the `INSTALLED_APPS` list, this is also listed as `'projectname.blog'`.

And I have a model named Post in the blog app models.py, so how do I set `COMMENTS_XTD_APP_MODEL_OPTIONS` in this case? I've tried `'projectname.blog.po

[2017-09-14 20:50] kkomninos commented on #72
You can try using {% render_xtdcomment_tree for object allow_feedback show_feedback allow_flagging %} in template.

[2017-09-18 06:57] evilplanet commented on #72
@kkomninos I know. I tried. It doesn't work. I think the problem is that I have to enable that in the settings, but I don't know how to do that since my app name has a dot in it as described above. Is there a way to override the default COMMENTS_XTD_APP_MODEL_OPTIONS? Thanks!

[2017-09-20 12:10] terotic opened #73 "Comment form name field doesn't get translated"
Should the name field have translatable label defined in `forms.py`?

[2017-09-20 13:09] danirus commented on #72
Sorry for the long delay @evilplanet and @kkomninos.
It should work by adding:

    COMMENTS_XTD_APP_MODEL_OPTIONS = {
        'blog.post': {
            'allow_flagging': True
        }
    }

It's covered in the [commenting options](http://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#commenting-options) section of the tutorial. If you didn't fix it already, could you, please, try a

[2017-09-20 13:36] danirus commented on #73
Indeed, I added it in d00d4137d64721506c0afb95d971c85c2b7fcdc8.
Thanks!

[2017-09-20 13:36] #73 closed

[2017-09-20 13:37] danirus commented on #71
I fixed it in d00d4137d64721506c0afb95d971c85c2b7fcdc8.
Thanks for the report @babus.
Sorry for the long delay.

[2017-09-20 13:37] #71 closed

[2017-09-24 09:16] evilplanet commented on #72
@danirus Thank you for your reply. I read your tutorials. It doesn't work for my case probably for the reasons described above.

[2017-09-24 10:24] danirus commented on #72
Take a look at commit 86343a216565f54e0e7cbf761233449bf7552870, I have changed the `comp` demo site to illustrate your setup. Pull the changes from master and give it try. Your particular case can't be too far from it. Let me know.

[2017-09-26 00:52] evilplanet commented on #72
Hey @danirus Thanks for the reply. It still doesn't work. A 404 response with the following message: `Comments posted to instances of 'blog.post' are not explicitly allowed to receive 'liked it' flags. Check the COMMENTS_XTD_APP_MODEL_OPTIONS setting.` Although in settings I have the standard configuration as below:
[code]
}

Is there a way to override the default projectwide? That would be much e

[2017-09-26 05:08] danirus commented on #72
The key you have to use in `COMMENTS_XTD_APP_MODEL_OPTIONS` is the `app_label.model` as registered in the ContentType table. Take a look at how your `blog.post` is registered and used that instead. It might be different than `blog.post`, reason why `django_comments_xtd.utils.has_app_model_option` fails:

    from django.contrib.contenttype.models import ContentType
    for ct in ContentType.object

[2017-09-26 06:41] evilplanet commented on #72
I just tried your command. It prints `blog.post`. I must have done something wrong somewhere else.

[2017-09-30 01:26] evilplanet commented on #72
Is there a way to override the default for the whole project?

[2017-09-30 04:35] danirus commented on #72
Clone the project and replace the body of the function `has_app_model_option` with: `return True`.
That's all you need.

[2017-10-03 07:28] evilplanet commented on #72
@danirus Thank you! I'll give it shot and let you know.

[2017-10-08 00:51] joyider opened #76 "Preview loop if logged in"
Hi!

I've encountered an annoyance  regarding posting comments when being logged in:

When logged in posting a comment takes me directly to the preview screen

![alt text](https://puu.sh/xSCpW.png)

this is where I'm stuck. Reading the documentation this behavior is expected if the form has errors. But what would be classified as an error?

Posting comments not logged in and posting the URL from t

[2017-10-08 20:19] joyider commented on #76
Ok by not being so sleepy. I have this issue sort of resolved.

This is not an issue with the Django_Comment_Xtd or the underlying Djando_Comments.

By reading the content the variables(preview and form.errors) that are responsible of rendering the preview page. You can see:

`preview=False`

BUT

`form.errors` is:
`<ul class="errorlist"><li>email<ul class="errorlist"><li>This field is required.</

[2017-10-09 05:21] danirus commented on #76
Hi @joyider, thanks for bringing this up. I'll review the documentation. It's written in many places that django-comments-xtd extends django-comments, and I presumed that's enough, but a bit more clarification wouldn't harm. I put it in my todo list.

[2017-11-09 05:51] pamost opened #77 "Problem of mixed content on a site with the HTTPS"
Hello,
when working with a package on a site with the HTTPS protocol, there is a mixed content problem (yellow lock).
The problem is related to the fact that the reference to the gravatar contains https: //.
To solve the problem, have to change the function code: `xtd_comment_gravatar_url`
Maybe to make a separate setting switch the packet to work on HTTP or over HTTPS?

[2017-11-09 08:01] danirus commented on #77
Thank you @pamost.
Fixed in ff55f37.
The latest release 2.0.9, already in PyPI, includes the fix.

[2017-11-09 08:01] #77 closed

[2017-11-09 08:03] pamost commented on #77
Thank you.

[2017-11-28 14:37] vadim-zabolotniy opened #78 "Queryset is none when try to post new comment."
Traceback:
File "/path/to/projects_dir/project/venv/lib/python2.7/site-packages/django/core/handlers/base.py" in get_response
  132.                     response = wrapped_callback(request, *callback_args, **callback_kwargs)
File "/path/to/projects_dir/project/venv/lib/python2.7/site-packages/django/views/decorators/csrf.py" in wrapped_view
  58.         return view_func(*args, **kwargs)
File "/pa

[2017-11-29 05:11] #72 closed

[2017-12-03 11:38] ppershing opened #80 "Handling of duplicate confirmations"
When you click twice on the email link right now you end up with 404 which isn't very friendly because people freak out what is happening. There are two possible solutions

* just follow the original code path but don't create comment/send notifications. This will basically render the same thing on the second click making the user believe it is his/hers first click
* have a special template which

[2017-12-06 19:21] j4n7 opened #81 "comment.user.is_authenticated()"
Hi,

I was following the tutorial and tried posting a comment, logged in as 'admin' but I encountered this error:

File "C:\Users\XXX\AppData\Local\Programs\Python\Python35\lib\sitepackages\django_comments_xtd\views.py", line 103, in on_comment_was_posted
(comment.user and comment.user.is_authenticated())
TypeError: 'bool' object is not callable

I solved it deleting the '()' at the end, so instea

[2017-12-08 12:02] IvoPo opened #83 "COMMENTS_XTD_SEND_HTML_MAIL"
EDIT: I'm sorry i ssem to have copied the wrong line :(
[COMMENTS_XTD_CONFIRM_MAIL](https://github.com/danirus/django-comments-xtd/blob/master/docs/settings.rst#comments-xtd-confirm-mail)
in the example of the doc it says

`CCOMMENTS_XTD_CONFIRM_EMAIL = False`

which is it ? MAIL or EMAIL ?

I've both in my settings.py currently and it's still in the template and required.

cheers

[2017-12-08 12:06] danirus commented on #83
The right form is `COMMENTS_XTD_SEND_HTML_EMAIL`.

[2017-12-08 12:10] danirus commented on #81
@j4n7, thanks for the telling.

[2017-12-08 12:11] IvoPo commented on #83
I'm sorry it was about confirm_mail not html_mail.

[2017-12-08 12:12] danirus commented on #80
I like the first solution too.

[2017-12-08 12:15] danirus commented on #83
No problem.
The right form is `COMMENTS_XTD_CONFIRM_EMAIL`.
I'll fix it in the docs, thanks for telling.

[2018-01-23 14:17] danirus commented on #83
Fixed in e405dc790c986bd6dfe9b5bca1a2558bfb242981.

[2018-01-23 14:17] #83 closed

[2018-01-23 14:17] danirus commented on #81
Fixed in e405dc790c986bd6dfe9b5bca1a2558bfb242981

[2018-01-23 14:17] #81 closed

[2018-01-23 15:20] danirus commented on #76
For the record,
I realized it's an actual error when used in combination with the ReactJS plugin.

[2018-01-26 19:04] danirus commented on #76
This bug has been fixed, I still have to update the documentation so I'll leave it open until then.

[2018-02-12 20:25] Tonyfoy opened #86 "error message div showing when there is no errors"
I am following the tutorial and notice that in the comments/form.html(line 9-10). The div for error message is showing up when there is no errors. So there is a red empty div on the page. Is this normal? Or I missed something?
[code]
<img width="689" alt="screen shot 2018-02-12 at 21 19 30" src="https://user-images.githubusercontent.com/36143195/36117748-10c56bfc-103b-11e8-9cd3-0fa0d7bc824b.png">

[2018-02-12 20:36] danirus commented on #86
It's not expected. It might have something to do with the last changes.
If that's the problem, you could install the package with pip from PyPI.
Thanks for telling @Tonyfoy, I'll look into it tomorrow.

[2018-02-13 03:56] Tonyfoy commented on #86
Hi @danirus, thanks for looking into it.

I did install it with pip. Do you mean I should install an older version with pip?

[2018-02-13 04:19] danirus commented on #86
I meant you could use the last version available in PyPI, but you are right, that version already has the last changes in master. If you need it immediately use 2.0.9 while I fix it.
I will investigate this issue. Thanks again for the report.

[2018-02-13 06:03] Tonyfoy opened #87 "COMMENTS_XTD_MAX_THREAD_LEVEL_BY_MODEL not working"
I am following the tutorial>[ Different max thread levels](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#different-max-thread-levels) section. `COMMENTS_XTD_MAX_THREAD_LEVEL_BY_MODEL` does not work. The reply button only appears when `COMMENTS_XTD_MAX_THREAD_LEVEL` is set to greater than 0.

[code]

[2018-02-13 18:36] danirus commented on #86
In which step did you have this issue? I can't reproduce it. I however caught another error that might be related. I created a repository with the tutorial. Look at the commits, they match the sections in the tutorial. I will tag them but everything is in there.

The reason why this might happen is that the admin user doesn't have a name or email address. Add those attributes to the user through t

[2018-02-14 06:06] #76 closed

[2018-02-14 07:30] Tonyfoy commented on #86
I just figured it out. It was caused by Bootstrap 4. It is not an issue when using Bootstrap 3.3.7

[2018-02-14 07:30] #86 closed

[2018-02-14 07:47] danirus commented on #86
Yes, I will update.

[2018-02-17 20:07] sanastasiou opened #88 "Prerequisite for follow up notification?"
Hi, awesome work.

I just setup the plugin version of the package and it works great, but I have some question as I couldn't find any example in the documentation.

How does followup notification works? I would assume that the user model or something will have to have an e-mail field attached to it, or something similar.

Also, when flagging a comment, and confirming the flag I am getting the foll

[2018-02-18 17:50] danirus commented on #88
Hi @sanastasiou, thank you!

Yes, if the user sending the comment is a registered user and is authenticated but doesn't have an email address in the user object, django_comments_xtd will require the email address in the form. If the user is registered and has an email address then it's not required when sending the comment.
Be sure to sse the latest version, v2.1.0, it resolves a problem with that

[2018-02-19 21:11] sanastasiou commented on #88
@danirus Hi and thanks for the quick reply. I fixed the issue I had. My problem was, that the absolute URL wasn't a "reverse" for the associated object, rather a redirect. That was causing issues, when redirection from the comments-xtd links. Changing this to reverse solved my issues.

- OK, so if I understood correctly following scenarios can happen: Unregistered user needs verification for
his e

[2018-02-25 07:34] nicoodakp opened #90 "The gravatar"
![capture](https://user-images.githubusercontent.com/36462624/36639140-abbd6cd0-19d3-11e8-83f7-87f9f189165c.JPG)

Hi, really love the package. thanks a lot. For some reason the gravatar were a little bit off. (where the media left should have some gap btw media content ?) super new to this and not sure if im doing it correctly.

`{% extends "posts/post-base.html" %}
{% load staticfiles %}

<div cl

[2018-02-25 10:05] danirus commented on #90
Thanks @nicoodakp. It seems you are not loading the default css file provided with django-comments-xtd.

Take a look at the [preparation](http://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#preparation) section in the documentation. It's part of the tutorial. I recommend you to follow the tutorial. You can also look at the code behind the demo sites. In all those cases I use the Boot

[2018-02-25 17:44] sanastasiou commented on #88
@danirus Thanks for the answers. Yeah, I am not gonna remove the e-mail confirmation. OK, the use cases are exactly what I need. For the avatar, I'll check the app(s) -> I hope this will help prevent using the default image in the avatar.

One last question:

Is it possible to have the "notify me for updates" checkbox enabled by default? Or even better simply hide it and always have this functiona

[2018-02-25 20:53] nicoodakp commented on #90
Thanks for the notice, I follow the example to put the href static into the html and the tree works now. but at the same time it undermine the whole page structure.....my website is currently using bootstrap 4 alpha and i saw your css was using boot 3.3.  is there anyway to get around with this ?
many thanks

[2018-02-25 21:11] nicoodakp commented on #90
never mind i think i got it. i change the comment_tree.html to class="align-self-start mr-3" at line 10. it works now.

[2018-02-25 21:11] #90 closed

[2018-02-28 16:36] danirus commented on #88
Sorry. It's not implemented but you can do it.

Create a form that inherits from `XtdCommentForm` and use it with the setting `COMMENTS_XTD_FORM_CLASS`. See the docs [here](http://django-comments-xtd.readthedocs.io/en/latest/settings.html#comments-xtd-form-class).

In your class form be sure to make the `followup` field use a `HiddenInput` widget, and overwrite the `get_comment_create_data` so tha

[2018-02-28 17:50] sanastasiou commented on #88
@danirus I did that however I see no change at all in the form. Is this setting even relevant when using the .js plugin?

[2018-02-28 18:28] sanastasiou commented on #88
I finished following this: https://github.com/danirus/django-comments-xtd/blob/master/docs/javascript.rst

If you tell me how create my own bundle then I adjust the form to my own needs.

[2018-02-28 18:40] sanastasiou commented on #88
Ah, I missed the last part of docu!! Trying to build it now 👍

[2018-02-28 18:56] sanastasiou commented on #88
Running webpack --watch throws some kind of exception and I cannot build unfortunately. I am on windows 10 if this makes any difference.

`C:\Work\Django-Comment-Xtd\django-comments-xtd>webpack
(node:14048) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
C:\Users\stefa\AppData\Roaming\npm\node_modules\webpack\lib\Chunk.js:438
                throw new Error("Chunk

[2018-03-16 23:55] nicoodakp opened #92 "the like and flagging... #support"
Hi its me again,

I try to utilized the package with the like/dislike and flagging, I follow the comp example and doc to set up the setting.py and urls.py. but the liked and flagging only allow for authenticated user.  (non-authenticated user redirect to my account/login page...)

If i were only using template tag the 'like' returns
'The current path, accounts/login/, didn't match any of these.'

[2018-03-17 07:10] danirus commented on #92
Hi @nicoodakp,

Yes... such a behavior is intentional. The code doesn't allow like/dislike, nor flagging, for non-registered users. Those actions use the `CommentFlag` model from [django-contrib-comments](https://github.com/django/django-contrib-comments/blob/master/django_comments/models.py#L18), which require a user.

To allow non-registered users flag and like/dislike comments you would need a

[2018-03-17 20:52] nicoodakp commented on #92
thanks for the note,
if I were only want to allow non-register customer to like/dislike, but only once for each ip address.
what would be the best approach to this ? A new model ? a social-auth package ? or something else ?
thanks

[2018-03-21 14:04] sanastasiou opened #93 "Crash when using postgres sql"
[2018-03-21 14:58:09 +0100] [8902] [DEBUG] POST /comments/api/comment/
Internal Server Error: /comments/api/comment/
Traceback (most recent call last):
  File "/home/ubuntu/.local/lib/python3.5/site-packages/django/db/backends/utils.py", line 65, in execute
    return self.cursor.execute(sql, params)
psycopg2.DataError: invalid input syntax for type inet: "b''"
LINE 1: ... '2018-03-21T13:58:09.673

[2018-03-21 14:31] danirus commented on #92
One proxy puts many users behind a single IP. Sorry, that's not a good solution.

[2018-03-21 17:50] sanastasiou commented on #93
@danirus could you please post your postgre SQL settings here?

[2018-03-21 19:41] sanastasiou commented on #93
Actually this is the issue exactly:

https://github.com/django/django-contrib-comments/issues/93

Comp project failed with the exact same error. I guess we need some of the mentioned workarounds.

[2018-03-22 08:10] danirus commented on #93
Thanks for the link @sanastasiou.
It's not a problem of this app though.
I think it would be worth mentioning in the documentation.

[2018-03-23 01:54] sanastasiou commented on #88
@danirus Could you please help here? Do I need to build in ubuntu? I really need to modify the layout of the comments for our projects :)..

[2018-03-23 08:13] danirus commented on #88
@sanastasiou, check the branch [issue-88](https://github.com/danirus/django-comments-xtd/compare/issue-88). Those changes will set `follow_up = True`. Remeber to run `webpack -p` to build the plugin without the follow-up field.

[2018-03-26 18:10] asadan opened #94 "get_absolute_url requirement"
Hi,
I noticed that you must add a "get_absolute_url" method to models for which you want to attach comments.
I didn't see anything about it in the documentations though...

Anyway, thank you very much for this plugin!

[2018-04-05 13:17] maratumba opened #95 "Getting BadSignature error after sending comment"
Just installed django-comments-xtd app. Added 'allow_comments' field to my model, copied the comment parts of the template from the [simple project](https://github.com/danirus/django-comments-xtd/tree/master/example/simple). Comment is created by I'm getting this error.

Also when I click the comment permalink, I get redirected to my production server while testing it in the development server. It

[2018-04-05 13:55] maratumba commented on #95
Also getting an empty query set in django shell although the comments show up on the page.
[code]

[2018-04-05 14:13] maratumba commented on #95
After my diligent tracking of the source of the problem, I came to the conclusion that I'm an idiot:
COMMENTS_APP was set to 'django_comments' instead of 'django_comments_xtd' in settings.py as can be seen above.

[2018-04-06 08:17] danirus commented on #94
@asadan, thanks for the point!

[2018-04-22 22:52] sanastasiou commented on #93
@danirus  Can you update your dependencies to use the latest release of this:

package? https://github.com/django/django-contrib-comments

The bug is already fixed with this commit:

https://github.com/django/django-contrib-comments/commit/cb50604156af15486931732a6593b47abca75efe

[2018-04-23 09:30] Logmytech opened #96 "Comments in Plain HTML and SEO"
I'm thinking Google might mark as low quality due to plain text comments.

I'm not really sure.

Is it possible to load over JS only like Disqus does.

Also, if some one could give an idea of wether comments in Plain HTML instead of dynamic js loading is good for SEO or not.

I think this should be mentioned in the Wiki.

Thanks! I'm using this project for my Wagtail blog to add comments.

[2018-04-24 05:55] danirus commented on #93
Hi @sanastasiou, they have to roll out a new release to include that commit, django-comments-xtd will pick it automatically (unless it is a major release, like 2.x). So no need to change anything here.

That way you pick django-contrib-comments from the master branch instead of picking the package from PyPI. Add this line to your requirements file to do so:

    -e git+git://github.com/django/djan

[2018-05-02 19:11] veronicabasso opened #97 "Comment likes user list"
Thanks a lot for amazing project. I was wondering if it's possible to replace the username in the likes with user's first name?
![screen shot 2018-05-02 at 9 10 58 pm](https://user-images.githubusercontent.com/36537252/39544117-603b0ed0-4e4d-11e8-888b-6c735169f41b.png)

[2018-05-02 19:25] veronicabasso commented on #97
Thanks @danirus it works :)

[2018-05-02 19:25] #97 closed

[2018-05-04 09:17] sanastasiou opened #98 "Custom e-mail template possible?"
@danirus is it possible to override the e-mail notification template?

We use a common template for all e-mails, so it would be nice if we could also use our own template for the comment notifications as well.

[2018-05-04 17:28] danirus commented on #98
Yes, just override:
 * templates/django_comments_xtd/email_confirmation_request.html
 * templates/django_comments_xtd/email_confirmation_request.txt
 * templates/django_comments_xtd/email_followup_comment.html
 * templates/django_comments_xtd/email_followup_comment.txt

The txt version is required too. Both, html and txt, are sent in a multipart message, so that people reading text-only emails can

[2018-05-13 19:19] sanastasiou opened #99 "Threaded comments, in mobile devices."
Hi @danirus ,

I have tried using and styling the nested comments, even with minimal nesting level ( 1 ).

The js plugin is using "media-body" class which hides scrolling by default. Even after fixing this, I could add horizontal scrolling per "frist level comment" That "works" but the overall experience is sub-optimal. I think the best way to tackle with this issue , is to have youtube like comme

[2018-05-13 22:30] sanastasiou commented on #99
Is it maybe possible to flat all levels above 1 to just one? But still allow for replies? This is how e.g. facebook and youtube work. I tried to find out the indendation levels in the rendering part of the plugin but I was not successful.

[2018-05-25 08:48] sanastasiou commented on #93
`class BaseMiddleware:
    def __init__(self, get_response):
        self.get_response = get_response

    def __call__(self, request):
        if request.META['REMOTE_ADDR'] == 'b\'\'':
            request.META['REMOTE_ADDR'] = ''

        return self.get_response(request)`

[2018-05-25 08:48] #93 closed

[2018-05-25 08:48] sanastasiou commented on #93
This is the real solution to the bug. Even the latest django contrib comments doesn't fix this. But this little middleware does.

[2018-05-25 12:20] danirus commented on #93
Thanks @sanastasiou

[2018-07-01 15:39] sanastasiou commented on #99
@shashaBot We don't have to get rid of anything, but making it optional would be better. In mobile devices using relatively large comments, is is almost impossible to display even 2 levels of nesting correctly, let alone ten. I have tried extensively using css tricks to alleviate the issue but the end result was really not user friendly. This is the main reason, I think, why fb, youtube etc. prefe

[2018-07-18 19:14] Tonyfoy commented on #86
Hi danirus,
I was just wondering if this project will be updated to Bootstrap4?
Thanks

[2018-07-19 13:31] danirus commented on #86
Hi @Tonyfoy,  it's something in the TODO list since v4 was launched.
I will give it a spin one of these days.

[2018-07-26 16:02] chenwoop opened #101 "Question about file generation"
Hello,
I am trying to use django-comments-xtd in my project, but I have some difficulties understanding some parts of the code. More specifically I have problems understanding the following generated files: plugin-2.1.0.js and vendor-2.1.0.js. Those seem to be generated by some kind of bundling process.
Where can I find the corresponding original 'unbundled' js-code?
Best Chen

I am sorry if this

[2018-07-27 04:11] danirus commented on #101
Hi @chenwoop, those two files are generated by webpack, following the configuration in `webpack.config.js` in the root directory. The sources are in:

    django_comments_xtd/static/django_comments_xtd/js/src

Before you can run webpack you must install NodeJS and NPM, and then run `npm i` in the root directory of the package. That will install all required packages, listed in `package.json`.
Ther

[2018-07-29 05:21] SOMGER opened #102 "Confirmation link leading to Http 400"
Hi, great app and good tutorial! I have a problem where the confirmation link from the e-mail leads to a http 400. Everything else works fine. I browsed through the earlier and closed issues, but only find one where the url in the confirmation e-mail was too long. I looked through the code I installed and it has the changes that were proposed there as a solution. Anyone else having the same issue?

[2018-08-03 16:34] SOMGER commented on #102
So apparently the problem was sth else, a configuration in my sites app.

[2018-08-03 16:34] #102 closed

[2018-08-05 10:15] reyhanehpahlevan opened #103 "The current path, articles/2012/1/10/net-neutrality-jeopardy/<function post_comment at 0x10d5c0d90>, didn't match any of these."
Hi!
I'm starting to use this package in my project last week but I got stuck with this error and I don't know how to solve it! It happens after I push the send/preview button of the comment. it seems that the code will stop in the last line of "get_form_target" function, when it tries to do "return post_comment". I'm trying to run the sample code on "Django 2.0.4" and "python 3.6.5"

Thanks!

[2018-08-05 10:26] #103 closed

[2018-08-11 10:20] v-gar opened #104 "Django 2.1: django.db.models.permalink() removed"
I tried to update my Django application (which uses django-comments-xtd) to Django 2.1.

At the moment I get the following error:
[code]
I guess the error belongs to Django Comments XTD.

Can the others reproduce a similar error? Django==2.0.8 works flawlessly - Django==2.1 not.

I looked up the [2.1 changelog](https://docs.djangoproject.com/en/2.1/releases/2.1/#features-removed-in-2-1) and discov

[2018-08-12 07:40] danirus commented on #104
Hi @v-gar, it's not a bug in django-comments-xtd, just a lack of support for Django v2.1.
I've just added it in the branch `support-django-2.1`.
Maybe you could give it a try before I merge it.
I will do it myself later today.

[2018-08-24 06:54] babus opened #106 "API function to retrieve the total number of replies in a given comment?"
Currently we can only count the replies one level down(immediate children). Is there any idea to implement to count the total replies to all the way down?

[2018-08-24 07:05] danirus commented on #106
Good point. It shouldn't be too difficult. If you want to implement it go ahead. I can't look into it until at least mid September.

[2018-08-24 07:11] babus commented on #106
I see, Thanks! If you have any quick ideas please pour it down which I can try with the implementation.

[2018-08-24 07:16] babus commented on #106
What I think would be challenging is that a lot of db queries when we list the comments? Because for each comment we should fetch the count() in a recursive way?

Tried all my best with level, order and thread_id, couldn't reach a solution. If each comment has been stored with a list of thread_id(list of parent ids) we can use the `__in` filter to annotate the counts.

[2018-08-24 08:03] danirus commented on #106
Rewriting XtdComment's `tree_from_queryset` class method. You could annotate while reading the queryset to keep linear complexity, it doesn't require additional DB queries.

[2018-09-08 07:56] tanveerahmad1517 commented on #106
Please if you have any Ideas on this Topic Share with me i also need Facebook Comment and replies counting I want also count on replies on everything Please How can I do it?

[2018-09-08 12:44] tanveerahmad1517 commented on #88
@sanastasiou Please did you find solution for avatar if you solved avatar problem Please share with me how did you done this I don't want default avatar picture on user Please help me :(

[2018-09-10 07:31] babus commented on #106
@tanveerahmad1517 I ended up recalculating the total replies and store it along with each comment. Can't find time to rewrite the class method as danirus suggested.

[2018-09-29 15:36] MusaZhou opened #107 "the comments/form.html file, the value of input(name=next) shoud be hardcode or take from context variable?"
I want to redirect to my page after relpy the comment, so I append "next" query paramter behind /comment/reply, but in the upcoming reply.html page, I find that the input(name=next) is always equal to 'comments/sent', at first I thought there might be some problem of the query parameter appending. Later after dig into the source code. I found out that in our package, the overwriten comments/form.h

[2018-10-02 02:58] danirus commented on #107
Hi @MusaZhou, this is a functionality provided by [django-comments](https://github.com/django/django-contrib-comments).  It's the default behaviour if you don't customize anything. The easiest thing would be to rewrite the form.html template and pass the `next` as an input within your form. You could also rewrite the `post/`  url in your project and pass the next parameter of your choice when it's

[2018-10-02 17:23] boryskuczkowski opened #108 "{% if object.allow_comments %} prevents form from rendering"
Hi there,

I was trying to resolve that issue, without any luck. The same issue was mentioned in stackoverflow here:
[https://stackoverflow.com/questions/51860222/comment-form-doesnt-load-when-using-django-comments-xtd](url)
So basically despite being authorised (logged in) the form doesn't display, the only way to display form is to strip it of `{% if object.allow_comments %}` tags.
Anyone know h

[2018-10-03 09:59] MusaZhou commented on #107
Thanks alot @danirus . Really appreciate your answer. Thanks for your great work on this project.

[2018-10-03 09:59] #107 closed

[2018-10-06 04:37] danirus commented on #108
Hi @boryskuczkowski. The evaluation of the condition `if object.allow_comments` will be `True` only if the attribute `allow_comments` does exist in the `object`. If the object you want to attach comments to doesn't have such attribute then the condition will always be `False`.

Look at the example sites of this app. The `Article` model [contains an attribute](https://github.com/danirus/django-comm

[2018-10-06 17:12] fab10m opened #110 "How to paginate comments tree"
Hello everybody,

I was needing to render the comments with pagination, in the tree form and sorted in this way:
- all the commnents with level = 0 in the descending order
- all the others comments in the ascending order

Maybe it was right in front on me, but I did't find a ready solution to solve my issue, so I decided to try to do it myself. I'm pretty sure that there will be many better ways t

[2018-10-09 06:42] ryo-ma opened #111 "How to support bootstrap4"
Hi.
My project is using bootstrap4. but I think that django-comments-xtd must use bootstrap3.
There is icon issue. if it is using bootstrap4.
How to support bootstrap4.

[2018-10-09 06:48] danirus commented on #111
Hi @ryo-ma, thanks for the remainder. I started last week to work on migrating to twbs 4.
I'm busy with other projects, but I admit that staying in version 3 is becoming an issue.
I hope/guess it will be done at the end of the month.

[2018-10-09 07:03] ryo-ma commented on #111
Thank you for the reply.
I'm looking forward to it.

[2018-10-14 01:31] tirtasantoso opened #112 "Api does not accept comments for object with pk that uses uuid"
The current url only accepts pk integer as the view kwargs. For custom model which uses different pk like uuid the routing will not match amd causes error. Propose to change it to accept slug instead.

[2018-10-25 08:51] danirus commented on #111
Hi @ryo-ma, no problem,
I'm too busy these days moving houses.
I will merge it in master at the end of November.
I hope it's still reasonable timing...

[2018-10-26 02:13] ryo-ma commented on #111
Hi @danirus, It's ok.
Good luck with your move.

[2018-11-05 01:54] wreeecks opened #113 "Posting comment to localhost"
When i post a comment on my localhost it's posting/redirecting to the production site. Is there a configuration for this? Thanks!

[2018-11-05 05:05] danirus commented on #113
Most probably because the site object (Sites app) pointing to the production URL.

[2018-11-05 06:09] wreeecks commented on #113
Thank you for your reply. I'm using .env and different settings.py for my localhost and production. Can you please tell me where to change the site object url?

[2018-11-07 01:29] wreeecks commented on #113
Thank you! It's working now.

[2018-11-28 14:50] The-Phi opened #114 "in the tutorial: auth.json': Could not load auth.Permission(pk=4): UNIQUE constraint failed: auth_permission.content_type_id, auth_permission.codename"
It seems to be a bug in the tutorial:
when loading the fixtures (as indicated in https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#preparation), this step sends an error:

[2018-11-28 15:11] The-Phi commented on #108
Indeed, it was not very clear in the tutorial why this 'allow_comments' appears. I thought it was some sort of foreign key added by the app...
Maybe a little word on this in the tutorial could help....

[2018-11-29 21:35] #87 closed

[2018-11-29 21:52] danirus commented on #94
Fixed in 8ddb672.

[2018-11-29 21:52] #94 closed

[2018-11-29 21:52] danirus commented on #108
Fixed in 8ddb672.

[2018-11-29 21:52] #108 closed

[2018-11-29 21:52] danirus commented on #111
Fixed in 8ddb672.

[2018-11-29 21:52] #111 closed

[2018-12-04 15:51] soider opened #116 "Migration missing for blank=True on xtdcomment.followup"
I am on 2.1.3 django, and every manage.py makemigrations creates migration for "blank=True" on followup field.

It is related to the https://github.com/danirus/django-comments-xtd/issues/71 issue, but in 71 only default=False added.

[2018-12-05 05:17] The-Phi opened #118 "even if "COMMENTS_XTD_CONFIRM_EMAIL = False", form still shows: "Required for comment confirmation""
I use the available option in settings `COMMENTS_XTD_CONFIRM_EMAIL = False` since I'm doing only a post-posting validation of the comments, not a pre-posting one.

It's working great.

Still, the comment form still displays at the `Email` section: `Required for comment confirmation`.

It's a minor bug but think it's a bit confusing for the poster since it should display something like:
`Required f

[2018-12-06 12:30] The-Phi commented on #118
I will look into it (never worked with ReactJS but it doesn't seem too complicated...)

[2018-12-06 12:34] danirus commented on #118
Sounds good. If you have any trouble just create a pull request and we work together on it.

[2019-01-15 10:34] zugspitze opened #119 "Changing the default permission policy for comments."
Hi @danirus, I like this package a lot and want to use it. However, I have default permission set to `rest_framework.permissions.IsAuthenticated`. How can I change it to `rest_framework.permissions.AllowAny` for comments?

[2019-01-15 11:35] danirus commented on #119
I gather you want to allow anonymous users to send comments. Is that right?
The app doesn't allow it without extra coding, implementing it won't be simple.
I like your hiking project btw. Nice that you are in Munich. :)

[2019-01-15 13:06] #119 closed

[2019-01-16 15:45] zugspitze commented on #119
I understand, I would be glad to have some hands-on session. I will get back to you in your email regarding the possible dates.

[2019-01-29 00:30] ntmk opened #120 "bypass like and dislike confirmation page #support"
I am having an issue adding the same functionality for the like / dislike button on the confirmation page to the thumbs up / down icons on the comment itself. It is quite possible I am overlooking where the actual update to the likedit_user arrays. If you can provide a hint in the right direction.

[2019-01-29 19:23] danirus commented on #120
@ntmk, explain the situation further, I don't understand.

[2019-01-29 22:50] ntmk commented on #120
@danirus I want to avoid being redirected to the like page. (django_comments_xtd/like.html)
 Instead I would like the user name to be appended to the `'likedit_users': [<User: user001>, <User: Nathan>]` array by clicking the thumbs up icon in the user_feedback.html.
The end goal is to have them comment and likes / dislikes update on page refresh without having to go through the comment confirmatio

[2019-01-30 15:39] danirus commented on #120
Then you have to use the react plugin with your project, and be logged in at the time you want to click on the thumbs up/down icon. Following the tutorial you might get there.

[2019-02-07 12:51] #120 closed

[2019-02-19 04:43] #112 closed

[2019-03-18 06:55] 42force commented on #104
Hi where do you add the support-django 2.1?

[2019-03-24 21:03] KhanMaytok opened #122 "Comment count for a partial queryset"
Hi to everyone. I have this queryset:

[code]

This is sent to the template. When I try

`{% get_comment_count for post as comment_count %}`

I get `'dict' object has no attribute '_meta'` I guess it is due I'm sending a dict and not the whole post object.

Is there any form to use this from, for example, the object id?

[2019-03-24 21:05] #122 closed

[2019-04-11 16:26] kutenai opened #123 "Creating a fork to replace comments models with one based on treebeard"
I've spent some reviewing the source of this package, the original django-contrib-comments package, and any others I could find related to commenting (there are many). This package is the closest to what I would **like** to see, but I'm really looking for a comment system that uses a __modern__ tree approach, specifically django-treebeard.

Some issues I have with the current appraoch:
- each comm

[2019-04-13 23:26] gassan opened #124 "settings.SITE_ID?"
django.contrib.sites is one of required modules. Is it not posible to get the SITE_ID from request.site.pk?

[2019-04-14 07:29] danirus commented on #124
It's possible, but `django.contrib.sites` is a dependency because django-comments-xtd extends django-contrib-comments which uses the `Site` model in the comment model.

[2019-04-14 07:59] danirus commented on #123
Sounds as an interesting exercise.
This app is attached to django-contrib-comments, as it extends it. What you propose, as you well said, requires a new model layer. Support for nested comments would benefit from it. In particular the `tree_from_queryset` method in the models.py module, that builds the comment tree out of the queryset.

How would you refer to the "connected" model if not using a G

[2019-04-14 10:33] gassan commented on #124
therefore you could change line commetns_xtd.py:256 from
site__pk=settings.SITE_ID,
to
site__pk=request.site.pk
or sometheng speaks against it?

[2019-04-14 10:56] danirus commented on #124
Sorry, I thought you wanted to get rid of the sites app.
Of course you can replace them.

[2019-05-20 03:52] kutenai commented on #123
I do not see another way to handle the foreign key relationship, so the Generic FK is still the best solution there, I just wanted to use a different approach to managing hierarchical relationships.

I've also been looking at a way to get user updates. One is to use websockets, probably with django channels. I'm thinking that is too much to work out. The other idea I had is to use an alternate not

[2019-05-20 04:36] kutenai commented on #123
Okay -- let me try this again. I had to go back and review what I did, since I have not touched it for a few weeks.

My plan is to associate a set of comments on a particular model using a `CommentAssociation` model. This model uses a Generic FK to the Object being associated but associates the "root" of the comment stream. This is quite a bit different than the existing method which associates ea

[2019-06-03 03:09] kutenai commented on #123
@danirus - I have made progress on my fork of this repo, so I thought I'd let you know.
The changes are too large to submit a PR, and I really just wanted to move forward with the new design, and skip any sort of backward compatibility.
The repo is here: https://github.com/sharpertool/django-comments-tree

I dropped 2.x support as well, as I'm all in on 3.6+, and don't want to look back.

The libr

[2019-06-03 03:09] #123 closed

[2019-06-04 05:20] HelloGit100 opened #126 "Like button will jump to the new page, how to change to modal mode?"
When I click on the Like button, it will jump to the new page. How do I make this new page pop up on the current page in a modal way?

[2019-06-04 09:11] danirus commented on #126
There's no such modal way. But you can use the ReactJS plugin, so that you can preview and post comments without leaving the page.

Read the tutorial [here](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html), there's a section in which I describe how to use the JavaScript plugin.

Also you can run the **comp** demo. There you will see two apps with comments: Articles and Quotes. C

[2019-06-17 14:13] HelloGit100 commented on #126
@danirus Thank you!

[2019-06-17 14:13] #126 closed

[2019-07-04 16:25] erev0s opened #127 "Allow frontend editing of the comment?"
Great work with this plugin, keep going !

From what i saw i could not find if there is a possibility to allow the users to edit their comments. Is it possible?

[2019-07-05 06:01] danirus commented on #127
Thanks @erev0s. I didn't implement that.

Changing the text of a comment once it's posted might invalidate or make the comments that follow it loose their sense. However, there's a case that could allow changes, which on the other hand might be the most useful for the user, which is to change a comment just posted. If the comment is the last one in the thread, then changing the text wouldn't affec

[2019-07-05 12:35] erev0s commented on #127
When I have some time over the next weeks I will look more closely to it as it seems an interesting feature.

[2019-07-07 19:47] #127 closed

[2019-08-25 16:40] saileshkush95 opened #128 "Askimet"

[2019-08-25 16:40] #128 closed

[2019-08-25 16:53] saileshkush95 opened #129 "Akismet support and reCAPTCHA"
I also want to include reCAPTCHA and akismet in the comment form. But I've no idea how to implement it. Can we implement? Please let me know

[2019-08-26 06:01] danirus commented on #129
The idea of sending a link via email that the user has to click on to validate the comment makes the need of reCAPTCHA and akismet pointless. The comment is not even stored in the DB unless the user clicks on the link.

If you still want to use reCAPTCHA and akismet you should disable comment confirmation by email and then follow their instructions.

[2019-08-27 10:30] saileshkush95 commented on #129
Thanks for quick response

[2019-08-27 10:30] #129 closed

[2019-09-24 02:37] 52lemon commented on #104
i got the same error in django 2.2.4
`
 @models.permalink
AttributeError: module 'django.db.models' has no attribute 'permalink'
`

[2019-09-30 17:33] danirus commented on #104
@42force, @52lemon, I can't reproduce the error.
Could you build a small example showing the case?
@52lemon, django-comments-xtd doesn't use the permalink decorator.

[2019-10-01 05:59] danirus commented on #124
Your PR has been merged and the code is already available with v2.4.1.
Please, close the bug once you have verified it's been fixed.
Thanks again for your contribution.

[2019-10-01 06:04] danirus commented on #116
AFAIK this has already been resolved and fixed.
Thanks!

[2019-10-01 06:05] #113 closed

[2019-10-01 06:05] #98 closed

[2019-10-01 06:21] danirus commented on #88
Hi @tanveerahmad1517, @sanastasiou, did you find a solution for the avatar issue?
I just realize this issue is still in the code. It shows up when using the JavaScript plugin.
The issue is in the serializer `ReadCommentSerializer`, in the method [`get_user_avatar`](https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/api/serializers.py#L247).

[2019-10-01 18:42] gassan commented on #124
It works. Thank you!

[2019-10-01 18:42] #124 closed

[2019-10-01 19:40] gassan opened #130 "How do you make messages?"
Please help.

How to make messages only for django-comments-xtd (without already translated in django-comments)?

P.S. It woold be nice to write answer in readme.md

[2019-11-11 12:53] yhoiseth opened #131 "Missing Norwegian translations"
django-comments-xtd [is currently not available in Norwegian](https://django-comments-xtd.readthedocs.io/en/latest/i18n.html#internationalization).

I'll try to create a pull request to fix this.

[2019-11-11 13:52] yhoiseth opened #133 "Exception in thread django-main-thread: … KeyError: 'django'"
Trying to set up the `comp` example as instructed on https://django-comments-xtd.readthedocs.io/en/latest/example.html#setup, I get the following error:

[code]

Note that I'm using `venv` because I'm unsure about how to use `virtualenv` with my setup.

# System information

- macOS Mojave 10.14.6 (18G1012)
- Python 3.7.5
- Django 2.2.7

I suspect that the issue is related to Python and/or Django

[2019-11-11 14:00] yhoiseth commented on #133
Hmm… Considering that #134 passed, I don't think Python 3.7 is to blame. In case it helps, here's the entire output of `pip freeze`:

[code]

[2019-12-24 18:03] #131 closed

[2020-01-03 22:56] akamg opened #136 "like and flagging not appearing in comments!! even when logged in!"
I have follow the steps in the doc tutorial, i'm using django 2.0.0 and i even tried other versions of django(2.1.0,  2.2.0, 2.1.0) but  still the flags and likes are not appearing in comments! these are my settings.py and post_detail.html files

![like and flagging not appearing in comments!!](https://user-images.githubusercontent.com/18645730/71755605-28e65a80-2e83-11ea-8c0c-73a514f6b32d.png)

[2020-01-22 19:04] yozoranoken commented on #136
To fix this for now, I downloaded the zip file from [fontawesome](https://fontawesome.com/download) and extracted the following files to my static directory:
css/fontawesome.min.css
css/solid.min.css
css/brands.min.css
webfont/*

Manually referenced the css files in my base.html

![image](https://user-images.githubusercontent.com/16044637/72925051-01512680-3d8d-11ea-9d04-5b8a60f4559f.png)

[2020-02-04 02:26] hematinik opened #138 ""render_xtdcomment_tree" and "get_xtdcomment_tree" tags return incorrect result"
The `render_xtdcomment_tree` and `get_xtdcomment_tree` tags return incorrect result if the first comment instance for any content has its `is_public` attribute set to False.

If below conditions meet you'll get incorrect results from the tags:

- The first comment instance for a certain content has replies
- The `is_public` attribute of the comment is set to False

in that case both tags skip the

[2020-03-24 16:46] sandeepbalagopal09 opened #139 "Buid javascript library"
The tutorial shows how the javascript plugin can be integrated to a project. But when i try to do that getting an error from the console  'django is not defined'. I followed the doc, cloned the django-comments-xtd.git to my project folder. then did the build. After that copied the entire django_comments_xtd folder with the static assets to my project folder for django to recognise it as an app and

[2020-03-25 07:15] danirus commented on #139
Do you have the virtualenv active? The virtualenv where you did install Django?

[2020-03-25 11:16] sandeepimpressads commented on #139
Its fixed now @danirus. I had to put the i18n urls and call the JavaScriptCatalog view.

[2020-03-25 11:18] sandeepimpressads commented on #139
Getting another issue now. I am able to submit the comment but the list of comments showing under the article. getting this error

It is from create_tree(data) { method of commentbox.jsx

[2020-03-26 09:52] sandeepbalagopal09 opened #140 "Comment enabled only for logged in users."
Is there a settings available for the commenting option enabled only for the logged in users ?

[2020-04-01 06:12] sandeepimpressads commented on #127
@erev0s have you started working on it ?

[2020-04-09 15:20] Ronster2018 commented on #78
I am working with the web API and using the endpoint "comments/api/comment/" on Django 2.2.3, djangorestframework 3.11.0 and python 3.7.

When navigating to the django admin panel, I am able to create a comment and even nest the comments. When I sent the request through the DRF web page or make a POST request through Postman, I get the following error.

Exception Type: AssertionError
Exception Val

[2020-04-09 18:04] danirus commented on #78
Hi @Ronster2018, @vadim-zabolotniy,

I just created a setup like yours (python 3.7, DRF 3.11.0 and Django 2.2.3). I successfully post against the example/comp site (see it in the examples directory of the repository) using a REST client (ARC). I can also GET the list of comments posted to a the ContentType articles-article.

I use the sqlite3 in the example/comp site.
What database backend do you

[2020-04-09 18:17] Ronster2018 commented on #78
Hello,

Thank you for such a speedy response. I am also using an sqlite3 backend as well. I do have a lot of dependencies in this project so there could be a potential clash with them. As a way of testing, I will create an entirely new project in a virtual environment to test out the same functions there. I will give you an update as soon as I am done.

[2020-04-09 21:03] Ronster2018 commented on #78
Good afternoon,

I went ahead and created a completely new project and have the following requirements installed:
[code]

I am still running python 3.7.7

My settings.py file:
[code]

my urls.py thats in the same dir as my settings.py:
[code]
The app label for the new project is "TestAppHere" and the model name is just "Test" to keep it all simple.
[code]

I'm using the endpoint at http://127.0.0.

[2020-04-10 07:35] danirus commented on #78
So what is `Test`? Is it like `Article` in the `example/comp` directory?

[2020-04-10 12:53] Ronster2018 commented on #78
Correct. Its similar to the structure that the example/com directory. Where you have `example/comp/articles/models.py` and with in that `models.py `you have an `Articles` class. I have `TestProject/TestProj/TestAppHere/models.py` and within that `models.py
` I have a class `Test`.

I've gone ahead and uploaded the sample that I have been working with to make the visualization a little bit easier.

[2020-04-10 19:57] UMAR-SOHAIL opened #141 "Rest API endpoint secure"
is there any way to secure the restful API, even if you redirect to the API url. It starts to show all of the data publicly.
![Rest](https://user-images.githubusercontent.com/28934876/79019179-2fc1ef00-7b8f-11ea-8461-8fadaa4ad104.png)

So is this going to be a security threat in the future or it is designed to be like this ?

[2020-04-11 04:48] danirus commented on #78
I would prefer if you could put the code in a repository.
We can use the collaboration tools of GitHub to nail the issue.
Let me know when you have it.

[2020-04-11 05:04] danirus commented on #141
Indeed, it is designed so. Django apps relay on the security provided by the web servers you put in front of the Django project. In production you put Django behind a Web Server like Nginx, Apache. These servers have to be configured to use TLS certificates to enable HTTPS. Then your Django project will be secured.

[2020-04-11 05:21] danirus commented on #140
You can implement that logic too.

We can see it how to do it using the [example projects](https://django-comments-xtd.readthedocs.io/en/latest/example.html] of the repository. But let me exactly know what you want to do. Do you want to disallow not registered users to send comments nor to see the list of comments? Also, are you planning to use the JavaScript plugin and the REST API (like in the c

[2020-04-11 05:21] Ronster2018 commented on #78
That sounds like a good idea. I just added it to a quick little repo. Here is the link: https://github.com/Ronster2018/Test-API-Comments.git

[2020-04-11 09:03] UMAR-SOHAIL commented on #141
Ah okay my server does have the TLS certificate, but my question is that will this public endpoint have any real world re-precautions or this is totally safe to basically let this data be public.

[2020-04-11 09:38] sandeepimpressads commented on #140
I am using the Javascript plugin in the comp example. Currently anyone can comment by entering their details. What I want to do is commenting enabled only for logged in users. (Not list of comment, but submitting the form and comment). There will be the form shown with a textbox and button, but the button would say signup to comment and user redirected to the signup page.

[2020-04-11 13:44] danirus commented on #141
I see.

If you want to prevent direct public access to your REST API and allow access only to your JavaScript plugin or a phone app, see how to implement [authentication with DRF](https://www.django-rest-framework.org/api-guide/authentication/).

If you simply want to set up a limit on the number of requests see [throttling with DRF](https://www.django-rest-framework.org/api-guide/throttling/). It

[2020-04-11 14:09] danirus commented on #140
It's a missing feature.
I thought it was possible, but using the JavaScript plugin doesn't allow it.
I will implemented it.
Thanks for your report!

[2020-04-11 18:00] UMAR-SOHAIL commented on #141
Well Thanks, I just removed all of the sensitive data

[2020-04-11 18:00] #141 closed

[2020-04-12 15:09] danirus commented on #78
@Ronster2018, the project is incomplete. Among the fields needed in the `CommentCreate` view of the API, you have to pass the `timestamp` and `security_hash` fields. Those fields are automatically fed when using the templates, or by using the JavaScript plugin, but you don't have neither of both.

I suggest you to start with an example that is known to work. Just follow [this]() instructions to in

[2020-04-17 23:13] keiser1080 opened #142 "wysiwyg editor like ckeditor"
Hi,

How  to use wysiwyg editor for the comment field (i mean like ckeditor?)

[2020-04-18 21:28] Ronster2018 commented on #78
Good afternoon @danirus
I went through your tutorials and played around a lot with the app and it has a lot of cool things going on. But once I finally got around with interacting with the api, I noticed that it is very dependent on the security_hash that is being generated by the md5 hash of the form. My project is strictly and api back end and I have nothing on the front end to generate those ha

[2020-04-18 22:20] FabrizioA commented on #78
I have same issue at the same time :)

[2020-04-20 07:26] danirus commented on #78
Yes, that's right, it's indeed missing. The project needs an API point to post comments.
I put it in my todo list, along with writing new documentation about how to use the API with other web projects like frontend apps or progressive web applications.

Django is a very stable and powerful backend that is very often used in combination with all sort of JavaScript web artefacts. This application re

[2020-04-21 14:22] sandeepimpressads commented on #139
Sorry for repopening, this is working but My server is taking lot of hits from the url jsi18n/ because the comments plugin is calling this url. Is it possible to not to get it from a url ? since the call is happening in my article detail page, whenever someone access the page, the url is called.So just one day I get around 30k+ hit on this url.

[2020-04-21 18:55] keiser1080 commented on #142
i have managed to add ckeditor

I will explain how i did it:
i have a project folder named "site"
containing the django project "site_project" and the django app "blog"
you have to install both django_comments_xtd &  django-ckeditor
and install following the instruction.

/site/site_project/settings.py :
[code]

/site/site_project/blog/forms :
[code]

/site/blog/templates/blog/post_detail.html :
a

[2020-04-21 18:56] #142 closed

[2020-04-21 23:43] keiser1080 opened #143 "render_xtdcomment_tree not nested"
Hi,

is there a way to render_xtdcomment_tree  like render_comment_list,
in linear and not nested?

I like all the option shiped with django-comments-xtd. (like/dislike, gravatar, flag, repply ect...)
But for better readability i realy prefer the linear comment.

[2020-04-22 06:03] danirus commented on #143
Hi @keiser1080,

You could use the setting [COMMENTS_XTD_MAX_THREAD_LEVEL](https://django-comments-xtd.readthedocs.io/en/latest/settings.html#comments-xtd-max-thread-level) to avoid nesting comments. Or if you have several models you want to post comments to, and need to allow nested comments for one and disable it for the others, you could use [COMMENTS_XTD_MAX_THREAD_LEVEL_BY_APP_MODEL](https://

[2020-04-22 07:34] sandeepimpressads opened #144 "JavaScript plugin - big file size"
The file vendor~plugin-2.4.3.js is 1.3 MB in size. After minifying it is 386.2KB. Is there any way to reduce the file size further ? It is costing dearly when put on s3.

[2020-04-22 08:00] danirus commented on #144
You are right, I will change the build of the bundle to leave ReactJS out of the bundle. That will reduce a lot the size of the bundle.

[2020-04-22 13:52] keiser1080 commented on #143
thanks for your answer but i am losing the repply button when the  COMMENTS_XTD_MAX_THREAD_LEVEL = 0 .
I will try the complex example to check if it's also the case.

A good example of the what i try to do is the github issue, i can reply using a quote and you will be
your comment will appear  on in the top of my comment and you will be notified

[2020-04-22 19:01] danirus commented on #143
Yes, you loose the reply link under each comment because nested comments have been disabled by change the following setting:

    COMMENTS_XTD_MAX_THREAD_LEVEL = 0

To post the next comment the user has to use the one and only form available above the form. Or below, it depends on how you decide to use the templates and the tags.

If you want to display quoted text you can achieve using Markdown.

[2020-04-22 19:48] danirus commented on #144
@sandeepimpressads, the issue has been fixed in v2.5.0. I just released it.
Bear in mind that now you have to include the script tags to add React and ReactDOM in your HTML templates. I mean, include the following within your <model>_detail.html file:

    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react

[2020-04-22 21:11] keiser1080 commented on #143
Add the quoted comment are not really needed. But the owner of the comment where the repply is made have to be notified.

Do you think it's doable using django-comments-xtd with COMMENTS_XTD_MAX_THREAD_LEVEL = 0,

To have:
- comment owner notified in case of a repply.
- thread follow (user can suscribe to a thread)
- Like/dislike/ liked by/ comment report

Could you give some guidence to achive th

[2020-04-23 03:47] sandeepimpressads commented on #144
Thanks @danirus let me go through it.

[2020-04-25 06:43] danirus commented on #143
It depends. Do you want to use the JavaScript plugin in the app? If so look at the [articles_detail.html](https://github.com/danirus/django-comments-xtd/blob/master/example/comp/templates/articles/article_detail.html) template of the comp demo site. Install it following [this instructions](https://django-comments-xtd.readthedocs.io/en/latest/example.html), change the `COMMENTS_XTD_MAX_THREAD_LEVEL

[2020-04-26 06:29] danirus commented on #138
Thanks @hematinik, sorry for the late answer.

[2020-04-27 19:55] danirus commented on #144
@sandeepimpressads, feel free to reopen the issue if it's not resolved.

[2020-04-27 19:55] #144 closed

[2020-04-27 19:58] danirus commented on #139
Does anyhow the solution for #144 fix this issue?

[2020-04-27 20:01] danirus commented on #136
So you already fixed it, didn't you?

[2020-04-28 04:14] sandeepimpressads commented on #139
Not actually.The call to django's javascript catalogue is still there. <script
  type="text/javascript"
  src="{% url 'javascript-catalog' %}"></script>

[2020-04-28 04:16] sandeepimpressads commented on #144
This is resolved. Thanks.

[2020-05-04 21:14] keiser1080 commented on #143
@danirus thanks for the support,
i will check asap

[2020-05-05 07:13] sandeepimpressads opened #145 "Database query is pretty high"
The number of database queries used by the api to list comments is quite high.

![Selection_128](https://user-images.githubusercontent.com/44663788/81042501-e5056f80-8ecd-11ea-9af6-d95c6aef6f8c.png)

[2020-05-06 08:25] InkFlo opened #147 "[SOLVED] TypeError at /comments/sent/ argument of type 'int' is not iterable"
Hi,

I'm trying to use this package with Wagtail 2.9 and Django 3.0.3, but there is a problem when I'm trying to post a comment, I get this error :

[code]
I render the **form** with **Wagtail's page object** ```{% render_comment_form for page %}```
However, the comment is posted (and saved to database), I can display it with ```render_comment_list``` I just need to go back to the previous page

I

[2020-05-06 09:12] InkFlo commented on #147
My apologies, I wrote COMMENT_APP = 'django_comments_xtd' instead of COMMENT**S**_APP = 'django_comments_xtd', now it work

[2020-05-07 06:20] sandeepimpressads opened #148 "Comment count not checking the is_removed flag"
The total comment count shown above the comment box is seem to be returning the number of objects only. It is not taking into account the fact that some are removed.

[2020-05-07 06:27] danirus commented on #148
You mention something posted above, but I guess you meant issue #145. Let's keep this report here as this is an actual bug, while issue #145 is an enhancement.
And thanks for your report!

[2020-05-07 06:28] #147 closed

[2020-05-07 06:43] sandeepimpressads commented on #148
I am actually not yet sure whether its a bug. because the is_removed comments still appear in the article with the text "This comment has been removed". Is that why it is counted in the total number of comments ?

[2020-05-07 06:48] danirus commented on #138
This issue has been fixed in v2.5.1.
Now, when setting is_public to False or when removing a comment (not deleting it from the DB), nested comments change their is_public to False, so that they are not retrieved or displayed.

[2020-05-07 06:48] #138 closed

[2020-05-07 07:15] danirus commented on #148
In the last version 2.5.1 I fixed the issue #138 regarding this in particular. So when you remove a comment (or you make is_public False), nested comments get is_public False too. If you use a version previous to 2.5.1, that logic is not happening.

[2020-05-07 07:18] danirus commented on #148
Sorry, about your question:
Yes, comments with is_public==True are counted, regardless of the value of is_removed.

[2020-05-07 07:21] sandeepimpressads commented on #148
Okay. May i know why the comments with is_removed are still displaying and counted into the total ? My client is keep asking me this question. Is this the practice which is used generally in comments ?

[2020-05-07 07:38] danirus commented on #148
That is the distinction between is_public and is_removed.

A removed comment is displayed but its content is not displayed (maybe because it was flagged inappropriate). People reading the comments might still want to see that the comment that was previously displayed and later flagged by several people as inappropriate now has been removed. But it was there before, therefore it's displayed in the

[2020-05-07 07:53] sandeepimpressads commented on #148
thanks for the clarification.

I was looking at the code added from #138 https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/models.py#L199 . Doesn't the publish_or_unpublish_on_pre_save function called on save of every model in the the project ? (Syntax like this `@receiver(post_save, sender=XtdComment)`) could be more better ?

Also may i know why publish_or_unpublish_

[2020-05-09 05:07] danirus commented on #148
Sorry for the late reply, and thank you for your suggestions, you are right.
I'll change the code in the pull request #146. ;-)

[2020-05-12 19:07] #145 closed

[2020-05-12 20:16] #148 closed

[2020-05-13 08:25] ramonakira opened #149 "SQL syntax error when running populate_xtdcomments command using Postgresql"
Hi,

When running `python manage.py populate_xtdcomments` I get the following error:

[code]

When I then change the SQL to read
[code]
(so using double quotes instead of single quotes)

I get the following error:

[code]

Not sure how this should be solved though. I am using Postgresql 9.6, Python 3.6 and Django 2.2.12.

Thanks in advance!

[2020-05-13 13:43] sandeepimpressads opened #150 "Avatar url and ssl"
The Avatar url http://www.gravatar.com/ is causing the webpage not secure when the webpage is served using https. I tried changing the const avatar_url in commentform.jsx to https and compiled the code code using webpack but still the url is serving via http in detail page.

[2020-05-13 17:18] #150 closed

[2020-05-13 17:23] danirus commented on #150
Hi @sandeepimpressads, just released v2.6.1 with a fix. Let me know if it doesn't work.

[2020-05-14 05:13] sandeepimpressads commented on #150
Thanks. It worked.

[2020-05-14 08:22] ramonakira commented on #149
As a followup; for Postgres the correct sql is:
[code]
So the last `0` corresponding to `followup` should be `FALSE`

[2020-05-17 00:43] JonLevy opened #152 "Tutorial broken"
FYI, the tutorial is not compatible with Django 3.  See[1].  You can fix it by adding an instruction under "Preparation" to `pip install django==2.2` before `pip install django-comments-xtd`.

[1] https://stackoverflow.com/questions/55929472/django-templatesyntaxerror-staticfiles-is-not-a-registered-tag-library

[2020-05-18 08:01] sandeepbalagopal09 opened #154 "New syntax for string formatting ?"
I got an error from this line https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/api/serializers.py#L203

Is this a new format in python ? I used do` raise Exception('Unexpected value for flag: {}'.format(value.flag))`

[2020-05-18 08:25] danirus commented on #154
It's a python 3 formatting string.
It's indeed an issue when using Python 2.7.

[2020-05-18 08:33] sandeepimpressads commented on #154
But I am using python 3.5.2. Is it a 3.6 syntax ?

[2020-05-18 11:33] danirus commented on #154
It should support Python 3.5.

[2020-05-18 11:39] danirus commented on #152
@JonLevy, thanks for the report.
Could you be a bit more specific? I understand what it's explained in the Stack Overflow thread, but I don't see where the Tutorial is not compliant. On loading the static template tag the tutorial is compliant. Please, give me a bit more information. Thanks again!

[2020-05-18 13:59] sandeepimpressads commented on #154
It says support started from 3.6 https://www.python.org/dev/peps/pep-0498/

[2020-05-18 18:08] danirus commented on #154
Yes, I meant, django-comments-xtd should support Python 3.5.
I removed compatibility introducing that formatting style.
So it's a bug.

[2020-05-18 18:22] danirus commented on #154
It's fixed in master.
It will be released with the next v2.6.2.
Thanks for the report!

[2020-05-18 19:25] danirus commented on #149
Thanks for the report @ramonakira!

[2020-05-18 19:45] danirus commented on #149
Also thanks for the quick fix. Your suggestion is valid for all the officially Django supported database engines: switching the literal value in the INSERT SQL statement from 0 to FALSE.

As of this writing a literal `FALSE` value is accepted by [MariaDB](https://mariadb.com/kb/en/sql-language-structure-boolean-literals/), [PostgreSQL](https://www.postgresql.org/docs/9.1/datatype-boolean.html), [M

[2020-05-18 19:49] danirus commented on #149
Fixed in master.
Will be released in v2.6.2.

[2020-05-22 18:51] KedarisettiSreeVamsi opened #155 "How to create a comment using rest api in django-comments-xtd"
I have tried using /comments/api/comments/ and we are having problem with security_hash,honeypot can anyone help on how to post a comment

[2020-05-22 18:55] KedarisettiSreeVamsi commented on #155
I used postman to send a comment to my app but it is giving me security_hash and honeypot and timezone as required_fields I have overrides timezone with django.utils.timezone but from other fields I am having this problem

[2020-05-22 19:07] KedarisettiSreeVamsi commented on #155
Also for the api views we are getting CommentCreate doesn't have queryset

[2020-05-22 19:16] KedarisettiSreeVamsi commented on #155
Added XtdComment.objects.all() for queryset in CommentCreate gave the API view but cannot resolve security_hash and honeypot

[2020-05-23 10:58] KedarisettiSreeVamsi commented on #155
'''python
def good(x):
    return x
'''

[2020-05-23 16:49] danirus commented on #155
So far it's not possible. It will be ready in the next release.

[2020-05-24 16:24] ashwani99 opened #156 "Comments polling is not working"
I have been following the `django-comments-xtd` [tutorial](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#javascript-plugin) from the docs. I am not able to see the new comments update alert appear. I have also tried checking for the XHR requests, but it seems for any value of `poll_interval`, the new comments are not getting polled at all

[2020-05-24 16:38] ashwani99 commented on #156
Apparently, the prop name `poll_interval` is a typo. It should be `polling_interval`.

Will send a PR for this :100:

[2020-05-25 06:10] danirus commented on #156
Thanks @ashwani99, indeed there's a mix of poll and polling over the docs and the code.

[2020-05-25 07:53] ashwani99 commented on #156
@danirus I have added a PR for this already #157

[2020-05-26 17:40] #156 closed

[2020-05-28 01:25] sandeepimpressads commented on #145
this fuction is hitting the db multiple time https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/api/serializers.py#L246

[2020-05-28 02:30] bmull commented on #140
Adding a comment to follow along here. I'd love this too. I only want registered users to be able to comment / like / etc... Anyone else can read but basically the commenting feature is a logged in feature.

[2020-05-30 13:56] kwhandy commented on #155
@KedarisettiSreeVamsi have you try this? https://github.com/timonweb/django-ajax-comments-xtd

[2020-05-30 19:43] riteshkr147 opened #159 "Ticking one nested checkbox ticks the main form instead of the nested one when using the JavaScript plugin"
I keep getting error of external "django":1
Uncaught ReferenceError: django is not defined
    at Object.1 (external "django":1)
    at s (bootstrap:79)
    at Module.69 (plugin-2.5.0.js:1)
    at s (bootstrap:79)
    at r (bootstrap:45)
    at bootstrap:152
    at plugin-2.5.0.js:1
1 @ plugin-2.5.0.js:1
s @ plugin-2.5.0.js:1
69 @ plugin-2.5.0.js:1
s @ plugin-2.5.0.js:1
r @ plugin-2.5.0.js:1
(anon

[2020-05-31 01:40] danirus commented on #159
What script tags does your HTML page load?

[2020-05-31 04:47] kennethkth opened #160 "How to paginate comments?"
Loading entire comments together doesn't seem to be the best idea. I was wondering if there is a way to paginate the comments? I looked through the documentation but couldn't find it.

[2020-05-31 04:50] danirus commented on #160
It's not implemented yet.
I mark it as feature request.
Thanks @kennethkth!

[2020-05-31 05:39] danirus commented on #160
Please, leave the issue open so that I don’t forget the request.

[2020-05-31 06:32] riteshkr147 commented on #159
This is what gets loaded:

[code]

[2020-05-31 06:50] danirus commented on #159
It's missing:

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

This file includes the catalog of messages translated in the JavaScript plugin.

[2020-05-31 07:31] riteshkr147 commented on #159
Thank you for the reply. Sorry I missed that part and after adding the catalog tag, it is working fine.

But there are two issues I found:
1. It interferes with other javascript on the page, like my bootstrap 4 navbar dropdown wont work on pages having this comment section.

2. On checking "Notify me about follow-up comments" in reply section, the checkbox on the main form -"Post your comment" get

[2020-05-31 15:06] danirus commented on #159
That's an issue in the latest version too. I'll change the title of the issue to better represent the problem.
Thanks for letting me know!

[2020-05-31 17:58] riteshkr147 commented on #159
Small correction that I would like you to notice:-

Ticking one nested checkbox ticks only the main form instead the nested one.

[2020-06-01 05:29] danirus commented on #159
I fixed it in the commit bdfb94b. It will be in the 2.6.2.

[2020-06-05 07:33] getup8 opened #161 "Some quick feedback"
First off, thanks for creating such a great app, it has a ton of functionality and seems well built.

Just wanted to give some feedback after going through the tutorial, feel free to do with it what you will :)

It would be amazing if this could have zero dependencies (besides django-contrib-comments of course).  But needing to use React, jQuery and Bootstrap from the get go is a lot to ask if you

[2020-06-05 07:46] danirus commented on #161
I do fully agree. It is a lot of work, but it's worth the effort.
I have been thinking about it since a year but didn't have time to put on it.

About anonymous users, next release 2.6.2 will explain how to customize the app so that it doesn't allow anonymous users to post comments. It's in branch [issue-140](https://github.com/danirus/django-comments-xtd/compare/issue-140).

[2020-06-05 08:14] saivineeth100 opened #162 "Editing comment"
Users Ability to delete and edit the comment if he is the owner of comment.

[2020-06-05 16:17] getup8 commented on #161
That's great you've been thinking about it and are planning on it!

The new "only users can post" enhancement is great too.

I might play around with a VanillaJS implementation so will let you know if I get anywhere.

[2020-06-06 09:25] omaraltayyan opened #163 "using plugin version 2.2.1"
currently when using version 2.6.1 and including the plugin files from version 2.2.1 the comments javascript plugin fails to retrieve comments because the retreived `flags` array is empty

this is the error

[code]
in these lines

[code]

these are the includes i am using

[code]

settings.py

[code]

template script:

[code]

please let me know if there's a workaround for the issue

[2020-06-06 15:54] danirus commented on #163
Hi @omaraltayyan, they go together, the Python code and the JavaScript code are both released with the same version and have to be used together. If you got django-comments-xtd 2.6.1, then you have to change the script tags in your html code to make use of the version 2.6.1 of the plugin. They are part of the same bundle. Give it a try and let me know if you got it fixed.

[2020-06-06 16:24] omaraltayyan commented on #163
any ideas why including

[code]

instead of the above scripts causes a "React is not defined" error? do i need to include something else, sorry but the docs seem to mention version 2.3.1 only

[2020-06-07 05:13] danirus commented on #163
Maybe you read the docs for version 2.3.1 but installed version 2.6.1. It may happen when googling the documentation, as each version is documented. To be sure you use the docs of the version you use, visit the [docs url](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html) and check out the version at the bottom left corner within the sidebar.

[2020-06-11 11:26] rajnishdahiya opened #165 "base.html template not found error"
---- ERROR TRACE BEGINS ---
_Template loader postmortem
Django tried loading these templates, in this order:

Using engine django:
    * django.template.loaders.filesystem.Loader: X:\templates\base.html (Source does not exist)
    * django.template.loaders.app_directories.Loader: X:\public\templates\base.html (Source does not exist)
    * django.template.loaders.app_directories.Loader: C:\Users\cs

[2020-06-11 12:36] danirus commented on #165
django-comments-xtd doesn't have to provide a base.html template.

[2020-06-11 15:43] #165 closed

[2020-06-11 19:17] rajnishdahiya commented on #165
ok. But it is providing one. Shouldn't we push a commit removing this base.html then?

[2020-06-12 15:51] ogurec-ogurec opened #166 "The ability to hide the answers on the link "show the remaining N answers""
I want to propose an idea / improvement of usability of django-comments-xtd application responses.

Add the ability to hide answers under the "Show N Responses" link when clicked on, the remaining answers will open in the comment tree.

Here is a visual example :
https://sun3-13.userapi.com/2IoTS7tBOXelQYKjpFpWVfzcFjdVtHxGTrPI6Q/Vqhsg1bUi8c.jpg

A similar feature is also used in comments on YouTub

[2020-06-13 16:55] danirus commented on #162
I'm not sure about this feature.
Comments posted after the modified one might loose sense altogether.

[2020-06-14 16:02] danirus opened #167 "Avoid spam by requesting confirmation before commenting"
Email confirmation requests can be used to send actual spam. The goal for the spammer is not to post spam comments in the webpage but to spam email addresses. The only requirement to reach the goal is a form where to post the target email address and the spamming message. People who didn't post any comment receive a message with the confirmation link address and the spam.

If django-comments-xtd c

[2020-06-14 16:56] saivineeth100 commented on #162
Let's take facebook comments system we can edit comments (also we can see comments history), if user want to delete comment he can delete the comment fully.

[2020-06-14 18:19] danirus commented on #162
I think it would be a nice use case to build along with any of [these](https://djangopackages.org/grids/g/model-audit/) model history apps. I don't think there's so much missing in django-comments-xtd to implement it. However I have very limited time, I can't work on it now. But if you want to put time on it I will be glad to assist you. Otherwise I will revisit the idea in the (I hope not so far)

[2020-06-16 06:11] ogurec-ogurec opened #168 "Question: How can I get user comments?"
I had a small question, how can I get / display the comments of a specific user (User) and show them in the template?

[2020-06-16 06:32] ogurec-ogurec opened #169 "High expectation on request"
I have the following problem:

As soon as I add the **PostCommentModerator** class to models.py (redefine), the processing/loading time of my request for _comment/api/comments_ grows to **25 seconds**.  As soon as I remove this class, then everything works fine.

I use: Postresql, django version 3.0.5, standard server when installing Django, localhost (windows 7)

What can be done about this? I wo

[2020-06-17 06:24] danirus commented on #168
Such a feature is not provided. You can implement it yourself though. Only be aware that comments are not always associated with registered users. If you send a comment as a visitor, providing a name and an email address, that comment in the DB won't have a User object associated, but just the name and the email of the visitor.

Apart from that, you can create your own template tag that receives t

[2020-06-17 06:29] danirus commented on #169
That's too much. It has no sense. I'll check later.
Meanwhile, it would be good if you could try the same setup in a Linux machine.

[2020-06-17 11:03] ogurec-ogurec commented on #169
Indeed, the problem was on my side (duplicated models). Thanks you

[2020-06-17 11:03] #169 closed

[2020-06-17 11:32] ogurec-ogurec commented on #168
Thank you for the detailed answer. That's what I did:
Folder **_templatestags/get_comments_user.py_**
[code]
Template **_users/profile/comments_from_user.html_**
[code]
Template _**users/profile/profile.html**_

[code]
**I get an error at startup:**

[code]

---
**views.py**

[code]

What could be the mistake here?

[2020-06-17 11:35] danirus commented on #168
In `users/profile/profile.html` you have to pass the user:

    {% load get_comments_user %}
    {% comments_from_user user %}

[2020-06-17 12:10] ogurec-ogurec commented on #168
Thank you very much. Everything is working! A small point on the display of the list is the quotation of comments with a limited number of characters:

[code]

How can this be fixed? And how can I access the comment fields?

I used template:

[code]

[2020-06-18 05:44] danirus commented on #168
Sorry, I don't understand. What do you mean?

A comment has many fields. The comment model is made of several classes. You could open the django console, import the model and list the attributes:

    $ python manage.py shell

The comment itself is in the `comment` field.

[2020-06-18 21:07] ogurec-ogurec commented on #168
Comments are displayed with limited characters, as if it were a quote. 50 characters from the comment.Here is an example (limited comment example):

`Jhon: Lorem ipsum dolor sit amet, consectetur adipiscing...`

I would like to display the entire comment. But I don’t know how

[2020-06-19 15:10] ashwani99 commented on #161
@danirus @getup8 To add to this discussion, I think at this moment, the JS plugin is too much tied up with the `django-comments-xtd` package itself. I think it should be separated out with less dependencies as @getup8 mentioned. Along with that, it would be nice if there's an option to extend the JS plugin so anyone can work on top of it

[2020-06-22 01:37] ashwani99 opened #170 "Invalid comment form raises ValueError"
When using the Web API for creating new comments, the serializer `django_comments_xtd.api.serializers.WriteCommentSerializer.save()` raises a `ValueError` for invalid forms

```ValueError("get_comment_object may only be called on valid forms") ```

This happens due to the behaviour of [django_comments.forms.CommentSecurityForm.py](https://github.com/django/django-contrib-comments/blob/4c5c5d00eba6

[2020-06-22 01:59] ashwani99 opened #171 "`user_moderator` field is `false` for non superusers in Web API"
When fetching comments, the `user_moderator` field comes `false` for all non superuser accounts. For superuser accounts, since they have all permissions, its `true`

To reproduce, make a GET request to [retrieve-comment-list](https://django-comments-xtd.readthedocs.io/en/latest/webapi.html#retrieve-comment-list) endpoint.

[2020-06-22 10:48] ogurec-ogurec commented on #168
@danirus
I did it, now I have a question, how to get a link to a post where a user comment is left?

[code]

I will be grateful for the help

[2020-06-25 16:38] engragy opened #172 "JS plugin issue at version 2.6.1"
hello danirus first of all your comment app is awesome.
i have installed the latest version by following the tutorial in the docs and testing it and it is working fine without the js plugin, so all of the features of the js plugin like (instant preview while typing, Immediate like/dislike actions) is not working for me except for the tooltip and i see this error at the browser console
`react-dom.p

[2020-06-26 06:58] danirus commented on #172
Thanks @engragy,
I think you are including two versions of the same script.
If you look in the console output you added here in the issue, you will see that the plugin is loaded twice. Once for version 2.6.0 and another with 2.6.1. Maybe you loaded one in the base.html template and the other one in the article_details.html.

[2020-06-26 07:08] danirus commented on #168
Each comment has the `content_object` attribute, representing the object instance to which the comment was posted.
You could use the `get_absolute_url` method of the `content_object` to retrieve the URL of that instance, like this:

    {{ comment.content_object.get_absolute_url }}

[2020-06-26 16:26] ogurec-ogurec commented on #168
thanks for the answer. Added by

[code]

got an error:

[code]

[2020-06-26 17:53] engragy commented on #172
i have checked a couple of times now if there is other file like the base that have another version of the script and there wasn't, but i did search for 2.6.0 in all files in the venv and it was in the " django_comments_xtd/static/django_comments_xtd/js/plugin-2.6.1.js.map " and when i change the first line from " {"version":3,"sources":["webpack:///plugin-2.6.0.js"] "  to 1.6.1.js the console err

[2020-06-27 09:16] danirus commented on #168
I would suggest you to run the comp example (see instructions on how to set it up [here](https://django-comments-xtd.readthedocs.io/en/2.6.1/example.html) in the docs). Set it up, load the DB and run the site. Then the [comments page](http://localhost:8000/comments/). That page uses the `comment.html` template, which displays the link to the instance to which the comment was posted. It's in line 1

[2020-06-27 11:13] ogurec-ogurec commented on #168
Thanks a lot, it works! Interestingly, but if I try to get it for ordinary users (which is registered), then everything works fine. BUT if I try to get this for the admin user, I get an error:

_Console:_
[code]

Showing articles in the console:

_Articles 1
Articles 2
Articles 2
Articles 4_

But then at the end I get an error:

[code]

[2020-06-29 13:49] ogurec-ogurec opened #173 "Delete comment and replies"
The situation is as follows, we have for example 4 comments:

**Comment №1**
_-Reply Comment
--Reply  Comment
---Reply  Comment_

If you delete **comment № 1** in the admin panel (do not mark it as deleting, namely delete it from the database), he comment is deleted, but the answers remain, and when you try to show a comments (render the page), an error is displayed in the console and comments are

[2020-06-29 14:14] ogurec-ogurec commented on #168
How can I get the number (count) of user comments?

[2020-06-29 18:58] ogurec-ogurec opened #174 "Change language"
How can I change the language? For example, in Russian. In the settings added:

[code]

Added 1 a file **_django.po (rus)_** to the folder:

`..\Lib\site-packages\django_comments_xtd\locale\ru\LC_MESSAGES\django.po`

Restarted the server, but nothing has changed.

[2020-07-01 09:49] engragy opened #175 "Question: how to handle avatar for a logged in user?"
is there a way of using a user uploaded picture as an avatar instead of the default one or even better use a profile image if logged in with social account through django-all-auth for example

there is also an extension django-avatar that is easy to use but how to integrate that with django-comments-xtd

could you give some guide lines

[2020-07-01 23:30] charles-co opened #176 "Reply form skewing to the right and many instance of form can be opened"
Good day, thanks for creating a wonderful app.

Although I've been having a little bit of problem with (maybe because I'm not that good with React yet). I noticed whenever the reply button is clicked the formed generated is not centered but skewed to the right, I know this is because of the Media class but I tried editing & nothing works, and also noticed that multiple reply form can be opened.

I

[2020-07-02 06:05] danirus commented on #176
Hi @charles-co, Thanks.

You can customize the code in the Plugin to match your preferences. React uses a combination of JavaScript and HTML called JSX. I recommend you to read the part of the docs that refer to the [JavaScript plugin](https://django-comments-xtd.readthedocs.io/en/latest/javascript.html). Follow the instructions and play with the code. Applying CSS styles to HTML in JSX is slightl

[2020-07-02 06:32] danirus commented on #174
You have to use the `compilemessages` command of Django. Read the Internationalization page of the docs: [here](https://django-comments-xtd.readthedocs.io/en/latest/i18n.html). Remember that the JavaScript plugin uses its own `djangojs.po` as oppose to the `django.po` used by the backend.

There's already a `django.po` for Russian in django-comments-xtd. It was added by @MikerStudio a month ago. H

[2020-07-02 19:15] ogurec-ogurec commented on #174
thanks

[2020-07-02 19:16] #173 closed

[2020-07-05 10:20] #140 closed

[2020-07-05 10:22] danirus commented on #149
Thanks again for the report.
The issue has been resolved and fixed in the pull request #177.

[2020-07-05 10:22] #149 closed

[2020-07-05 10:23] danirus commented on #154
Thanks again for the report.
The issues has been resolved and fixed in PR #177.

[2020-07-05 10:23] #154 closed

[2020-07-05 10:24] danirus commented on #159
@riteshkr147, thanks for the ticket.
The issue has been resolved and fixed in PR #177.

[2020-07-05 10:24] #159 closed

[2020-07-05 11:01] danirus commented on #140
Now django-comments-xtd can be customize so that only registered users can post comments. It's explained in the docs, in the last section: **use cases**. Here is the link: [Only signed in users can comment](http://localhost:1025/usecases/only-signed-in-can-comment.html).

[2020-07-06 12:11] ogurec-ogurec commented on #168
how can I get the number (number) of user comments and the number of likes / anti-likes for comments in this user template?

[2020-07-06 19:53] danirus commented on #168
Think on [this](https://docs.djangoproject.com/en/3.0/ref/models/querysets/#count) applied to the models you actually mentioned. Hint: likes/disliked are instances of the `CommentFlag` model, and comments of `XtdComment`.

[2020-07-09 14:39] ogurec-ogurec commented on #168
thanks, but I still don’t understand how I can show the number of likes in this template.

[2020-07-11 09:08] #171 closed

[2020-07-11 09:15] danirus commented on #171
The PR #178 implements the fix and closed the bug.
I will wrap this fix as part of the 2.6.3 with other issues.
Whenever you test it, if you find that the issue is still present, please, reopen it.
@ashwani99, thanks again for your report!

[2020-07-11 16:17] danirus commented on #170
Yes, I'm afraid it works that way. when I wrote the API I didn't think on providing a full-featured API but one to fulfil the requirements of the JavaScript Plugin. As you found out, the `CommentSecurityForm` is the way to avoid form tampering. It's in my roadmap to provide a better web API for the app.

[2020-07-11 16:17] danirus commented on #170
Duplicate of #155

[2020-07-11 16:21] #174 closed

[2020-07-11 19:05] ashwani99 commented on #170
@danirus Yes it works that way. But since `django-comments-xtd`'s API endpoints are on top of `django-comments`, so instead of propagating the exception, we can also simple reject the comment with a HTTP 403 response.

I would be happy to send a PR for this. But what's you view on this?

[2020-07-12 13:28] danirus commented on #170
Yes, a HTTP 403 would have been the right response should the comment be rejected. But I want to allow it.
My view on this is that django-comments-xtd must provide a complete web API, allowing also posting comments. That means circumventing the issue with the security form only when using the web API.

Thank you for your willing to help @ashwani99, there are a few tickets labeled as bug, enhanceme

[2020-07-12 13:41] ashwani99 commented on #170
That would be great. Currently, the API is only usable with the forms and is not a frontend agnostic solution. I will look for other issues to work on :)

[2020-07-12 14:09] #170 closed

[2020-07-23 10:19] pranavgore09 opened #179 "Need suggestions for using this library with customization"
Hi @danirus first of all, Thanks for the awesome work here.

I am trying to wire **django-comments-xtd** to an existing django project.
We do not use django-views and server side rendering, we are using DRF and have the frontend in reactjs app (no jquery)

With that in mind, I would like to seek your suggestions to integrate this lib with our system
After [reading the docs](https://django-comments

[2020-07-25 11:37] saileshkush95 opened #180 "Internal Server Error"
I'm facing internal server  error, I didn't know what I'm doing wrongs here is my screenshot.
![Screenshot from 2020-07-25 17-21-17](https://user-images.githubusercontent.com/28560875/88456172-46b8f280-ce9b-11ea-8115-42800021f701.png)
and here is output
![Screenshot from 2020-07-25 17-21-51](https://user-images.githubusercontent.com/28560875/88456187-5c2e1c80-ce9b-11ea-94b2-382d382bd8f3.png)

[2020-07-25 19:24] Laenka-Oss commented on #136
Hi Yes, I can agree it worked. I had same problem, followed the suggested solution & now it works.
![Screenshot from 2020-07-25 21-12-22](https://user-images.githubusercontent.com/31389254/88464603-7af0db00-cebc-11ea-815d-fab5570cd2c0.png)

As shown here. I am using D
![Screenshot from 2020-07-25 21-20-02](https://user-images.githubusercontent.com/31389254/88464707-2dc13900-cebd-11ea-9126-37ea4437

[2020-07-26 14:26] danirus commented on #179
Hi @pranavgore09, thank you,

I don't think you can *extend* the app to support primary keys based on UUIDs. I think you will have to fork both django-comments-xtd and django-contrib-comments. By forking you can then add an explicit primary key UUID field in [BaseCommentAbstractModel](https://github.com/django/django-contrib-comments/blob/master/django_comments/abstracts.py#L15) and change the `pa

[2020-07-26 17:37] danirus commented on #180
@saileshkush95, that doesn't say much.
To be sure that it works you can run the docker image.
See the instructions [here](https://github.com/danirus/docker-django-comments-xtd-demo).

[2020-07-27 18:45] #155 closed

[2020-07-27 18:49] danirus commented on #155
Pull request #181 implements the fix for this issue.
The fix will be wrapped in v2.7.0 in a few days.
The web API docs have been extended to cover the case.
Thanks @KedarisettiSreeVamsi for sending it.

[2020-07-28 11:23] danirus commented on #136
Thanks for your support @yozoranoken.
It can also be fixed adding a link element to the head of the base.html template of your project:

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"

I consider it a bug as I forgot to add i

[2020-08-04 09:40] saileshkush95 commented on #180
sure I'll do

[2020-08-08 16:11] ogurec-ogurec opened #182 "requests are automatically sent"
I am on the post page with comments, doing nothing (I am in view mode ), but requests are automatically sent every two seconds. This is normal?

![bag3](https://user-images.githubusercontent.com/66796268/89714887-b368ce00-d92c-11ea-916d-e32db2b781d2.gif)

How can I make it so that requests are only sent on page reload?

[2020-08-08 16:15] danirus commented on #182
Yes, it's normal.
Edit the HTML template where you load the plugin. You must have something like:

    <script>
     window.comments_props = {% get_commentbox_props for object %};
     window.comments_props_override = {
       allow_comments: {%if object.allow_comments%}true{%else%}false{%endif%},
       allow_feedback: true,
       show_feedback: true,
       allow_flagging: true,
       polling_

[2020-08-08 16:32] ogurec-ogurec commented on #182
Thank you, then I have two questions. First: Why are requests being sent?
Second: Will it create a load (requests) on the server with a large number of users?

Thank you in advance

[2020-08-08 16:41] danirus commented on #182
The JavaScript plugin uses polling to check whether there are new comments. It's explained [here](http://localhost:1025/tutorial.html#load-the-plugin) in the Tutorial. Whether it creates or not a high number of requests to your server depends on how you set it up and how your visitors behaves.

[2020-08-08 16:44] #182 closed

[2020-08-08 17:24] #175 closed

[2020-08-09 07:11] #136 closed

[2020-08-10 21:09] jimkring opened #186 "Require registration to post"
Hi! Great application!

What's the recommended way to require a user be logged in (registered) in order to post comments? If they aren't signed in, I'd like to redirect them to the login page.

Thanks!

[2020-08-10 21:54] jimkring opened #187 "item.comment.name ignores the COMMENTS_XTD_API_USER_REPR setting"
I'm using the setting to sets the function to use when getting the user's display name.

`COMMENTS_XTD_API_USER_REPR = lambda u: u.get_full_name()`

I noticed an oddity:

`{{ item.comment.name }}` will render a user's email address (since I'm using `AbstractEmailUser` class) regardless of what I set the value of `COMMENTS_XTD_API_USER_REPR`.  However, `{{ item.comment.name }}` will correctly rende

[2020-08-10 22:28] jimkring opened #188 "Errors until I installed django-avatar application - is it required?"
I noticed that I was getting errors until I installed django-avatar. Is this supposed to be a requirement of django_comments_xtd? If so, it should probably be included in the installation / getting started documents. Thanks!

[2020-08-11 09:15] danirus commented on #186
Thanks @jimkring. In the very last version of the docs I added such [use case](https://django-comments-xtd.readthedocs.io/en/latest/usecases/only-signed-in-can-comment.html).

[2020-08-11 09:27] danirus commented on #187
The `COMMENTS_XTD_API_USER_REPR` setting is used only related with comment's like/dislike flags.

But I think your guess about `get_full_name` is in the right track. When you do `{{ item.comment.name }}` you are accessing the getter `_get_name` from django-comments, see the code between lines [91 and 130](https://github.com/django/django-contrib-comments/blob/master/django_comments/abstracts.py#L9

[2020-08-11 09:29] danirus commented on #188
No, django-avatar is not a requirement.
If you can reproduce the issue, please, post it here and I'll look into it.

[2020-08-11 16:18] jimkring commented on #188
I tried to reproduce this, but I cannot.  I think I caused this error. Thanks for letting me know.

[2020-08-11 16:48] jimkring opened #189 "Add who_can_post setting to the Commenting Options section of the Tutorial documentation"
It would be nice to learn about the `'who_can_post': 'users'` option when going through the _[tutorial >> commenting](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#commenting-options)_ options section, so that developers are exposed to this setting early on in the install/setup process.

[code]

[2020-08-11 16:49] jimkring commented on #186
Hi @danirus. That's fantastic! It's great that you took the time to document these use cases.

Suggestion: Maybe add the `'who_can_post': 'users'` to the _[tutorial >> commenting](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#commenting-options)_ options section, so that we're exposed to this setting early on in the install/setup process.

[code]

I've created an issue for thi

[2020-08-11 16:49] #186 closed

[2020-08-11 16:52] jimkring commented on #187
OK, thanks for that info @danirus

[2020-08-11 16:55] jimkring commented on #187
@danirus I see what you're saying about that, now that I've looked at some of the code. I guess maybe I need to read through the docs/code for django-comments more to better understand how this part works. Thanks again!

[2020-08-11 16:55] #187 closed

[2020-08-11 17:14] danirus commented on #189
That's a good point, thank you!

[2020-08-11 17:26] jimkring opened #190 "Object Likes and Email Notifications"
It would be nice if the django-comments-xtd could support liking and notifications on the actual "object" itself (for example: the django object that is the target of all the comments).

My use case is this >> if I have a blog post (I'll use "blog post" as an example object) and want it to receive comments, I would also like the author of the blog post to be able to get notification emails about n

[2020-08-11 17:32] #189 closed

[2020-08-11 17:37] danirus commented on #189
It's already updated but only when browsing the documentation of the version labelled as *latest*:
https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#commenting-options

[2020-08-11 17:54] danirus commented on #190
It can't be done with django-comments-xtd. Although it seems a natural case. To send feedback to the author of the story with a simple thumb-up reaction instead of sending a comment. The way models are connected between XtdComment, Comment and CommentFlag doesn't allow it. But with a new model it could be done...

[2020-08-11 18:02] jimkring commented on #190
Thanks @danirus. OK, I'm thinking what I may try is this:

When a new blog post is created, programmatically create the first comment behind the scenes (and set the comment's author to the blog post's author). Then, on the blog post details page slice that first comment off the front of the list of comments `{% for item in comments|slice:"1:" %}`.

Would you have a quick snippet that you could sho

[2020-08-11 18:06] jimkring commented on #188
I just reproduced the issue, I think -- it happens when I try to post a comment.

Inside of `preview.html` it loads `avatar_tags` (on line 3):

`django_comments_xtd/templates/comments/preview.html`

[code]

[2020-08-11 18:13] jimkring commented on #188
It seems like I can work around this by copying this template over into my project and then removing that `{% load avatar_tags %}` line -- everything seems to work OK without it, which means it was probably left over from some experimentation or creating a demo.

[2020-08-11 19:27] danirus commented on #188
That's a bug. I added it by mistake a few days ago while writing the docs. Thanks for the catch!

[2020-08-11 20:40] jimkring opened #192 "How to get comment count for an individual object"
I see [here in the docs](https://django-comments-xtd.readthedocs.io/en/latest/templatetags.html?highlight=count#tag-get-xtdcomment-count) that we can get the comment count for a specific model (object type)

`{% get_xtdcomment_count as [varname] for [app].[model] [[app].[model] ...] %}`

I'm trying to get the comment count for an individual object.  I'm thinking that I may need to implement that m

[2020-08-11 20:55] jimkring opened #193 "Deleting all comments associated with an object"
Hi there. I'd like some way to delete all comments associated with an object, when the object is deleted. I just did a test and I see that this does not currently happen. Are there any housekeeping functions that do this?

[2020-08-11 21:52] jimkring opened #194 "COMMENTS_HIDE_REMOVED seems to not be used (honored)"
In the docs for Django Comments, it [describes the settings](https://django-contrib-comments.readthedocs.io/en/latest/settings.html).

I've tried applying this setting and the `{% render_xtdcomment_tree for object %}` tag returning all the comments, even ones that have an `is_removed` value of True, which then requires these to be manually filtered them in the template.  That's not the end of the

[2020-08-12 06:34] danirus commented on #194
Thanks for the report!
It's been there since the beginning of this application.

[2020-08-12 06:34] rgutierrez-cotech commented on #192
You have to use the template tag from `django-contrib-comments`, which is
[code]

[2020-08-12 06:50] rgutierrez-cotech commented on #106
@babus can you post some code detailing how you calculated the total replies? I know this is an old thread but I'm looking for this very thing and I'm stuck at the moment. I also tried using level, order, and thread_id but can't seem to come up with something.

On a related note, I'd also like to implement a `children()` method on a comment that returns all descendants of a comment, so that when I

[2020-08-12 07:04] danirus commented on #193
No, there's no special function for this.
The way to delete all the comments sent to an instance of a model `Story` of an app registered as `blog`, via a receiver function of the post_delete signal would be:

    @receiver(post_delete, sender=Story)
    def delete_comments(sender, instance, **kwargs):
        ct = ContentType.objects.get(app_label="blog", model="story")
        XtdComment.objects.

[2020-08-12 07:06] rgutierrez-cotech commented on #194
I was able to sorta get around this by just adding `is_removed=False` to the queryset in the template tag before `XtdComment.tree_from_queryset()` is called. But there seems to be a side-effect to doing that. Any replies to comments that are marked removed still show up in the tree, e.g. if Comment B is a reply to Comment A and Comment A is marked removed, Comment B will still show up in the tree.

[2020-08-12 08:00] rgutierrez-cotech opened #196 "publish_or_unpublish_nested_comments intended behavior"
I had a question about this `publish_or_unpublish_nested_comments` signal.

I noticed that it is not firing when I save a comment object with `is_removed=True` and `is_public=False`, though I am using a hacked-together API of my own to create and delete comments. I am doing `django_comments_xtd.get_model()` to get the comment model, then setting is_removed and is_public and finally saving the inst

[2020-08-12 16:41] jimkring commented on #194
@rgutierrez-cotech yes, I was filtering by `is_removed` within the loop. That works well for my needs, yet it would be nice if that filtering were possible at a deeper level in the application. A nice aspect of having the removed items filtered manually, is that they can be shown to admins who can reverse the removal, if needed (in case a comment was accidentally removed).

[2020-08-12 16:44] jimkring commented on #193
Thanks @danirus! That's a very helpful pointer and should get me going in the right direction.

[2020-08-12 17:02] jimkring commented on #193
One more question -- just a thought?

Is it possible to get the `app_label` and `model` names programmatically from the `Story` class that's passed in, so that this function could be generalized? I'm not a django guru, so thanks for any pointers.  Of course, the solution you posted is good enough for my needs, right now.

[2020-08-12 17:25] jimkring opened #197 "Document use case: Delete All Related Comments When Object Deleted"
It would be great to document the use case of how to delete all comments associated with an object, when the object is deleted. I asked this question and got a great answer by @danirus here: https://github.com/danirus/django-comments-xtd/issues/193#issuecomment-672658623

I tested the following code, inside of my `models.py` for `myapp` and it works great!

[code]

[2020-08-12 17:26] jimkring commented on #193
@danirus I was thinking that this would be a great use case to document: https://github.com/danirus/django-comments-xtd/issues/197

[2020-08-12 17:56] jimkring commented on #193
@danirus Update: I was able to generize this a little by getting the model name (in lowercase) programmatically using: `sender.__name__.lower()`

[code]

Now, I just need to figure out hot to get the app_label from the `sender` model instance.

[2020-08-13 07:26] danirus commented on #196
I think it's a bug in the receiver function in django-comments-xtd. The receiver should use the model as registered in `COMMENTS_XTD_MODEL`, but transformed in the app_label.model form.

You could try to fix it in your own fork by adding the [receiver](https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/models.py#L221) function to your own models.py, the one you point to

[2020-08-14 07:03] #196 closed

[2020-08-14 07:15] danirus commented on #193
You can use the Meta class from inside the Model class.
It's accessible via the [`_meta`](https://docs.djangoproject.com/en/3.1/ref/models/meta/) attribute of any model class.
Using the [`label`](https://docs.djangoproject.com/en/3.1/ref/models/options/#app-label) attribute of `_meta` you could get the `app_label`.

[2020-08-14 12:02] danirus commented on #196
@rgutierrez-cotech, feel free to reopen the issue if you still find issues.
I will pack the changes done in the PR #198 in the next release v2.7.1.
Meanwhile they are available in master.

[2020-08-14 13:28] jdbit opened #200 "How to send a custom HTML notification email instead of default plain text?"
I've fount this template: `comment_notification_email.txt` in /django_comments_xtd/templates, but how can I create a custom HTML template for notification emails?

[2020-08-14 15:34] danirus commented on #194
This app has always ignored django-comments' `COMMENTS_HIDE_REMOVED` setting.
The default value of that setting is `True`, therefore fixing django-comments-xtd to take into account the value of `COMMENTS_HIDE_REMOVED` will break backwards compatibility.
So the fix for this issue will force a change in the major version number.

[2020-08-14 15:39] danirus commented on #188
This bug has been fixed already and will be released as part of v.2.7.1.
Thanks again @jimkring for the quick catch!

[2020-08-14 15:39] #188 closed

[2020-08-14 20:15] rgutierrez-cotech commented on #196
That did the trick, thank you!

[2020-08-15 06:57] danirus commented on #200
That template is used to send emails to the moderator. It's part of [django-contrib-comments](https://django-contrib-comments.readthedocs.io/en/latest/). It's not used to send a multipart email with both, HTML and text versions.

If you are looking for the email templates used by django-comments-xtd, they are in the [`templates/django_comments_xtd`](https://github.com/danirus/django-comments-xtd/t

[2020-08-15 07:10] danirus commented on #197
Indeed, why not.
Would you like to document it?

[2020-08-15 15:18] jimkring commented on #197
Yes! I’d be happy to learn how to contribute to the use case docs. I’ll see
if I can figure it out, and please let me know if you have any directions
you’d like to give me.
--
Jim Sent from my mobile.

[2020-08-16 01:33] a1tsal opened #202 "Documentation typo: "json.quotes""
in https://django-comments-xtd.readthedocs.io/en/latest/example.html :

`python manage.py loaddata ../fixtures/json.quotes`

should be `quotes.json`

[2020-08-16 06:48] #202 closed

[2020-08-16 06:48] danirus commented on #202
Thanks @a1tsal!

[2020-08-17 06:25] danirus commented on #197
Sounds good!

The docs are built with [Sphinx](https://www.sphinx-doc.org/en/master/).
I also install [sphinx-rtd-theme](https://pypi.org/project/sphinx-rtd-theme/) and [sphinx-autobuild](https://pypi.org/project/sphinx-autobuild/).

With those packages I cd in the `docs/` directory and run `sphinx-autobuild -p 1025 . _build/` to have sphinx watching the files and reloading the browser with the ch

[2020-08-17 07:08] jdbit commented on #200
I've seen templates in django-comments-xtd, just wanted to change the comment_notification_email.txt template. Thank you! I'll check django-contrib-comments dock if there is a way to use html email template.

[2020-08-17 07:08] #200 closed

[2020-08-18 14:56] ogurec-ogurec opened #204 "Hide response form"
Please tell me how I can hide the response form after the user has clicked **"Submit"** in the form. A similar logic occurs when you click on the **"Reply"** button. I would like to make the form disappear after the user clicks the **"Send"** button.

![skip2](https://user-images.githubusercontent.com/66796268/90528612-c71aee00-e0fd-11ea-8186-a38f8d420472.gif)

I would be grateful for any help

[2020-08-18 18:39] ogurec-ogurec opened #205 "Emoji support"
If I am using Postgresql, how can I make Emoji support in comments?

[2020-08-19 05:58] #116 closed

[2020-08-19 06:14] danirus commented on #88
The `get_user_avatar` issue is fixed already.
I added a use case to cover how you can use different apps to provide user's avatars in comments. You can read the use case here: [Change user image or avatar](https://django-comments-xtd.readthedocs.io/en/latest/usecases/change-user-image-or-avatar.html).

About making the `follow_up = True` by default in the form, did you manage to do it?

[2020-08-19 06:21] danirus opened #206 "Follow-up Tick Box customizable via a setting"
Create a new setting to customize the default value of the follow-up field in the comment form.
The new setting could be called `COMMENTS_XTD_DEFAULT_FOLLOW_UP` and it could be `True` or `False`.

[2020-08-19 06:26] danirus commented on #88
Regarding the follow_up, I created the issue #206 to implement a new setting for the value of the follow_up field.

[2020-08-19 06:27] #88 closed

[2020-08-19 06:45] danirus commented on #205
I don't have a solution. Postgres is not your problem, the problem is that the textarea should behave as a rich text editor.
I want to add support for [ProseMirror](https://prosemirror.net/) since long ago. With ProseMirror the comment's textarea wouldn't be a simple text or Markdown but a powerful text editor, allowing text formatting, and Emoji too. Let's see if I can boost the adoption.

[2020-08-19 06:50] danirus commented on #204
The solution is to change the code of the ReactJS plugin so that when the comment form has been submitted without issues the form disappears.

[2020-08-19 17:02] ogurec-ogurec opened #207 "edit avatar"
I am trying to put my avatar next to a comment. For example, I want to remove the "**gravatar**".
Editing template _templates/django-comments-xtd/comment_tree.html_
I remove the line:

` <div class = "mr-3"> {{item.comment.user_email | xtd_comment_gravatar}} </div>`

And I insert:

`<img  src = "{{user.profile.image.url}}" width = "100" height = "100">`

But nothing happens (the avatar is still a

[2020-08-19 20:11] danirus commented on #207
Django templates are not used to render comments when using the ReactJS plugin. But you don't have to change the code of the plugin, there's a solution for what you are trying to do. I recently updated the docs with a use case covering this situation: [Change user image or avatar](https://django-comments-xtd.readthedocs.io/en/latest/usecases/change-user-image-or-avatar.html). Your particular case

[2020-08-19 20:39] ogurec-ogurec commented on #207
Thanks

[2020-08-20 11:21] ogurec-ogurec opened #208 "only signed in can comment"
Faced a small problem, is it possible to somehow make it so that only users can comment, but at the same time the "Reply" button and the "Like / Dislike" buttons were displayed, and when they clicked on which, they were also sent to the authorization page ? (according to this logic, the "Flag" button is displayed).

Currently, only the flag is displayed, and changes to the settings do not affect t

[2020-08-27 20:29] ashwani99 commented on #99
@shashaBot  You can already do that by setting [COMMENTS_XTD_MAX_THREAD_LEVEL](https://django-comments-xtd.readthedocs.io/en/latest/settings.html#comments-xtd-max-thread-level) to `1` and replying to parent comment when thread level is maxed out.

[2020-08-30 20:28] learnICT opened #210 "Listing top comments"
I've tried implementing this from the view without success and I was wondering if such a feature existed.
I want to list top 5 comments for example on an object.

This clearly didn't work :-(
`top_Comments = django_comment_flags.objects.filter(flag=="I like it").filter(flag.count>=1)`

[2020-08-31 07:14] danirus commented on #210
It's not implemented in the app, but it would be a nice to have feature.
I will try to draft a possible solution later today. So far I can only confirm that it's not easy.

[2020-08-31 16:46] learnICT commented on #210
Thank you. I'll be looking out for your reply :-)

[2020-08-31 18:57] danirus commented on #208
Hi @ogurec-ogurec, sorry for the late reply.
The interface displayed by the JavaScript plugin should be the same as the backend, when this feature is enabled.
I consider it a bug, I will fix it and release it in the v2.7.2.
Thanks for the report!

[2020-08-31 22:27] danirus commented on #130
Hi @gassan, my apologies for my late answer.
Do you mean how to translate messages of django-comments-xtd?
If that's your questions, read the [Internationalization](https://django-comments-xtd.readthedocs.io/en/latest/i18n.html) page in the docs.
Otherwise let me know.

[2020-08-31 22:38] #208 closed

[2020-08-31 22:39] danirus commented on #208
The issue has been fixed and will be release with v2.7.2.

[2020-08-31 22:40] #207 closed

[2020-08-31 22:58] danirus commented on #139
I will follow the [note on performance](https://docs.djangoproject.com/en/3.1/topics/i18n/translation/#note-on-performance) to fix this issue.

[2020-09-01 06:32] gassan commented on #130
collectmessages does not exclude messages that already translated by contrib/django-comments. I asked for a possibility of those exclusion.

[2020-09-02 13:20] ogurec-ogurec commented on #208
thanks!

[2020-09-04 20:32] danirus commented on #139
Hi @sandeepbalagopal09, the last part of this issue is not a problem that can be fixed from within a Django application. Serving the JavaScript catalog is the responsibility of the Django project in which you integrate the application.

Check the link above, [note on performance](https://docs.djangoproject.com/en/3.1/topics/i18n/translation/#note-on-performance), and follow any of the recommendati

[2020-09-07 18:47] danirus opened #212 "Add missing i18n files for the JavaScript catalog."
The following languages, of those already supported by the app, have no JavaScript catalog files:
 * Dutch
 * German
 * Russian

[2020-09-07 20:09] #212 closed

[2020-09-07 20:22] danirus commented on #130
Could you explain the issue a little further?
Django provides the `makemessages` and `compilemessages` commands to deal with i18n, but you mentioned `collectmessages`. Any chance you are using a command from a 3rd party application instead of Django's commands?

When you run those two commands from within the django_comments_xtd directory (read the complete use case in [the docs](https://django-co

[2020-09-08 17:26] danirus commented on #133
Hi @yhoiseth, sorry for this very late reply.
Did you manage to run the comp project?
I don't think the issue had anything to do with the version of Python or Django.
Just in case you wanted to give it a try with Docker, [here](https://github.com/danirus/docker-django-comments-xtd-demo) is the Dockerfile.

[2020-09-08 18:27] danirus opened #215 "Pass the tests against Django 3.1"
Add Django 3.1 to the tests battery.

[2020-09-08 20:18] yhoiseth commented on #133
Hi @danirus,

No problem. We went with another solution, so you I’m closing this.

[2020-09-08 20:18] #133 closed

[2020-09-09 18:56] #215 closed

[2020-09-12 08:01] danirus commented on #210
I can't come up with any medium cost solution.
The fact that I use `CommentFlag` for the like/dislike reactions complicates it a lot.
Maybe having a OneToOne relation with another model to keep counters updated asynchronously would be a solution.
I will think about it. There have been already many issues reported on how to ease this sort of queries.
If you have another idea in mind, please share i

[2020-09-15 15:02] saileshkush95 opened #218 "how to setup this with jinja templates"
Is there any simple way to setup this with jinja2 templates_

[2020-09-15 18:43] danirus opened #219 "Travis-CI fails to build with new migrations."
While developing the fix for the issue #106 Travis-CI fails to run the battery of tests. There is a new migration that has to be applied as part of the test process. The migration is applied without any issues when running the tests using tox in a local terminal. However the same command fails when launched in Travis-CI.

I can't find a solution or documentation about this problem. Therefore I'm c

[2020-09-18 06:23] danirus commented on #219
Resolved and fixed in #217.

[2020-09-18 06:23] #219 closed

[2020-09-18 06:25] danirus commented on #218
I'm afraid not, you will have to rewrite them.

[2020-09-18 10:25] gassan commented on #130
Thank you, I know how do I make or compile messages.:)

The question is how to subtract messages that already translated in **django-contrib-comments**.

[2020-09-20 09:56] #218 closed

[2020-09-20 18:56] danirus commented on #106
Hi, any of you would like to review PR #217?

[2020-09-20 23:34] RealBrionac commented on #210
Quick question Danirus: Why did you decide to use the CommentFlag system for the likes and dislikes?

It might be a stupid idea, but what is the issue with simply having a field in the Comment model containing all the users who liked/disliked the comment.
It seems to me that it would make all these filtering much easier.

Is it too slow maybe?

Let me know what you think ^^

[2020-09-21 06:46] danirus commented on #210
The limitation from using `CommentFlag` was known since the beginning. At the time I started developing this application database engines didn't have support for JSON fields or they were not queryable. With Django 3.1 that has changed, and it can be implemented in a different way. Backward compatibility has to be considered too. Using a JSONField in `XtdComment` is a good option. Another option is

[2020-09-21 12:01] RealBrionac commented on #210
I see. I will try to implement the OneToOne relationship since I might need other reactions in the future.
I'll tell you how it goes.

Thanks a lot for the library btw, it's great!

[2020-09-26 06:31] #106 closed

[2020-09-26 11:31] gassan opened #221 "Version in static files"
Hi,

since 2 weeks I am using get_version() function for include static files (vendor-plugin, plugin) and with 2.8.0 it breaks.

version in files -> 2.8.0
print(get_version()) -> 2.8

it would be better either modify get_version() function or choose shorter version in JS files if VERSION[2] == 0.

Otherwise we need to edit templates after every update.

Thanks.

[2020-09-26 12:22] omaraltayyan opened #222 "Access Control"
is there a method by which we can control access to  the API to private comments, imagine having a thread in a closed private forum page, is anyone who can guess object and content type IDs will be able to get the comments on any entity on any site that uses this library?

[2020-09-26 12:52] danirus commented on #221
Hi @gassan, `get_version` should return the patch number too. Thanks for reporting it.

[2020-09-26 12:59] omaraltayyan commented on #222
note that i am using the provided React plugin not Django templates

[2020-09-26 14:59] danirus commented on #222
Yes. You have control over it via the authentication and permissions of [django-rest-framework](https://www.django-rest-framework.org/).

If you want to prevent anyone from using the API, allowing access only to registered users, you could use the following in your settings module:

    REST_FRAMEWORK = {
        'DEFAULT_AUTHENTICATION_CLASSES': [
            'rest_framework.authentication.Sessio

[2020-09-26 15:31] omaraltayyan commented on #222
very helpful thanks!!

[2020-09-26 15:31] #222 closed

[2020-09-26 16:04] danirus commented on #210
I prefer a different model to cover slightly different requirements:
 * To be able to react to comments not only with *like* or *dislike* but to allow other library customizable reactions. By default it could provide *like* and *dislike* but other cases might require *Laugh*, *Hooray*, *Confused*, *Heart*, *Rocket* and *Eyes*, as this GitHub comments do.
 * To have immediate access to how many of

[2020-09-27 17:32] mckinly commented on #221
Hi @danirus, I can fix this if you would like.

To be clear
https://github.com/danirus/django-comments-xtd/blob/186d7d5c887d5bb06f1efadce18bd51210424de1/django_comments_xtd/__init__.py#L24
is the function that needs updating, richtig?

[2020-09-27 18:31] ashwani99 commented on #166
duplicate of #160

[2020-09-27 18:46] ashwani99 commented on #190
@jimkring For notification purposes, I think there are better ways to add it inside your Django app. You can easily integrate notification specific libraries like [django-notifications](https://github.com/django-notifications/django-notifications) or [pinax-notifications](https://github.com/pinax/pinax-notifications). You just have to override the `comment_was_posted` signal receiver with your log

[2020-09-28 11:15] danirus commented on #221
Yes, @mckinly, that's the one. Could you create a unit test for that too?

[2020-09-28 15:37] RealBrionac commented on #210
@danirus I'm in the process of adapting the library to fit the need of my current application (mainly adding ajax functions and changing the models).
Once it's ready and clean I can upload it on another repo , or try to make it backward compatible and send you a PR

[2020-09-28 22:09] mckinly commented on #221
absolutely!

[2020-10-01 20:09] mckinly commented on #221
@danirus I have a fix for that function and the associated tests on a branch, however I do not seem to have permission to push my branch.
[code]
Any suggestions?

[2020-10-01 21:08] gassan commented on #221
You have to push your work to your own (cloned from this one) repository and then send a pull request to author.

[2020-10-03 15:27] #221 closed

[2020-10-05 04:17] ashwani99 commented on #162
Hi @danirus Thanks for this awesome comments package `django-comments-xtd`. I would like to implement this feature. Can you give me some pointers where should I start?

[2020-10-05 22:42] danirus commented on #162
Giving a commenter the chance to change a comment opens up some scenarios. A simple one is to allow editing only during N minutes since it was posted, or until another comment comes down the list or down the thread. I'm not sure of the benefit of going beyond that, allowing time unlimited edition could easily lead to a sensation of disconnection between the comments. It seems such a dynamism belon

[2020-10-06 15:32] ashwani99 commented on #162
Editing comments do open open up different scenarios. Can we try and keep it more generic? Perhaps a function or property of the comment that decides if it can be edited or not. Why I am saying this is because for different applications, the window to make comments editable may vary. A few I can think of as of now:
- only till N minutes after posting
- only N number of edits
- only if has not been

[2020-10-06 15:55] mckinly commented on #204
I can take a stab at this

[2020-10-07 06:41] danirus commented on #162
I do agree about the function that returns a `True` or `False` indicating whether a comment can be edited or not. The function should be customizable via a setting. It can default to the path to a function (maybe in `models.py`) that returns a `False`, so that by default comments are not editable. That would make the feature backward compatible. The function receives the comment as a param. The ob

[2020-10-07 13:19] danirus commented on #204
One detail that comes to my mind about this is that when submitting the form there might be errors. We have to be sure that the form gets hidden only after the submission has happened and there's nothing else to tell to the user. When the person posting the comment is not an authenticated user the form displays an info alert div to tell the user that a confirmation email has been sent. We still ne

[2020-10-11 08:35] mennucc commented on #152
I got the same issue.

You have to change the first line of  `templates/base.html`
it should read  `{% load static %}`

[2020-10-11 11:25] danirus commented on #152
Thanks @mennucc for your comment. I appreciate that you mention the actual issue.

[2020-10-11 11:27] #152 closed

[2020-10-11 12:05] danirus commented on #114
I can't reproduce this bug. I marked it as a bug long ago, so I was able to reproduce it.
Maybe it got fixed already as a side effect of other fixes.

[2020-10-13 18:09] danirus commented on #80
It's been resolved and fixed.
It will be included with v2.8.1.

[2020-10-13 18:09] #80 closed

[2020-10-15 10:15] TommasoAmici opened #229 "Post comments with REST Web API without DRF not working in versions >2.6.2"
In version 2.7.0 this was added

The old workflow with `timestamp` and `security_hash` doesn't seem to work on versions after 2.6.2. Is this behavior intended?

[2020-10-15 18:30] danirus commented on #229
No, it should work provided an empty `honeypot` field, a valid `timestamp` and `security_hash`.
Version 2.7.0 allows posting comments with the REST API without those fields, but has to work with them too.

[2020-10-16 15:03] TommasoAmici commented on #229
Ok, I've managed to make it work, thanks. This is what I changed:

[code]

[2020-10-16 19:55] danirus commented on #229
Thanks for your feedback!
You shouldn't have to remove the `honeypot` field. So it's a bug.

[2020-10-16 20:31] #229 closed

[2020-11-02 18:57] amartya-dev opened #234 "Add DRF support"
This is a feature request, I am not sure if this is possible with the current architecture of the project but I am sure it will be a great addition to the project if support for Django Rest Framework is extended.

[2020-11-03 09:04] Sam-prog-sudo commented on #234
Hi @amartya-dev

You should check the doc: https://django-comments-xtd.readthedocs.io/en/latest/webapi.html
I hope it helps.

[2020-11-11 09:00] jgourmelen opened #235 "Disable "~""
I use Scaleway with django-storage for staticfiles.
But scaleway don't accept "~" character in the name of the files :

/usr/src/app $ python manage.py collectstatic -v3
Copying '/usr/local/lib/python3.8/site-packages/django_comments_xtd/static/django_comments_xtd/js/vendor~plugin-3.0.0.js.map'
Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    main()
  File "manage.py

[2020-11-11 09:28] danirus commented on #235
Yes, you can customize it in the `webpack.config.js` file in the root directory. Edit it and add the `automaticNameDelimiter` entry to the `splitChunks` attribute (after line 20). If you wanted a simple hyphen you would have this:

        splitChunks: {
          automaticNameDelimiter: '-',
            cacheGroups: {
               ...

After that run the command `webpack -p` and you will get th

[2020-11-11 10:47] jgourmelen commented on #235
It's OK ;), thanks a lot !

[2020-11-15 10:56] suzimaan opened #237 "CEO or CFO Tools AND spamming tutorial BUY https://spam-tools.cc"
<h4><p><a href="https://spam-tools.cc">CEO or CFO Tools AND spamming tutorial BUY  https://spam-tools.cc  </a></p> </h4>
<h4><p>Click Here For Tools   <a href="https://spam-tools.cc">SPAMMING TOOLS  E r R 0 r e 404.™ ( ͡° ͜ʖ﻿ ͡°)   </a></p> </h4>
<p>SSL Secure cpanel 26$  <a href="https://spam-tools.cc/index.php?id_category=12&controller=category">CliCk Here About PRODUCT   </a></p>
<p>SSL Secure

[2020-11-17 07:00] jhancia commented on #161
Hello, thanks for this excellent package. Wondering if there's an ETA for this vanilla javascript release. Have a deadline coming up and we'd love to use django-comments-xtd with the ajax javascript plugin.  Despite experience with jQuery and bootstrap, our team isn't familiar with react and we weren't able to get it working.

We are also supporting bootstrap 3 and while we were able to modify a f

[2020-11-18 05:48] danirus commented on #161
Hi @jhancia, there is no estimation. I started working on it as part of other major changes in the app (branch issue-210, which uses a new model `CommentReaction` instead of `CommentFlag`). I wish I could have it by the end of the year, but at the current pace of development I am afraid I will extend beyond those dates.
In the meanwhile if you need help integrating the current plugin based on Reac

[2020-11-18 13:59] uhexos opened #238 "Attempting to add a new reply fails with TemplateDoesNotExist at /comments/reply/1/ base.html"
After brand new install, adding comments works just fine but attempting to reply to a comment gives
`TemplateDoesNotExist at /comments/reply/1/  base.html. `
I have no template in my directory structure called base.html and adding one to my project which extends my current template just throws even more TemplateDoesNotExist errors.

[code]

Sample Entry Template File.

[code]
Also  added a comment

[2020-11-18 14:23] danirus commented on #238
The template content you posted here is duplicated. That must giving you already a lot of errors.
Once you fix that, if the issue is still about the `base.html` template, you could either:
1. Create a base.html template in your templates directory, like `templates/django_comments_xtd/base.html`, or
1. Provide your own reply.html template in any of the directories you got listed: `django_comments_x

[2020-11-18 14:36] uhexos commented on #238
With regards to your 2nd suggestions those Paths are inside the venv folder are you recommending I edit those directories ?

[2020-11-18 14:43] uhexos commented on #238
Creating a directory as templates/django_comments_xtd/reply.html has fixed the issue. However the documentation states that the folder should be called comments **comments** instead of  **django_comments_xtd** don't know if this is correct. However changing the name fixed the issue I was facing thanks

[2020-11-18 14:46] danirus commented on #238
No. In your Django project settings module you must have an entry called `TEMPLATES`. That entry may have a `DIRS` entry (not to be confused with `APP_DIRS`, see the example [here](https://docs.djangoproject.com/en/3.1/ref/settings/#templates)). Having `APPS_DIR: True` makes Django use the templates installed within the app (which is in your virtualenv), but if you want to replace any of those tem

[2020-11-18 16:37] #238 closed

[2020-11-18 16:43] uhexos commented on #238
Ended up just abandoning the package as every page required me to make a custom template then randomly my server started requesting all the bootstrap mixins instead  of just using the min file.

[2020-11-21 04:35] dtdibaba opened #239 "Comments do not post: raises page not found error"
When I try to post comment or preview, it raises Page not found error.
It shows this URL http://127.0.0.1:8000/comments/post/.

I installed both django_comments and django_comments_xtd
Added
'django_comments_xtd',
 'django_comments',
to INSTALLED_APPS

I included path('comments/, include(django.comments_xtd.urls))  in my project and app urls

Added the CommentModerator class to my model.
And added

[2020-11-21 16:11] danirus commented on #239
It sounds as if you forgot to activate the virtualenv before installing django-comments-xtd. As you already pointed out, a directory called `django_comments_xtd` has to exist in `lib/python3.8/site-packages/`. Try to activate the virtualenv and then install the package, in that order, as stated in the [introduction](https://django-comments-xtd.readthedocs.io/en/latest/tutorial.html#introduction) o

[2020-11-21 16:38] dtdibaba commented on #239
Here are my codes:
source ~/Desktop/WEB2/bin/activate
pip3 install django-comments-xtd

Feedback:
Requirement already satisfied: django-comments-xtd in ./Desktop/WEB2/lib/python3.8/site-packages/django-comments-xtd (2.8.1)

I have added:
 'django_comments',
 'django_comments_xtd',
to my INSTALLED_APPS.

And I have added:
COMMENTS_APP = "django_comments_xtd"

![Screen Shot 2020-11-21 at 10 36 54](h

[2020-11-22 07:58] danirus commented on #239
As the error says, you don't have a `flatpage` matching the query.
What makes you think it's an issue with django-comments-xtd?

[2020-11-22 21:26] dtdibaba commented on #239
In the demo, I have not seen a flatepage created for the comments objects. In my app, I have a Comment model that shows comments and counts the number of comments for a post. That is too basic. It does not have a moderator functionality. All comments are free and the comments appear on the post even though I can disable or delete a comment from the admin page. It is a bare minimum one. What I am t

[2020-11-23 06:19] danirus commented on #239
django-comments-xtd doesn't have a requirement on the flatpages app. Here I would be glad to help you if there was a problem with django-comments-xtd. But that is not the case. To understand how to integrate the app with Django projects you could try to get acquainted with the code of the tutorial, and additionally and very valuable, playing with the demos.
Good luck.

[2020-11-23 07:27] dtdibaba commented on #239
I understand, it is not the problem of django-comments-xtd. I assume I might have missed something.
The issue is it does not take me to the preview page or post the comment at all. So, the problem is, the django-comment-xtd  forms, models, and views are not properly working for me. It does not save the comments on the admin page under COMMENTS XTD either.
Sorry for bothering you,and  thanks.

[2020-11-23 07:55] danirus commented on #239
It looks like you forgot to create the template for a flatpage. The flatpages app is documented [here](https://docs.djangoproject.com/en/3.1/ref/contrib/flatpages/).

I recommend you to slow down and enjoy learning Python/Django. Django is a large product that will save you a lot of time, code and headaches, it takes time to master it. I still don't. I find myself reading the docs very often, and

[2020-11-23 09:12] #239 closed

[2020-11-23 09:13] danirus commented on #239
Don't hesitate to reopen the issue if you find out there is issue in django-comments-xtd.

[2020-12-03 08:29] ZeroCoolHacker opened #240 "How do i calculate security hash on the frontend?"
I am trying to use it as a rest api. But it always throws security hash related errors. How should i be calculating what to pass there?

[2020-12-03 16:16] danirus commented on #240
The post api entry at `<comments-mount-point>/api/comment/` expects the same fields as when you post using the regular form. The regular form expects the security fields among which there is a `security_hash` field. However you can use the alternative solution of authorizing the request. I explained it [here](https://django-comments-xtd.readthedocs.io/en/latest/webapi.html#post-a-new-comment). Ple

[2020-12-09 15:13] #240 closed

[2020-12-17 17:03] ogurec-ogurec opened #244 "Change the appearance of a comment"
Hello Danirus!

I have a question: I would like to slightly change the look of the comment, for example like this:

![image](https://user-images.githubusercontent.com/66796268/102518712-f0ed0e80-4024-11eb-955e-2dcb494fc80c.png)

Name
date
Comment
like/dislike
Answer

Where can I change the html to change the comment template?

[2020-12-18 07:38] #244 closed

[2020-12-19 13:24] ogurec-ogurec commented on #204
@mckinly please tell me, are you working on this improvement?)

[2020-12-19 14:17] mckinly commented on #204
No, not any longer.

On Sat, Dec 19, 2020, 07:24 ogurec-ogurec <notifications@github.com> wrote:

[2020-12-27 01:35] Loneattic opened #246 "Localized submit_date in JavaScript plugin"
how can I localize the submit_date when using the JavaScript plugin?

[2020-12-27 08:51] #246 closed

[2020-12-28 00:21] ogurec-ogurec opened #247 "Redirecting to admin"
Hello, I have a little problem. If I click the like button for an unauthorized user, I am redirected to the admin page:

`localhost/admin/login/?next=/comments/like/290/`

my settings:

[code]

How do I make it redirect to the `/login` page (not the admin panel)?

[2020-12-28 07:51] #247 closed

[2020-12-28 08:05] Loneattic opened #248 "Localized submit_date in JavaScript plugin"
How can I localize the submit_date when using the JavaScript plugin?

Plugin gets the UTC date, as specified in the Django settings. Usually the date in the template adjusts itself for each user's local time. But comments display it in UTC.

[2020-12-28 17:10] ogurec-ogurec opened #249 "Submit fill out the form, send after authorization"
@Danirus, I have a little idea.
More than once I noticed such a thing on the sites that there is a form for sending comments, you can enter a comment in it, but when you click on the "Submit" button, a window with atorization appears. After authorization, the comment is sent.

That is, we first let the user write a comment, but he can only send it by logging in. Do you think this can increase the

[2021-01-12 10:22] impythonista opened #250 "Web API doesn't handle MaxThreadLevelExceededException"
@danirus
Web api doesn't handle MaxThreadLevelExceededException Exception when Web API call happens `http://localhost:8888/comments/api/comment/` .

I use below settings in settings.py

`COMMENTS_XTD_MAX_THREAD_LEVEL = 1`

API response should be a meaningful message instead just returning exception.

**Traceback**

[code]

[2021-01-14 08:38] drholera commented on #206
Hello @danirus, could I take a look at this issue?

As I understood right if the `COMMENTS_XTD_DEFAULT_FOLLOW_UP` setting is switched to `False` we shouldn't display the "Follow up" checkbox, am I right?

Thanks

[2021-01-14 15:46] danirus commented on #206
Hi @drholera,
Yes, you can adopt it. Please add some unit tests too.
The idea is to use it along with the `XtdCommentForm`, to provide a default value for the `followup` field.
To avoid displaying the field in the form the user can edit/replace the `form.html` template and the form validation will accept the value given in the `COMMENTS_XTD_DEFAULT_FOLLOW_UP` setting, because the field is not requ

[2021-01-15 07:13] danirus opened #252 "Use GitHub actions"
Migrate the CI to GitHub actions.

[2021-01-15 07:17] #250 closed

[2021-01-15 07:18] danirus commented on #250
Thanks @impythonista for reporting this issue.
It has been fixed and merged into master.
It will be released as part of v2.8.2.

[2021-01-15 22:08] Loneattic opened #253 "Comment feedback signal"
The signal like `comment_rated` is sorely lacking.
For example, I need to change the user's rating when someone rates his comment.

[2021-01-15 22:43] Loneattic commented on #253
okay. @receiver(post_save, sender=CommentFlag)

[2021-01-15 22:43] #253 closed

[2021-01-19 12:02] drholera commented on #206
Hello @danirus
The [PR](https://github.com/danirus/django-comments-xtd/pull/254) is added, could you please check if it's what we expect here?

[2021-01-19 21:21] ogurec-ogurec commented on #193
Tell please, is it possible to somehow make it so that when a user is deleted, his comments are also deleted?

[2021-01-20 07:19] danirus commented on #193
The solution is explained along this thread. The code two comments above shows how to delete comments posted to an object. You can write a receiver in the same way called when a user is deleted.
Bear in mind that you might break the comments structure by doing so. Deleting a parent comment will leave all nested comments referencing a comment that doesn't exist. You could leave the comment but anon

[2021-01-21 07:19] mhoonjeon opened #255 "Include comment id in Comment Create API response"
Currently the comment id is missing from the comment create API response.
When a user leaves a comment, he/she might want to delete the comment immediately. Unless we get the id in response to create(POST) request, this means we have to refresh the page to fetch the comment list on another request.

I have looked at the code to customize this behavior, but currently, it seems difficult to override

[2021-01-21 07:27] mhoonjeon commented on #255
This was the best I can do

[code]

[2021-01-21 14:51] odescopi opened #256 "comments-xtd-max-thread-level"
Good day Dan..I have successfully implement the django-comments-xtd app to my project..but there is a little glitch.. after I implemented the Java script API plug in,it doesn't affect the COMMENT_XTD_MAX_THREAD_LEVEL.. because even after i set it 0 at the backend yet the frontend still carries a clickable reply link attached to the comment..and when feed in a reply the whole comment system freeze

[2021-01-21 16:00] odescopi opened #257 "Django-comments-xtd"
Good day Dan..I have successfully implement the django-comments-xtd app to my project..but there is a little glitch.. after I implemented the Java script API plug in,it doesn't affect the COMMENT_XTD_MAX_THREAD_LEVEL.. because even after i set it 0 at the backend yet the frontend still carries a clickable reply link attached to the comment..and when feed in a reply the whole comment system freeze

[2021-01-21 22:05] beasyx0 opened #258 "Getting 403 Forbidden when trying to post a comment using the javascript plugin only when logged in"
Hey there, so I followed the tutorial to a T and everything worked flawlessly until I got to the end and enabled the javascript plugin. Now whenever I'm logged in it says 'Sorry, your comment has been rejected' with a log message in my console 'WARNING 2021-01-21 16:18:04,155 log 807 139885087475456 Forbidden: /comments/api/comment/'. When I log out everything works fine. Can you try to guide me i

[2021-01-22 10:23] danirus commented on #206
Hi @drholera, thanks for adopting it.
You have implemented something different.

This new setting is only to feed the form `followup` field with a default value. There is no need to change the template. Adopters of this app can change the template at will if they want to hide the field. So the implementation is far easier than what you have done. It requires changes in the `defaults.py` module (to

[2021-01-22 10:41] danirus commented on #258
Hi @beasyx0, it seems to be the same issue as #256.
It will be fixed in the next release, v2.8.2.
Thanks for reporting it.

[2021-01-22 10:41] danirus commented on #258
Duplicate of #256

[2021-01-22 10:42] danirus commented on #257
Duplicate #256.

[2021-01-22 10:42] #257 closed

[2021-01-22 11:20] danirus commented on #255
Hi @mhoonjeon. Indeed, when the response code is 201, it should return the id of the new created message.

[2021-01-22 16:26] odescopi commented on #257
Good day Dan..thanks for your help..I have implemented the charges but it
seems after installing django-comments-xtd package there is only
2.8.0,2.8.1,and 3.0.0 js plugin there is no 2.8.2..after I changed the src
in the static files link in articles_detail to 2.8.2 just like u
implemented there is not comment form showing..but when I reverted back to
2.8.1 the comment form appeared but the issue

[2021-01-22 19:28] #255 closed

[2021-01-22 19:33] #256 closed

[2021-01-22 19:35] danirus commented on #258
Resolved with ebd355dab8f0ba6d59c9b9c7a1eecbc4d735d897.

[2021-01-22 19:39] danirus commented on #249
Thanks for the idea @ogurec-ogurec.
But honestly, I don't like to fall in such tricks 😅 I prefer not do it.

[2021-01-22 19:39] #249 closed

[2021-01-22 19:50] danirus commented on #248
Thanks for this report @Loneattic. It's a good catch!

[2021-01-22 20:00] danirus commented on #257
Hi @odescopi, I'll make a release (v2.8.2) no later than Monday that will include the fix for this issue.
Before Monday you could use the master branch and run `npm run build`. If you run the command in master it will build the plugin v2.8.2. You will have to change your templates to use that version.

[2021-01-22 20:11] odescopi commented on #257
Thanks Dan.. please be my mentor..lol...u are really good at what u do..
thanks am grateful ..I'll wait till Monday.. PS if install the latest
version I wouldn't have to change my template much(article_detail)..just
the script Js src link(2.8.2)..

On Fri, Jan 22, 2021, 9:00 PM Daniel Rus Morales <notifications@github.com>
wrote:

[2021-01-23 19:18] #248 closed

[2021-01-23 19:19] #234 closed

[2021-01-23 23:55] odescopi commented on #257
Good day dan.. please my project has a user app so only authenticated users
can comment but it seems your login for unauthenticated users redirects to
to Django admin login page (reply,likes, dislikes,flag) instead of a user
login page I created..how do I reset it to my user login page..
Also it seems ur flagging doesn't render on the same page like
reply,likes..it opens another page could it be p

[2021-01-24 10:27] danirus commented on #257
Hi @odescopi, please, ask this kind of questions in [Discussion](https://github.com/danirus/django-comments-xtd/discussions).
Thank you!

[2021-01-24 11:32] odescopi commented on #257
Thanks dan..I just posted my question on the discussion platform..

On Sun, Jan 24, 2021, 11:28 AM Daniel Rus Morales <notifications@github.com>
wrote:

[2021-01-24 17:20] ogurec-ogurec opened #266 "Username on reply (UX)"
I would like to propose as a possible idea for ux. Сan add the name to whom you are answering, when replying to a comment. When you click on this name, a link to the author of the root comment in which the answer is given.

![image](https://user-images.githubusercontent.com/66796268/105637966-81c4c000-5e03-11eb-83f7-86401606bca2.png)

I think this might improve the visual UX for the user.

[2021-01-24 17:52] danirus commented on #266
That is confusing. At first sight it looks like I can click there to answer Pavel Ivanov.
It's common to add the name of the person you are answering directly in the comment. Like here: @ogurec-ogurec.

[2021-01-24 19:32] ogurec-ogurec commented on #266
I partially agree, I also saw the decision that **@username** is added automatically when you click on the "Reply" button. That is, the comment proposal already begins **@useername_reply**, text comment.... In any case, the final decision is yours :)

[2021-01-25 05:31] danirus commented on #256
The fix for this issue has been released with v2.8.2.

[2021-01-25 05:31] danirus commented on #255
The fix for this issue has been released with v2.8.2.

[2021-01-25 05:31] danirus commented on #250
The fix for this issue has been released with v2.8.2.

[2021-01-25 05:32] danirus commented on #248
The fix for this issue has been released with v2.8.2.

[2021-01-25 11:02] odescopi commented on #256
Thanks dan..how do I get it..I tried to use pip install django-comments-xtd
but it's seems only 2.8.1 version exits

On Mon, Jan 25, 2021, 6:31 AM Daniel Rus Morales <notifications@github.com>
wrote:

[2021-01-25 11:12] danirus commented on #256
Sorry. Try again. Just uploaded it.

[2021-01-25 11:25] odescopi commented on #256
Wow😀 it's working now.. thanks a bunch Dan..I owe u lunch anytime I meet
u..I can work with these for now till the future plugging with emoji comes
along..am grateful

On Mon, Jan 25, 2021, 12:12 PM Daniel Rus Morales <notifications@github.com>
wrote:

[2021-01-25 11:39] odescopi commented on #256
I noticed another thing Dan..for now it's just the reply,likes,and dislikes
that render on the same page except the flagging.. which renders on another
page..is this an oversight..?

On Mon, Jan 25, 2021, 12:25 PM Odescopi Spinach <nnamdiodera@gmail.com>
wrote:

[2021-01-26 09:37] drholera commented on #206
Thank you for the clarification. I've created a new [PR](#270), I think now it should be better. Could you please check if it's what we need?

In this PR we have a new setting `COMMENTS_XTD_DEFAULT_FOLLOW_UP` with the default value `False`. If we'll switch it to `True` - the 'followup' checkbox on the comment form will become checked. Also added tests there.

[2021-01-27 19:35] danirus commented on #256
No, it just that I didn't enable flagging in the JavaScript plugin.

[2021-01-28 01:23] odescopi commented on #256
Hi Dan.. thanks for your help.. please is there a way I can add profile pic
to users that comment

On Wed, Jan 27, 2021, 8:36 PM Daniel Rus Morales <notifications@github.com>
wrote:

[2021-01-28 14:31] ogurec-ogurec commented on #266
@danirus I would like to ask, how can I add the name to whom the user answers next to the nickname? In the reply.html template?)

[2021-01-28 14:52] ogurec-ogurec commented on #204
@danirus  in this  case, one of the options, can try to leave {{mesage}} and hide the form
@mckinly I'm not good at JavaScript. Could you tell me where to make changes?

[2021-01-28 15:59] jxcl opened #271 "initialize_nested_count when run in a migration can result in schema errors"
Since django-comments-xtd runs a management command that looks at the schema outside of the current migration it's running, it's possible for it to see a schema state that is not the same as the state the schema editor is in.

In my case, when migrating from an empty database, the `django_comments_xtd.0008_auto_20200920_2037` migration was run before all of my user model migrations, causing `initi

[2021-01-28 19:16] beasyx0 commented on #258
I know this was closed but it's still not working with the new release. Could be due to something else. I dunno. Thank you though.

[2021-01-29 00:24] odescopi commented on #256
Hey Dan..am really finding it difficult to add slugs to my project..I use
self.pk and it works so fine but whenever I add self.slug I get error that
my post-detail has no reverse..
I used path(post_detail/'<slug:slug>'/,Post-detail new.as_view(), name
='post-detail')...I have slugs in my model though..

On Thu, Jan 28, 2021, 2:23 AM Odescopi Spinach <nnamdiodera@gmail.com>
wrote:

On Jan 28, 2021

[2021-01-29 12:33] danirus commented on #258
Hi @beasyx0, I need more information.
I thought it was the same issue as #256, but if not we need to get to know all the detauls.
One thing you could do is to set up the comp demo site and check whether it works for you?
There are instructions on how to do it [here](https://django-comments-xtd.readthedocs.io/en/latest/example.html) in the docs.

[2021-01-29 12:53] beasyx0 commented on #258
Alright, I will be able to do that a little later today. Thank you for responding. I have quite the setup for my blog so I thought it may be something on my end and didn't want to make a big deal about it so that is a good way to tell if it's my setup or the app itself. I will report back in a bit. Thank you!

[2021-01-29 16:43] danirus commented on #271
Thank you for your report.
I can't figure how can `initialize_nested_count` inspect your user model.
Could you please, make a repository with the code? I would like to see it in detail.

[2021-01-29 17:16] beasyx0 commented on #258
HI danirus,
Yes the demo project works as expected. Both the articles app and the quotes app. I'm guessing something within my blog is interfering with the comments app. This may not be a bug with your package. I don't even know where to start to troubleshoot this and I don't expect you to help me if the issue is on my end. Considering there doesn't seem to be anyone else having my issue you can g

[2021-01-29 18:47] danirus commented on #258
Tell me where I can get your code to take a look at it. If you prefer to keep it private, then create the minimum code to reproduce the issue. I don't mind to look into it. Maybe there is something about that `AbstractUser` that stays in the way of this application. It would be good to catch the issue.

[2021-01-30 20:10] beasyx0 commented on #258
Sure. I just made my repo public. I don't know why I have it private to begin with. Have a look if you want just don't make fun of my code I've only been doing this under a year. Here's how to run it:
[code]

[2021-02-03 18:37] dest81 opened #274 "Issues with validation in WriteCommentSerializer"
I got errors:
 `AttributeError: 'AnonymousUser' object has no attribute 'email'` [here](https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/api/serializers.py#L60)
  `AttributeError: 'AnonymousUser' object has no attribute 'get_full_name'` [here](https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/api/serializers.py#L48).

Check is done in wron

[2021-02-06 12:51] #252 closed

[2021-02-06 17:42] danirus commented on #274
Hi @dest81, thanks for your report and your solution!

[2021-02-07 05:23] #274 closed

[2021-02-07 05:24] danirus commented on #274
The code fix will be release with v2.8.3.
Thanks again for reporting it.

[2021-02-07 13:05] danirus commented on #192
Thanks for your answer, @rgutierrez-cotech. I think it solves the question.
I enabled Discussions in this repository. It seems better to handle this kind of questions.
I'm closing this issue now. If you need to reopen it, please, post it in Discussions. Thank you!

[2021-02-07 13:05] #192 closed

[2021-02-07 13:11] danirus commented on #139
My last answer pointed in the direction to solve this issue. Given that it's over 5 months since then I'm closing the issue. Please, don't hesitate to use the [Discussions](https://github.com/danirus/django-comments-xtd/discussions) if you need more help. Thanks!

[2021-02-07 13:11] #139 closed

[2021-02-07 16:50] dest81 commented on #274
@danirus thank you for the quick reaction

[2021-02-10 17:50] manisar2 opened #279 "Variable Wrongly Named"
Thanks for making such an awesome, well-documented and well-supported application!

There seems to be a variable wrongly named - either it should be `dislikedit` in models.py, or `disliked` in user_feedback.html.

Currently in templates\includes\django_comments_xtd\user_feedback.html, we have:
[code]
And in models.py, there is:
[code]
This means that, in user_feedback.html, the variable referred t

[2021-02-11 05:43] danirus commented on #279
Hi @manisar2, thank you for your kind words, and for the report, it's a good catch!

[2021-02-11 06:02] #279 closed

[2021-02-11 06:05] danirus commented on #279
It's already fixed. It will be part of v2.8.4.
But I want to resolve another issue before I make the release.
Thanks again @manisar2!

[2021-02-11 17:56] manisar2 commented on #279
My pleasure, thanks for the fix!

[2021-02-11 18:00] manisar2 commented on #279
@danirus I see no change, am I missing something?
**Removal:**
[code]
**Addition**
[code]

[2021-02-11 18:05] danirus commented on #279
You might be looking in the source code of the pip installed package.
The fix is in the master branch, [here](https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/models.py#L156) in GitHub. I have not release a new version yet.
I need to work on another issue before I prepare a new release.

However, you can install the version in GitHub. Just clone the repository, cd int

[2021-02-11 18:11] manisar2 commented on #279
I was looking at the [change log](https://github.com/danirus/django-comments-xtd/commit/134dd64d5e750ff404f480e5d3f8c82720e2e007#diff-d7d495b4c2a42a9c801009794420b9ffaae62010fcdea454a12d4f45bf8085e9). Also looked in the [repo](https://github.com/danirus/django-comments-xtd/blob/master/django_comments_xtd/models.py#L156). I think you meant to change the **key** `disliked` to `dislikedit`.
Currently